$cos_bp: 1330px;
$xl-bp: 1024px;

$lg-bp: 920px;
// $sm-bp: 500px;
$sm-bp: 480px;
$mb-bp: 850px;
$sr-bp: 700px;

$mm-bp: 1200px;

// help bp
$rm-bp: 1792px;
$pm-bp: 1545px;
$hb-bp: 1310px;
$bm-bp: 1300px;
$jb-bp: 850px;
$lb-bp: 650px;
$xs-bp: 375px;

// colors
$black: #212529;
$text-black: #222222;
$orange: #F35322;
$orange-light: #FEEEE9;
$grey: #BDBDBD;

// fonts
$f-r: normal;
$f-m: 500;
$f-s: 600;
$f-b: bold;
$ff-a: Arial, sans-serif;