.development {

  @include breakpoint($jb-bp) {
    padding-top: 6.7rem;
  }

  &-head {
    max-width: 133.8rem;
    padding: 6.8rem 2.4rem 7rem;
    margin: 0 auto;

    @include breakpoint($mm-bp) {
      padding: 4.8rem 2.4rem 5rem;
    }

    @include breakpoint($sm-bp) {
      padding: 3.2rem 2.4rem 2.4rem;
    }

    &__title {
      font-size: 9.6rem;
      line-height: 9.8rem;
      font-weight: $f-m;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      margin-bottom: 3.8rem;

      @include breakpoint($mm-bp) {
        font-size: 6.4rem;
        line-height: 100%;
        margin-bottom: 2.8rem;
        gap: 0rem;
      }

      @include breakpoint($sm-bp) {
        display: inline-block;
        font-size: 3.2rem;
        margin-bottom: 1.2rem;
      }

      span {
        padding-left: 10.9rem;

        @include breakpoint($mm-bp) {
          padding-left: 9.6rem;
        }

        @include breakpoint($jb-bp) {
          padding: 0;
        }
      }
    }

    &__subtitle {
      font-size: 3.2rem;
      font-weight: $f-s;
      padding-left: 10.9rem;
      margin-bottom: 4.5rem;

      @include breakpoint($mm-bp) {
        font-size: 2.6rem;
        margin-bottom: 4rem;
        padding-left: 9.6rem;
      }

      @include breakpoint($jb-bp) {
        padding: 0;
      }

      @include breakpoint($sm-bp) {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }

    &-info {
      padding-left: 10.9rem;
      display: flex;
      align-items: center;
      gap: 8.2rem;

      @include breakpoint($mm-bp) {
        padding-left: 9.6rem;
        gap: 9.6rem;
      }

      @include breakpoint($jb-bp) {
        padding: 0;
      }

      @include breakpoint($sm-bp) {
        flex-direction: column;
        align-items: flex-start;
        gap: 3.2rem;
      }
    }

    &__text {
      font-size: 2.2rem;
      line-height: 3rem;
      font-family: $ff-a;
      max-width: 46.2rem;

      @include breakpoint($mm-bp) {
        font-size: 1.8rem;
        line-height: 2.4rem;
        max-width: 38.3rem;
      }
    }

    &__btn {
      color: $orange;

      @include breakpoint($sm-bp) {
        color: #fff;
      }

      @include breakpoint($xs-bp) {
        width: 100%;
      }
    }
  }

  &-history {
    background-color: $text-black;
    border-top-left-radius: 6.4rem;
    border-top-right-radius: 6.4rem;
    padding-bottom: 14rem;

    @include breakpoint($jb-bp) {
      border-top-left-radius: 4rem;
      border-top-right-radius: 4rem;
    }

    *:not(.development-history__link) {
      color: #fff;
    }

    &-swiper {
      width: 100%;
      height: 42.4rem;
      margin-bottom: 14rem;
      padding: 0 2.4rem;

      @include breakpoint($mm-bp) {
        margin-bottom: 8rem;
        height: 37rem;
      }

      @include breakpoint($sm-bp) {
        height: 19rem;
        margin-bottom: 4rem;
      }

      &-wrapper {
        height: 100%;
        width: fit-content;
      }

      &-slide {
        height: 100%;
        width: auto;
        border-radius: 1.6rem;
        overflow: hidden;

        &__img {
          object-fit: cover;
          object-position: center center;
          height: 100%;
        }
      }
    }
  }
}