@import "../vars";

.footer {
  margin-top: auto;

  &-container {
    max-width: 134.2rem;
    margin: 0 auto;
    padding: 0 2.4rem;
  }

  &-top {
    border-top: 0.1rem solid $grey;
    border-bottom: 0.1rem solid $grey;
    padding: 6.9rem 0rem 4rem 1.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 7rem;

    @include breakpoint($mm-bp) {
      padding-top: 4.9rem;
    }

    @include breakpoint($jb-bp) {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 0;
    }

    @include breakpoint($sm-bp) {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      border-top: none;
      padding-top: 3rem;
      padding-bottom: 3.2rem;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.9rem;

      &__title {
        font-size: 2.4rem;
        line-height: 2.9rem;
        font-weight: $f-s;

        @include breakpoint($mm-bp) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }

      &__btn {
        @include breakpoint($sm-bp) {
          margin-bottom: 2.1rem;
        }

        @include breakpoint($xs-bp) {
          width: 100%;
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        &__link {
          font-size: 1.6rem;
          line-height: 1.9rem;
          transition: .3s;

          &:hover {
            color: $orange;
            opacity: 0.5;
          }
        }
      }

      &__link {
        &_icon {
          width: 5.7rem;
          height: 5.5rem;

          svg {
            object-fit: contain;
            object-position: left center;
            width: 100%;
            height: 100%;
          }
        }
      }

      &__text {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
  }

  &-legal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2.4rem 0;
    align-items: center;

    @include breakpoint($sm-bp) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;
    }

    &__text {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-family: Arial, sans-serif;

      @include breakpoint($sm-bp) {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }

    &__link {
      font-size: 1.6rem;
      line-height: 1.9rem;
      text-decoration: underline;
      text-align: center;

      @include breakpoint($sm-bp) {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }

    &-social {
      display: flex;
      align-items: center;
      justify-content: flex-end;


      &__link {
        padding: 1rem 0.8rem;
        border: 0.1rem solid $grey;
        border-radius: 6.4rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: $f-m;
        transition: .3s;

        &:hover {
          color: #fff;
          background-color: $orange;
          border-color: $orange;
        }

        @include breakpoint($sm-bp) {
          font-size: 1.4rem;
          line-height: 1.6rem;
        }
      }
    }
  }
}