.history {
  padding: 7rem 0rem 10.2rem;

  @include breakpoint($mm-bp) {
    padding: 5rem 0;
  }

  @include breakpoint($sm-bp) {
    padding: 8vw 0;
  }

  &-container {
    max-width: 134rem;
    padding: 0 2.4rem;
    margin: 0 auto;
  }

  &-title {
    font-size: 7rem;
    line-height: 7.2rem;
    font-weight: $f-s;
    display: flex;
    flex-direction: column;
    margin-bottom: 6.2rem;

    @include breakpoint($mm-bp) {
      font-size: 4.8rem;
      line-height: 5.2rem;
      margin-bottom: 4.8rem;
    }

    @include breakpoint($sm-bp) {
      font-size: calc(2.4rem * 1.33);
      line-height: calc(2.8rem * 1.33);
      margin-bottom: calc(2.4rem * 1.33);
    }

    span {
      padding-left: 10.9rem;

      @include breakpoint($mm-bp) {
        padding-left: 9.6rem;
      }

      @include breakpoint($sm-bp) {
        padding: 0;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10.7rem;
    row-gap: 4.8rem;
    width: fit-content;

    @include breakpoint($mm-bp) {
      column-gap: 9.6rem;
      row-gap: 4rem;
    }

    @include breakpoint($jb-bp) {
      grid-template-columns: 1fr;
      row-gap: 2rem;
      width: 100%;
    }

    @include breakpoint($sm-bp) {
      row-gap: calc(1.6rem * 1.33);
    }

    &-item {
      width: 54.6rem;
      padding: 3.2rem 0;
      border-top: 0.1rem solid $grey;

      @include breakpoint($mm-bp) {
        padding: 2.4rem 0;
        width: 48rem;
      }

      @include breakpoint($jb-bp) {
        width: 100%;
      }

      @include breakpoint($sm-bp) {
        padding: 3vw 0;
      }

      &:nth-child(1),
      &:nth-child(2) {
        border: none;
        padding-top: 0;
        padding-bottom: 2.2rem;

        @include breakpoint($mm-bp) {
          padding: 0;
        }
      }

      &:nth-child(2) {
        @include breakpoint($jb-bp) {
          margin-bottom: 1.2rem;
        }
      }

      &__text {
        font-size: 2.4rem;
        line-height: 3.3rem;
        font-family: $ff-a;
        margin-bottom: 3.6rem;

        @include breakpoint($mm-bp) {
          font-size: 2rem;
          line-height: 2.8rem;
          margin-bottom: 2.4rem;
        }

        @include breakpoint($jb-bp) {
          max-width: 48rem;
          margin-bottom: 1.2rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.4rem * 1.33);
          line-height: calc(2rem * 1.33);
        }
      }

      &__img {
        height: 7.6rem;
        margin-bottom: 3.2rem;

        @include breakpoint($mm-bp) {
          height: 5.4rem;
          margin-bottom: 2rem;
        }

        @include breakpoint($jb-bp) {
          margin-bottom: 1.6rem;
        }

        @include breakpoint($sm-bp) {
          height: calc(3.6rem * 1.33);
          margin-bottom: calc(1.6rem * 1.33);
        }

        img {
          object-fit: contain;
          object-position: left;
          height: 100%;
        }
      }

      &__subtitle {
        font-size: 3.2rem;
        font-weight: $f-s;
        margin-bottom: 0.8rem;

        @include breakpoint($mm-bp) {
          font-size: 2.6rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.6rem * 1.33);
          line-height: calc(2rem * 1.33);
          margin-bottom: calc(0.2rem * 1.33);
        }
      }

      &__link {
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: $grey;
        display: flex;
        flex-direction: column;
        width: fit-content;

        &::after {
          content: "";
          width: 100%;
          height: 0.1rem;
          background-color: $grey;
        }

        @include breakpoint($mm-bp) {
          font-size: 1.6rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.2rem * 1.33);
          line-height: calc(1.6rem * 1.33);
        }
      }

      &__title {
        font-size: 8rem;
        line-height: 9.6rem;
        font-style: italic;

        @include breakpoint($mm-bp) {
          font-size: 7rem;
          line-height: 8.4rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(3.2rem * 1.33);
          line-height: calc(3.8rem * 1.33);
        }
      }

      &__description {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-family: $ff-a;

        @include breakpoint($jb-bp) {
          max-width: 48rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.2rem * 1.33);
          line-height: calc(1.6rem * 1.33);
        }
      }

      &__btn {
        margin-bottom: 0.4rem;
      }
    }
  }
}