.import-drinks {
  overflow: hidden;

  @include breakpoint($jb-bp) {
    padding-top: 6.7rem;
  }

  @include breakpoint($sm-bp) {
    padding-top: calc(6.8rem * 1.28);
  }

  &-head {
    max-width: 133.8rem;
    margin: 0 auto;
    padding: 6.8rem 2.4rem 3.7rem 2.4rem;

    @include breakpoint($mm-bp) {
      padding: 4.8rem 2.4rem 4rem;
    }

    @include breakpoint($jb-bp) {
      padding: 3.2rem 2.4rem 2.4rem;
    }

    @include breakpoint($sm-bp) {
      padding: calc(3.2rem * 1.28) 2.4rem;
    }

    &__title {
      font-size: 7rem;
      line-height: 7.2rem;
      font-weight: $f-s;
      margin-bottom: 3.8rem;

      @include breakpoint($mm-bp) {
        font-size: 4.8rem;
        line-height: 5.2rem;
        margin-bottom: 2.8rem;
      }

      @include breakpoint($jb-bp) {
        font-size: 3.6rem;
        line-height: 4.2rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(2.4rem * 1.28);
        line-height: calc(2.8rem * 1.28);
        margin-bottom: calc(2rem * 1.28);
      }
    }

    &__inner {
      display: flex;
      align-items: flex-start;
      gap: 14.1rem;
      margin-bottom: 3.7rem;

      @include breakpoint($mm-bp) {
        gap: 9.2rem;
        margin-bottom: 3.2rem;
      }

      @include breakpoint($jb-bp) {
        gap: 5rem;
      }

      @include breakpoint($sm-bp) {
        flex-direction: column-reverse;
        gap: calc(2rem * 1.28);
        margin-bottom: calc(2rem * 1.28);
      }
    }

    &__text {
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-family: $ff-a;
      max-width: 52.8rem;

      @include breakpoint($mm-bp) {
        font-size: 1.6rem;
        line-height: 2.2rem;
        max-width: 48.4rem;
      }

      @include breakpoint($jb-bp) {
        max-width: 35.1rem;
      }

      @include breakpoint($sm-bp) {
        max-width: 100%;
        font-size: calc(1.4rem * 1.28);
        line-height: calc(2rem * 1.28);
      }

      strong {
        font-family: "Gilroy";
        font-weight: $f-b;
        white-space: nowrap;
      }
    }

    &-keys {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1.6rem;
      row-gap: 1rem;

      @include breakpoint($mm-bp) {
        column-gap: 1.2rem;
      }

      @include breakpoint($jb-bp) {
        gap: 1.2rem;
      }

      @include breakpoint($sm-bp) {
        gap: calc(0.8rem * 1.28);
      }
    }
  }

  &-main {
    padding: 0rem 2.4rem 7rem 2.4rem;
    perspective: 50rem;

    @include breakpoint($mm-bp) {
      padding-bottom: 5rem;
    }

    @include breakpoint($sm-bp) {
      padding-bottom: calc(3rem * 1.28);
    }

    &-container {
      height: 75.2rem;
      border-radius: 6.4rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eaeaea;
      perspective: 100rem;
      transform-style: preserve-3d;
      transform: rotateX(-0.5deg) rotateY(-1deg) translateX(-3rem);

      @include breakpoint($mm-bp) {
        height: 55.6rem;
      }

      @include breakpoint($jb-bp) {
        height: 40.1rem;
        border-radius: 3.2rem;
        transform: rotateX(-0.5deg) rotateY(-1deg) translateX(-0.5rem);
      }

      @include breakpoint($sm-bp) {
        height: calc(35.1rem * 1.28);
        border-radius: calc(2.4rem * 1.28);
        transform: rotateX(-0.5deg) rotateY(-1deg) translateX(-0.5rem * 1.28);
      }
    }

    &-inner {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 6rem;
      transform-style: preserve-3d;
      transform: rotateX(35deg) rotate(45deg) translateX(4rem) translateY(-100rem) translateZ(20rem);

      @include breakpoint($mm-bp) {
        gap: 4.3rem;
        transform: rotateX(35deg) rotate(45deg) translateX(4rem) translateY(-100rem) translateZ(10rem);
      }

      @include breakpoint($jb-bp) {
        gap: 3rem;
        transform: rotateX(35deg) rotate(45deg) translateX(2rem) translateY(-100rem) translateZ(5rem);
      }

      @include breakpoint($sm-bp) {
        gap: calc(2rem * 1.28);
        transform: rotateX(35deg) rotate(45deg) translateX(-2rem * 1.28) translateY(-100rem) translateZ(5rem);
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &__img {
        width: 62.5rem;
        background-color: #acacac;
        margin-bottom: 6rem;

        @include breakpoint($mm-bp) {
          width: 46.3rem;
          margin-bottom: 4.3rem;
        }

        @include breakpoint($jb-bp) {
          margin-bottom: 3rem;
          width: 32rem;
        }

        @include breakpoint($sm-bp) {
          width: calc(20.3rem * 1.28);
          margin-bottom: calc(2rem * 1.28);
        }

        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }

  &-task {
    padding: 7rem 2.4rem;
    max-width: 133.8rem;
    margin: 0 auto;

    @include breakpoint($mm-bp) {
      padding: 5rem 2.4rem;
    }

    @include breakpoint($jb-bp) {
      padding: 2.5rem 2.4rem;
    }

    @include breakpoint($sm-bp) {
      padding: calc(3rem * 1.28) 2.4rem;
    }

    &-head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 7rem;

      @include breakpoint($mm-bp) {
        margin-bottom: 4.8rem;
      }

      @include breakpoint($sm-bp) {
        flex-direction: column;
        gap: calc(0.6rem * 1.28);
        margin-bottom: calc(1.8rem * 1.28);
      }
    }

    &__title {
      font-size: 3.8rem;
      line-height: 4.7rem;
      font-weight: $f-s;

      @include breakpoint($jb-bp) {
        font-size: 2.4rem;
        line-height: 2.9rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(1.8rem * 1.28);
        line-height: calc(2.2rem * 1.28);
      }
    }

    &__description {
      max-width: 63.5rem;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      @include breakpoint($mm-bp) {
        max-width: 53.6rem;
      }

      @include breakpoint($jb-bp) {
        gap: 1rem;
        max-width: 38.5rem;
      }

      @include breakpoint($sm-bp) {
        max-width: 100%;
      }

      p {
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-family: $ff-a;

        @include breakpoint($mm-bp) {
          font-size: 1.6rem;
          line-height: 2.2rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.4rem * 1.28);
          line-height: calc(2rem * 1.28);
        }
      }
    }

    &-inner {
      position: relative;
      perspective: 50rem;
      padding: 7rem 0;

      @include breakpoint($jb-bp) {
        padding: 4.8rem 0;
      }

      @include breakpoint($sm-bp) {
        padding: calc(4rem * 1.28) calc(2.2rem * 1.28);
      }
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transform: rotateX(1deg) rotateY(-1deg) translateX(-1rem);
      background-color: rgba(254, 236, 223, 1);
      border-radius: 3.2rem;

      @include breakpoint($jb-bp) {
        transform: rotateX(3deg) rotateY(-2deg) translateX(-1rem);
      }
    }

    &-video {
      width: 107.2rem;
      height: 61.2rem;
      border: 1.2rem solid rgba(190, 190, 190, 1);
      border-radius: 2.4rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      @include breakpoint($mm-bp) {
        height: 53.9rem;
        width: 94.4rem;
      }

      @include breakpoint($jb-bp) {
        width: 57.3rem;
        height: 32.7rem;
      }

      @include breakpoint($sm-bp) {
        width: 100%;
        height: calc(18.1rem * 1.28);
      }

      img {
        object-fit: cover;
        object-position: center top;
        width: 100%;
        height: 100%;
      }

      svg {
        position: absolute;
        object-fit: contain;
        object-position: center center;
        width: 6rem;
        height: 6rem;
      }
    }
  }

  &-project {
    overflow: hidden;

    &__head {
      padding: 7rem 2.4rem;
      max-width: 133.8rem;
      margin: 0 auto;

      @include breakpoint($mm-bp) {
        padding: 2.4rem;
      }

      @include breakpoint($sm-bp) {
        padding: 0 2.4rem;
        margin-bottom: 1.8rem;
      }
    }

    &__inner {
      padding: 7rem 0rem 23.8rem;
      background-color: $orange;
      border-top-left-radius: 6.4rem;
      border-top-right-radius: 6.4rem;
      position: relative;
      display: flex;
      justify-content: center;

      @include breakpoint($mm-bp) {
        padding: 6.4rem 0rem 21.6rem;
      }

      @include breakpoint($jb-bp) {
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
        padding: 5rem 0 19.2rem;
      }

      @include breakpoint($sm-bp) {
        border-top-left-radius: calc(4rem * 1.28);
        border-top-right-radius: calc(4rem * 1.28);
        padding: calc(3rem * 1.28) 0 calc(10.5rem * 1.28);
      }
    }

    &__bg {
      position: absolute;
      width: 124%;
      height: 78%;
      top: 1.3rem;
      pointer-events: none;

      img {
        object-fit: contain;
        object-position: center top;
        width: 100%;
      }
    }

    &__content {
      position: relative;
      z-index: 1;
      max-width: 113rem;
      padding: 0 2.4rem;
      margin: 0 auto;

      @include breakpoint($mm-bp) {
        max-width: 99.2rem;
      }

      @include breakpoint($jb-bp) {
        max-width: 100%;
      }
    }

    &__img {
      display: block;
      border-radius: 2.4rem;
      width: 100vw;
      max-width: 100%;
      background-color: #fff;
      overflow: hidden;
      // height: 61.2rem;

      @include breakpoint($jb-bp) {
        border-radius: 1.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        object-position: center center;
      }
    }
  }

  &-concept {
    padding: 7rem 0rem;
    border-top-left-radius: 6.4rem;
    border-top-right-radius: 6.4rem;
    background-color: #fff;
    margin-top: -19rem;
    position: relative;
    z-index: 1;

    @include breakpoint($mm-bp) {
      padding: 5rem 2.4rem;
      margin-top: -10rem;
    }

    @include breakpoint($sm-bp) {
      padding: calc(3rem * 1.28) 2.4rem;
      border-top-left-radius: calc(4rem * 1.28);
      border-top-right-radius: calc(4rem * 1.28);
      margin-top: calc(-6rem * 1.28);
    }

    .import-drinks-project__head {
      @include breakpoint($sm-bp) {
        padding: 0;
      }
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      gap: 1.6rem;
      height: 107.4rem;

      @include breakpoint($mm-bp) {
        height: 63.5rem;
      }

      @include breakpoint($jb-bp) {
        height: 45.4rem;
      }

      @include breakpoint($sm-bp) {
        display: none;
      }
    }

    &__container {
      flex: 1;
      display: grid;
      gap: 1.6rem;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(12, 1fr);

      @include breakpoint($sm-bp) {
        display: none;
      }

      &:nth-child(odd) {
        .import-drinks-concept__inner {
          justify-content: flex-end;

          &:nth-child(1) {
            grid-area: 1/1/6/2;
          }

          &:nth-child(2) {
            grid-area: 6/1/13/2;
          }
        }
      }

      &:nth-child(even) {
        .import-drinks-concept__inner {
          justify-content: flex-start;

          &:nth-child(1) {
            grid-area: 1/1/8/2;
          }

          &:nth-child(2) {
            grid-area: 8/1/13/2;
          }
        }
      }
    }

    &__inner {
      display: flex;
      gap: 1.6rem;
    }

    &__img {
      height: 100%;
      flex: 1;
      border-radius: 0.6rem;
      overflow: hidden;

      @include breakpoint($sm-bp) {
        width: 100%;
        height: 100%;
        flex: none;
      }

      &_circle {
        flex: none;
        border-radius: 30rem;
        width: 64.6rem;
        overflow: hidden;

        @include breakpoint($mm-bp) {
          width: 37.8rem;
        }

        @include breakpoint($jb-bp) {
          width: 26.5rem;
        }

        @include breakpoint($sm-bp) {
          border-radius: 0.6rem;
          width: 100%;
          height: 100%;
        }
      }

      &_masked {
        flex: none;
        width: 64.6rem;

        @include breakpoint($mm-bp) {
          width: 37.8rem;
        }

        @include breakpoint($jb-bp) {
          width: 26.5rem;
        }

        @include breakpoint($sm-bp) {
          width: 100%;
          height: 100%;
        }

        img {
          mask-image: url(../images/import-drinks/Mask.svg);
          mask-size: 100% 100%;

          @include breakpoint($sm-bp) {
            mask-image: none;
          }
        }
      }

      img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }

    &-swiper {
      width: calc(100% + 4.8rem);
      margin: 0 -2.4rem;
      padding: 0 2.4rem;
      height: calc(22.4rem * 1.28);
      margin-bottom: calc(2rem * 1.28);

      display: none;

      @include breakpoint($sm-bp) {
        display: block;
      }
    }

    &-bullets {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
    }
  }

  &-result {
    padding: 7rem 2.4rem;
    max-width: 133.8rem;
    margin: 0 auto;

    @include breakpoint($mm-bp) {
      padding: 5rem 2.4rem;
    }

    @include breakpoint($sm-bp) {
      padding: calc(3rem * 1.28) 2.4rem;
    }

    &__title {
      font-size: 7rem;
      line-height: 7.4rem;
      font-weight: $f-s;
      margin-bottom: 1.8rem;

      @include breakpoint($mm-bp) {
        font-size: 4.8rem;
        line-height: 5.2rem;
      }

      @include breakpoint($jb-bp) {
        font-size: 3.6rem;
        line-height: 4.2rem;
        margin-bottom: 1.2rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(2.4rem * 1.28);
        line-height: calc(2.8rem * 1.28);
        margin-bottom: calc(1.2rem * 1.28);
      }
    }

    &__subtitle {
      font-size: 3.2rem;
      font-weight: $f-s;
      padding-bottom: 8.2rem;
      background-color: #fff;

      @include breakpoint($mm-bp) {
        font-size: 2.6rem;
        line-height: 3.2rem;
        padding-bottom: 5rem;
      }

      @include breakpoint($jb-bp) {
        font-size: 1.8rem;
        line-height: 2.2rem;
        padding-bottom: 3.2rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(1.6rem * 1.28);
        line-height: calc(2rem * 1.28);
        padding-bottom: calc(3.2rem * 1.28);
      }
    }

    &__inner {
      max-width: 109rem;
      margin: 0 auto;
      background-color: #fff4e7;
      border-bottom-left-radius: 4rem;
      border-bottom-right-radius: 4rem;

      @include breakpoint($mm-bp) {
        max-width: 94.4rem;
        border-bottom-left-radius: 3.5rem;
        border-bottom-right-radius: 3.5rem;
      }

      @include breakpoint($jb-bp) {
        max-width: 100%;
        border-bottom-left-radius: 2.8rem;
        border-bottom-right-radius: 2.8rem;
      }
    }

    &-info {
      display: grid;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.4rem;

        &:nth-child(1) {
          grid-area: 1/1/3/2;
          justify-content: flex-end;
          padding-left: 4rem;
          padding-bottom: 8.7rem;

          @include breakpoint($mm-bp) {
            padding-left: 3.5rem;
            padding-bottom: 7.7rem;
          }

          @include breakpoint($jb-bp) {
            padding-left: 2.7rem;
            padding-bottom: 6.5rem;
          }

          @include breakpoint($sm-bp) {
            padding-left: calc(1.6rem * 1.28);
            padding-bottom: calc(1.5rem * 1.28);
          }
        }

        &:nth-child(2) {
          grid-area: 1/2/2/3;
          background-color: #fbfafa;
          padding: 21.5rem 4rem 3.9rem 4rem;

          @include breakpoint($mm-bp) {
            padding: 18.6rem 3.5rem 3.5rem 3.5rem;
          }

          @include breakpoint($jb-bp) {
            padding: 15.5rem 2.7rem 3rem;
          }

          @include breakpoint($sm-bp) {
            padding: calc(10rem * 1.28) calc(1.6rem * 1.28) calc(1.6rem * 1.28);
          }
        }

        &:nth-child(3) {
          grid-area: 2/2/3/3;
          background-color: #ff6800;
          padding: 3.4rem 4rem;

          @include breakpoint($mm-bp) {
            padding: 3rem 3.5rem;
          }

          @include breakpoint($jb-bp) {
            padding: 2.5rem 2.7rem;
          }

          @include breakpoint($sm-bp) {
            padding: calc(1.6rem * 1.28) calc(1.6rem * 1.28) calc(1.5rem * 1.28);
          }
        }

        &:nth-child(4) {
          grid-area: 3/1/4/3;
          background-color: #392f76;
          padding: 3.5rem 0rem 3.2rem 4rem;
          border-bottom-left-radius: 4rem;
          border-bottom-right-radius: 4rem;

          @include breakpoint($mm-bp) {
            padding: 3rem 3.3rem 2.8rem;
            border-bottom-left-radius: 3.5rem;
            border-bottom-right-radius: 3.5rem;
          }

          @include breakpoint($jb-bp) {
            padding: 2.5rem 2.7rem;
            border-bottom-left-radius: 2.8rem;
            border-bottom-right-radius: 2.8rem;
          }

          @include breakpoint($sm-bp) {
            padding: calc(1.6rem * 1.28);
            border-bottom-left-radius: calc(2.8rem * 1.28);
            border-bottom-right-radius: calc(2.8rem * 1.28);
          }
        }
      }

      &__title {
        font-size: 2.4rem;
        line-height: 2.4rem;

        @include breakpoint($mm-bp) {
          font-size: 2rem;
          line-height: 2rem;
        }

        @include breakpoint($jb-bp) {
          font-size: 1.6rem;
          line-height: 1.6rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.6rem * 1.28);
          line-height: calc(1.6rem * 1.28);
        }

        &_white {
          color: #fff;
        }
      }

      &__text {
        font-size: 1.6rem;
        line-height: 2.4rem;

        @include breakpoint($mm-bp) {
          font-size: 1.4rem;
          line-height: 2rem;
        }

        @include breakpoint($jb-bp) {
          font-size: 1.2rem;
          line-height: 1.6rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.2rem * 1.28);
          line-height: calc(1.6rem * 1.28);
        }

        &_white {
          color: #fff;
        }
      }
    }

    &-images {
      height: 81.5rem;
      background-color: #fff;
      border-bottom-left-radius: 47.2rem;
      // pointer-events: none;

      @include breakpoint($mm-bp) {
        height: 70.5rem;
      }

      @include breakpoint($jb-bp) {
        border-bottom-left-radius: 33.9rem;
        height: 58.7rem;
        position: relative;
      }

      @include breakpoint($sm-bp) {
        height: calc(49.2rem * 1.28);
        border-bottom-left-radius: calc(20rem * 1.28);
      }

      &-bg {
        position: relative;
        width: 100%;
        height: 100%;

        &__bubble {
          position: absolute;
          background-color: #f54f57;
          border-radius: 50%;

          &:nth-child(1) {
            top: 13.9rem;
            left: 25.4rem;
            width: 50rem;
            height: 50rem;

            @include breakpoint($mm-bp) {
              width: 43.3rem;
              height: 43.3rem;
              top: 12.1rem;
              left: 22rem;
            }

            @include breakpoint($jb-bp) {
              width: 36rem;
              height: 36rem;
              top: 10.1rem;
              left: 18.3rem;
            }

            @include breakpoint($sm-bp) {
              width: calc(21rem * 1.28);
              height: calc(21rem * 1.28);
              top: calc(18.4rem * 1.28);
              left: calc(6.1rem * 1.28);
            }
          }

          &:nth-child(2) {
            top: 19.3rem;
            left: 19.8rem;
            width: 5.2rem;
            height: 5.2rem;

            @include breakpoint($mm-bp) {
              width: 4.5rem;
              height: 4.5rem;
              top: 16.8rem;
              left: 17.2rem;
            }

            @include breakpoint($jb-bp) {
              width: 3.7rem;
              height: 3.7rem;
              top: 14rem;
              left: 14.3rem;
            }

            @include breakpoint($sm-bp) {
              width: calc(2.2rem * 1.28);
              height: calc(2.2rem * 1.28);
              top: calc(20.7rem * 1.28);
              left: calc(3.8rem * 1.28);
            }
          }

          &:nth-child(3) {
            top: 39.5rem;
            left: 11rem;
            width: 7.3rem;
            height: 7.3rem;

            @include breakpoint($mm-bp) {
              top: 34.2rem;
              left: 9.6rem;
              width: 6.4rem;
              height: 6.4rem;
            }

            @include breakpoint($jb-bp) {
              top: 28.5rem;
              left: 8rem;
              width: 5.3rem;
              height: 5.3rem;
            }

            @include breakpoint($sm-bp) {
              top: calc(29.1rem * 1.28);
              left: 0;
              width: calc(3.1rem * 1.28);
              height: calc(3.1rem * 1.28);
            }
          }

          &:nth-child(4) {
            top: 54.9rem;
            left: 27.7rem;
            width: 3.2rem;
            height: 3.2rem;

            @include breakpoint($mm-bp) {
              top: 47.6rem;
              left: 24rem;
              width: 2.8rem;
              height: 2.8rem;
            }

            @include breakpoint($jb-bp) {
              top: 39.6rem;
              left: 20rem;
              width: 2.3rem;
              height: 2.3rem;
            }

            @include breakpoint($sm-bp) {
              top: calc(35.6rem * 1.28);
              left: calc(7.1rem * 1.28);
              width: calc(1.3rem * 1.28);
              height: calc(1.3rem * 1.28);
            }
          }

          &:nth-child(5) {
            top: 51.9rem;
            left: 76rem;
            width: 5.2rem;
            height: 5.2rem;

            @include breakpoint($mm-bp) {
              top: 44.9rem;
              left: 65.7rem;
              width: 4.5rem;
              height: 4.5rem;
            }

            @include breakpoint($jb-bp) {
              top: 37.4rem;
              left: 54.7rem;
              width: 3.7rem;
              height: 3.7rem;
            }

            @include breakpoint($sm-bp) {
              top: calc(34.1rem * 1.28);
              left: calc(27.3rem * 1.28);
              width: calc(2.2rem * 1.28);
              height: calc(2.2rem * 1.28);
            }
          }
        }
      }

      &__inner {
        width: 100%;
        height: 100%;
        position: relative;

        @include breakpoint($jb-bp) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &__img {
        position: absolute;
        border-radius: 50%;
        overflow: hidden;

        img {
          object-fit: cover;
          object-position: center center;
          width: 100%;
          height: 100%;
        }

        &:nth-child(1) {
          width: 33.7rem;
          height: 60.6rem;
          top: 7.8rem;
          left: 35.4rem;
          border-radius: 0;
          transform: rotate(-15deg);

          @include breakpoint($mm-bp) {
            height: 48.2rem;
            top: 9.5rem;
            left: 27rem;
          }

          @include breakpoint($jb-bp) {
            height: 41.2rem;
            top: 6.5rem;
            left: 17rem;
          }

          @include breakpoint($sm-bp) {
            height: calc(24.2rem * 1.28);
            top: calc(17.2rem * 1.28);
            left: calc(3.4rem * 1.28);
          }

          img {
            object-fit: contain;
          }
        }

        &:nth-child(2) {
          top: 5.5rem;
          left: 1.2rem;
          width: 25rem;
          height: 25rem;

          @include breakpoint($mm-bp) {
            width: 21.6rem;
            height: 21.6rem;
            top: 4.8rem;
            left: 1rem;
          }

          @include breakpoint($jb-bp) {
            width: 18rem;
            height: 18rem;
            top: 4rem;
            left: 0.8rem;
          }

          @include breakpoint($sm-bp) {
            width: calc(9.3rem * 1.28);
            height: calc(9.3rem * 1.28);
            top: calc(8rem * 1.28);
            left: 0;
          }
        }

        &:nth-child(3) {
          top: 11.2rem;
          left: 69.2rem;
          width: 8.3rem;
          height: 8.3rem;

          @include breakpoint($mm-bp) {
            width: 7.2rem;
            height: 7.2rem;
            top: 7.2rem;
            left: 59.8rem;
          }

          @include breakpoint($jb-bp) {
            width: 6rem;
            height: 6rem;
            top: 8.1rem;
            left: 49.8rem;
          }

          @include breakpoint($sm-bp) {
            width: calc(5rem * 1.28);
            height: calc(5rem * 1.28);
            top: calc(3.8rem * 1.28);
            left: calc(20.7rem * 1.28);
          }
        }

        &:nth-child(4) {
          top: 4.8rem;
          left: 75.9rem;
          width: 4.1rem;
          height: 4.1rem;

          @include breakpoint($mm-bp) {
            width: 3.5rem;
            height: 3.5rem;
            top: 1.7rem;
            left: 65.6rem;
          }

          @include breakpoint($jb-bp) {
            width: 2.9rem;
            height: 2.9rem;
            top: 3.5rem;
            left: 54.6rem;
          }

          @include breakpoint($sm-bp) {
            width: calc(2.4rem * 1.28);
            height: calc(2.4rem * 1.28);
            top: 0;
            left: calc(24.7rem * 1.28);
          }
        }

        &:nth-child(5) {
          top: 16.6rem;
          right: 2rem;
          width: 22.9rem;
          height: 22.9rem;

          @include breakpoint($mm-bp) {
            width: 19.8rem;
            height: 19.8rem;
            top: 19rem;
            left: 72.9rem;
          }

          @include breakpoint($jb-bp) {
            width: 16.5rem;
            height: 16.5rem;
            top: 12rem;
            left: 60.7rem;
          }

          @include breakpoint($sm-bp) {
            width: calc(8.5rem * 1.28);
            height: calc(8.5rem * 1.28);
            top: calc(11rem * 1.28);
            left: calc(24.3rem * 1.28);
          }
        }
      }
    }
  }

  &-fonts {
    max-width: 133.8rem;
    padding: 7rem 2.4rem;
    margin: 0 auto;

    @include breakpoint($mm-bp) {
      padding: 5rem 2.4rem;
    }

    @include breakpoint($sm-bp) {
      padding: calc(3rem * 1.28) 2.4rem;
    }

    &__title {
      margin-bottom: 6.2rem;

      @include breakpoint($mm-bp) {
        margin-bottom: 5rem;
      }

      @include breakpoint($jb-bp) {
        margin-bottom: 4rem;
      }

      @include breakpoint($sm-bp) {
        margin-bottom: calc(3.2rem * 1.28);
      }
    }

    &__container {
      padding-left: 10.9rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      @include breakpoint($mm-bp) {
        padding-left: 9.6rem;
      }

      @include breakpoint($jb-bp) {
        padding-left: 0;
        gap: 3.2rem;
      }

      @include breakpoint($sm-bp) {
        display: grid;
        row-gap: calc(1.8rem * 1.28);
        column-gap: 0;
      }
    }

    &__inner {
      display: flex;
      justify-content: space-between;

      &:first-child {
        align-items: flex-start;
      }

      &:last-child {
        align-items: flex-end;

        @include breakpoint($jb-bp) {
          align-items: flex-start;
        }
      }
    }

    &__img {
      height: 7.2rem;
      padding-bottom: 2rem;
      padding-top: 0.4rem;

      @include breakpoint($mm-bp) {
        height: 5.2rem;
        padding-bottom: 1.4rem;
      }

      @include breakpoint($sm-bp) {
        height: calc(2.8rem * 1.28);
        padding-bottom: calc(0.5rem * 1.28);
      }

      img {
        object-fit: contain;
        height: 100%;
        object-position: left center;
      }
    }

    &__box {
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        @include breakpoint($sm-bp) {
          grid-area: 1/1/2/2;
        }
      }

      &:nth-child(2) {
        width: 63.6rem;

        @include breakpoint($mm-bp) {
          width: 56rem;
        }

        @include breakpoint($jb-bp) {
          width: 38.5rem;
        }

        @include breakpoint($sm-bp) {
          width: unset;
          grid-area: 2/1/3/3;
        }
      }

      &:nth-child(3) {
        @include breakpoint($sm-bp) {
          grid-area: 1/2/2/3;
        }
      }

      &:nth-child(4) {
        @include breakpoint($sm-bp) {
          grid-area: 3/1/4/3;
        }
      }


      h6 {
        font-size: 2.4rem;
        line-height: 2.4rem;

        @include breakpoint($mm-bp) {
          font-size: 2rem;
        }

        @include breakpoint($jb-bp) {
          font-size: 1.8rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.4rem * 1.28);
          line-height: calc(2.4rem * 1.28);
        }

        &:first-child {
          margin-bottom: 0.8rem;

          @include breakpoint($sm-bp) {
            margin-bottom: 0;
          }
        }
      }

      h5 {
        font-size: 3.8rem;
        font-weight: $f-s;

        @include breakpoint($mm-bp) {
          font-size: 3.2rem;
          line-height: 3.9rem;
        }

        @include breakpoint($jb-bp) {
          font-size: 2.4rem;
          line-height: 2.9rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.4rem * 1.28);
          line-height: calc(2rem * 1.28);
        }
      }

      span {
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-family: $ff-a;

        @include breakpoint($mm-bp) {
          font-size: 1.6rem;
          line-height: 2.2rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.4rem * 1.28);
          line-height: calc(2rem * 1.28);
        }
      }

      p {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-family: "Inter", sans-serif;

        @include breakpoint($sm-bp) {
          font-size: calc(1.4rem * 1.28);
          line-height: calc(2rem * 1.28);
        }
      }
    }
  }

  &-grid {
    padding: 7rem 0;

    @include breakpoint($mm-bp) {
      padding: 5rem 0;
    }

    &__title {
      max-width: 133.8rem;
      margin: 0 auto;
      padding: 0rem 2.4rem;
      margin-bottom: 6.2rem;

      @include breakpoint($jb-bp) {
        margin-bottom: 2.4rem;
      }
    }

    &__img {
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }

  &-elements {
    padding: 7rem 0;
    margin: 0rem 2.4rem;
    position: relative;
    perspective: 50rem;

    @include breakpoint($mm-bp) {
      padding: 5rem 0;
    }

    @include breakpoint($sm-bp) {
      padding: calc(3rem * 1.28) 0;
    }

    &__title {
      font-size: 3.8rem;
      line-height: 4.7rem;
      font-weight: $f-s;
      position: absolute;
      top: 14%;
      left: 12.2rem;
      color: #fff;
      z-index: 2;

      @include breakpoint($mm-bp) {
        font-size: 3.2rem;
        line-height: 3.9rem;
        left: 6.4rem;
      }

      @include breakpoint($jb-bp) {
        top: 10rem;
        left: 5rem;
        font-size: 2.4rem;
        line-height: 2.9rem;
      }

      @include breakpoint($sm-bp) {
        top: calc(6.5rem * 1.28);
        left: calc(3.3rem * 1.28);
        font-size: calc(2.4rem * 1.28);
        line-height: calc(2.8rem * 1.28);
      }
    }

    &__container {
      transform-style: preserve-3d;
      transform: rotateX(-1deg) rotateY(0.5deg) translateX(2rem) translateZ(-2rem);

      @include breakpoint($mm-bp) {
        transform: rotateX(-1deg) rotateY(-1.5deg) translateX(-2rem) translateZ(-2rem);
      }

      @include breakpoint($sm-bp) {
        transform: rotateX(0deg) rotateY(-5.5deg) translateX(-0.8rem * 1.28) translateZ(-1rem * 1.28);
      }
    }

    &__inner {
      position: relative;
      background: linear-gradient(102.21deg, #f35322 6.32%, #eda335 87.88%);
      height: 51.5vw;
      border-radius: 3.2rem;
      overflow: hidden;

      @include breakpoint($mm-bp) {
        height: 75.7rem;
      }

      @include breakpoint($jb-bp) {
        height: 55.8rem;
      }

      @include breakpoint($sm-bp) {
        height: calc(34.9rem * 1.28);
        border-radius: calc(1.6rem * 1.28);
      }
    }

    &__box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__img {
      width: 47vw;
      position: absolute;
      top: 21%;
      left: 38%;
      border-radius: 1.6rem;
      overflow: hidden;
      transform: rotate(7.5deg);

      @include breakpoint($mm-bp) {
        width: 63.4rem;
        left: 32%;
      }

      @include breakpoint($jb-bp) {
        width: 48.5rem;
        left: 24%;
      }

      @include breakpoint($sm-bp) {
        width: calc(24.9rem * 1.28);
        left: 12%;
        top: 30%;
      }

      img {
        object-fit: contain;
        width: 100%;
      }

      &_shadow {
        left: 34%;
        top: 27%;
        opacity: 0.3;
        transform: rotate(0);

        @include breakpoint($mm-bp) {
          left: 28%;
        }

        @include breakpoint($jb-bp) {
          left: 20%;
        }

        @include breakpoint($sm-bp) {
          left: 6%;
          top: 38%;
        }
      }
    }
  }

  &-visualization {
    background-image: url(../images/import-drinks/bg-path.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% 100%;
    padding: 7rem 0;

    @include breakpoint($mm-bp) {
      padding: 5rem 0;
    }

    @include breakpoint($sm-bp) {
      padding: calc(3rem * 1.28) 0;
    }

    &__container {
      max-width: 133.8rem;
      margin: 0 auto;
      padding: 0 2.4rem;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include breakpoint($mm-bp) {
        max-width: 101.2rem;
      }

      @include breakpoint($jb-bp) {
        max-width: 100%;
      }
    }

    &-main {
      border: 1rem solid #413f3f;
      border-radius: 2.4rem;
      width: 75.6rem;
      overflow: hidden;

      @include breakpoint($mm-bp) {
        width: 67rem;
      }

      @include breakpoint($jb-bp) {
        width: 57rem;
      }

      @include breakpoint($sm-bp) {
        width: calc(23.5rem * 1.28);
        border: calc(0.4rem * 1.28) solid #413f3f;
        border-radius: calc(1.2rem * 1.28);
      }

      &__img {
        width: 100%;

        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }

    &-mob {
      border: 1rem solid #413f3f;
      border-radius: 2.4rem;
      width: 22.2rem;
      height: 45.8rem;
      overflow: hidden;
      position: absolute;
      top: calc(100% - 45.8rem);
      right: 2.4rem;

      @include breakpoint($mm-bp) {
        width: 19.6rem;
        height: 38.4rem;
        top: calc(100% - 38.4rem);
      }

      @include breakpoint($jb-bp) {
        position: static;
        width: 19.8rem;
        height: unset;
      }

      @include breakpoint($sm-bp) {
        width: calc(8.4rem * 1.28);
        border: calc(0.4rem * 1.28) solid #413f3f;
        border-radius: calc(1.2rem * 1.28);
      }

      &__img {
        width: 100%;
        transform: translateY(-85.5%);

        @include breakpoint($jb-bp) {
          transform: none;
        }

        img {
          object-fit: contain;
          width: 100%;
        }
      }
    }
  }

  &-templates {
    padding: 7rem 0;

    @include breakpoint($mm-bp) {
      padding: 5rem 0;
    }

    &__title {
      max-width: 133.8rem;
      padding: 0rem 2.4rem;
      margin: 0 auto;
      margin-bottom: 6.7rem;

      @include breakpoint($mm-bp) {
        margin-bottom: 1rem;
        padding: 2.4rem;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      row-gap: 5.4rem;
      padding: 7rem 0;
      position: relative;

      @include breakpoint($mm-bp) {
        row-gap: 4rem;
        padding: 5.6rem 0;
      }

      @include breakpoint($jb-bp) {
        row-gap: 2.4rem;
        padding: 4rem 0;
      }

      @include breakpoint($sm-bp) {
        row-gap: calc(2.4rem * 1.28);
        padding: calc(4rem * 1.28) 0;
      }
    }

    &__bg {
      position: absolute;
      width: 80%;
      height: 100%;
      border-radius: 3.2rem;
      background-color: #fff4e7;
      top: 0;
      left: 10%;
      transform: skew(2deg, 0);

      @include breakpoint($mm-bp) {
        width: calc(100% - 8.8rem);
        left: 4.4rem;
      }

      @include breakpoint($jb-bp) {
        border-radius: 2.4rem;
        width: calc(100% - 6.8rem);
        left: 3.4rem;
      }
    }

    &__box {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2rem;

      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
    }

    &-list {
      height: 33.8rem;
      display: flex;
      column-gap: 5.4rem;
      padding-left: 5.4rem;

      @include breakpoint($mm-bp) {
        column-gap: 4rem;
        padding-left: 4rem;
        height: 33.6rem;
      }

      @include breakpoint($jb-bp) {
        column-gap: 2.4rem;
        padding-left: 2.4rem;
        height: 23.6rem;
      }

      @include breakpoint($sm-bp) {
        column-gap: calc(2.4rem * 1.28);
        padding-left: calc(2.4rem * 1.28);
      }

      &__item {
        flex: none;
        width: 58.8rem;
        height: 100%;
        border: 0.4rem solid #413f3f;
        border-radius: 0.6rem;
        overflow: hidden;
        background-color: #fff;

        @include breakpoint($mm-bp) {
          width: 56.9rem;
          border-radius: 0.8rem;
        }

        @include breakpoint($jb-bp) {
          width: 38.9rem;
        }

        @include breakpoint($sm-bp) {
          border-radius: calc(0.6rem * 1.28);
        }

        img {
          object-fit: contain;
          width: 100%;
          object-position: center top;
        }

        &_mob {
          width: 17.3rem;

          @include breakpoint($mm-bp) {
            width: 17.6rem;
          }

          @include breakpoint($jb-bp) {
            width: 12.4rem;
          }
        }
      }
    }
  }

  &-conclusion {
    padding: 7rem 2.4rem;

    @include breakpoint($mm-bp) {
      padding: 5rem 2.4rem;
    }

    @include breakpoint($sm-bp) {
      padding: calc(3rem * 1.28) 2.4rem;
    }

    &__head {
      max-width: 133.8rem;
      margin: 0 auto 7rem;
      display: flex;
      flex-direction: column;
      gap: 1.8rem;

      @include breakpoint($mm-bp) {
        margin-bottom: 5.6rem;
      }

      @include breakpoint($jb-bp) {
        gap: 1.2rem;
        margin-bottom: 6.2rem;
      }

      @include breakpoint($sm-bp) {
        margin-bottom: calc(3.2rem * 1.28);
        gap: calc(1.2rem * 1.28);
      }
    }

    &__title {
      @include breakpoint($mm-bp) {
        font-size: 3.2rem;
        line-height: 3.9rem;
      }

      @include breakpoint($jb-bp) {
        font-size: 2.4rem;
        line-height: 2.9rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(1.6rem * 1.28);
        line-height: calc(2rem * 1.28);
      }
    }

    &__subtitle {
      font-size: 3.4rem;
      line-height: 3.9rem;
      font-weight: $f-s;
      max-width: 88.5rem;

      @include breakpoint($mm-bp) {
        font-size: 3.2rem;
        line-height: 3.9rem;
        max-width: 84.8rem;
      }

      @include breakpoint($jb-bp) {
        font-size: 2.4rem;
        line-height: 2.9rem;
        max-width: 53.5rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(1.6rem * 1.28);
        line-height: calc(2rem * 1.28);
        margin-bottom: calc(0.8rem * 1.28);
      }
    }

    &__description {
      padding-left: 10.7rem;
      font-size: 2.2rem;
      line-height: 3rem;
      font-family: "Arial";
      font-weight: 400;
      max-width: 85.7rem;

      @include breakpoint($mm-bp) {
        padding-left: 9.6rem;
        font-size: 1.6rem;
        line-height: 2.2rem;
      }

      @include breakpoint($jb-bp) {
        padding: 0;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(1.4rem * 1.28);
        line-height: calc(2rem * 1.28);
      }

      &> {
        * {
          font-size: inherit;
          line-height: inherit;

          &:not(strong) {
            font-weight: inherit;
          }
        }

        ul {
          list-style: decimal;
          padding-left: 1em;
        }
      }
    }

    &__container {
      display: block;
      position: relative;

      &:hover {
        .import-drinks-conclusion-bg__img {
          img {
            transform: scale(1.02);
          }
        }
      }
    }

    &-bg {
      position: absolute;
      height: 100%;
      width: 100%;
      perspective: 50rem;

      &__img {
        width: 100%;
        height: 100%;
        border-radius: 3.2rem;
        overflow: hidden;
        transform-style: preserve-3d;
        transform: rotateX(2deg) rotateY(-0.5deg) translateZ(-2rem) translateX(-1rem);

        @include breakpoint($jb-bp) {
          transform: rotateX(-2deg) rotateY(-1.5deg) translateZ(-2rem) translateX(-1rem);
        }

        @include breakpoint($sm-bp) {
          transform: rotateX(-2deg) rotateY(-1.5deg) translateZ(-2rem) translateX(0rem);
        }

        img {
          object-fit: cover;
          object-position: center center;
          height: 100%;
          width: 100%;
          transition: 0.3s;
        }
      }
    }

    &-content {
      position: relative;
      z-index: 2;
      padding: 11.4rem 0 25.6rem;
      max-width: 122.4rem;
      margin: 0 auto;

      @include breakpoint($mm-bp) {
        padding: 6.4rem 9.6rem 19rem;
      }

      @include breakpoint($jb-bp) {
        padding: 5rem 8.2rem 13rem;
      }

      @include breakpoint($sm-bp) {
        padding: calc(4rem * 1.28) calc(4rem * 1.28) calc(13.5rem * 1.28) calc(6.4rem * 1.28);
      }

      &__text {
        font-size: 3.2rem;
        line-height: 3.9rem;
        font-weight: $f-s;
        color: #fff;
        margin-bottom: 12.2rem;

        @include breakpoint($mm-bp) {
          margin-bottom: 9.4rem;
          font-size: 2.6rem;
          line-height: 3.2rem;
        }

        @include breakpoint($jb-bp) {
          font-size: 1.8rem;
          line-height: 2.2rem;
          margin-bottom: 5.6rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.6rem * 1.28);
          line-height: calc(2rem * 1.28);
          margin-bottom: calc(7.6rem * 1.28);
        }
      }

      &__title {
        font-size: 7rem;
        line-height: 7.2rem;
        font-weight: $f-s;
        color: #fff;
        padding-left: 7.6rem;

        @include breakpoint($mm-bp) {
          padding-left: 12.8rem;
          font-size: 4.8rem;
          line-height: 5.2rem;
        }

        @include breakpoint($jb-bp) {
          font-size: 3.6rem;
          line-height: 4.2rem;
          padding-left: 6rem;
        }

        @include breakpoint($sm-bp) {
          padding: 0;
          font-size: calc(2.4rem * 1.28);
          line-height: calc(2.8rem * 1.28);
        }
      }
    }
  }
}