.main {

  &-video {

    @include breakpoint($jb-bp) {
      padding-top: 6.7rem;
    }

    &-container {
      max-width: 154rem;
      padding: 0 2.4rem;
      margin: 0 auto;
      position: relative;
    }

    &-bg {
      height: 75.2rem;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;

      @include breakpoint($mm-bp) {
        height: 55.6rem;
      }

      @include breakpoint($jb-bp) {
        justify-content: center;
      }

      @include breakpoint($sm-bp) {
        height: 50rem;
      }

      @include breakpoint($xs-bp) {
        height: 49.3rem;
      }

      &__fill {
        width: 100%;
        height: 100%;

        img {
          object-fit: fill;
          width: 100%;
          height: 100%;
        }
      }

      &__star {
        width: 211.6rem;
        position: absolute;
        left: 9.3rem;
        pointer-events: none;
        animation: starRotation 120s linear reverse infinite;

        @include breakpoint($mm-bp) {
          width: 156.4rem;
          left: 6.8rem;
        }

        @include breakpoint($jb-bp) {
          top: -50%;
        }

        @include breakpoint($sm-bp) {
          width: 71.4rem;
          height: 71.4rem;
          top: 2.8rem;
          left: 0.4rem;
        }

        img {
          object-fit: contain;
          width: 100%;
        }

        @keyframes starRotation {
          0% {
            transform: rotate(0);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }

      &-canvas {
        position: absolute;
        top: 8rem;
        right: 8.6rem;
        width: 57.8rem;
        height: 55.3rem;

        @include breakpoint($mm-bp) {
          width: 46.6rem;
          height: 44.4rem;
          right: 6.1rem;
          top: unset;
        }

        @include breakpoint($jb-bp) {
          right: unset;
        }

        @include breakpoint($sm-bp) {
          width: 26rem;
          height: 26rem;
        }

        @include breakpoint($xs-bp) {
          width: 22.8rem;
          height: 22.8rem;
          bottom: 8.6rem;
        }
      }
    }

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20.9rem 0rem 0rem 12.4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4.25rem;

      @include breakpoint($mm-bp) {
        padding: 0rem 0rem 0rem 6.4rem;
        justify-content: center;
        gap: 1.9rem;
      }

      @include breakpoint($sm-bp) {
        gap: 1rem;
        padding: 0rem 0rem 0rem 5.6rem;
      }

      @include breakpoint($xs-bp) {
        padding: 3.2rem 0rem 0rem 5.6rem;
        justify-content: flex-start;
      }
    }

    &__title {
      font-size: 8.6rem;

      @include breakpoint($mm-bp) {
        font-size: 6.4rem;
        line-height: 7.8rem;
      }

      @include breakpoint($sm-bp) {
        font-size: 3.2rem;
        line-height: 3.9rem;
      }

      @include breakpoint($xs-bp) {
        max-width: 24.3rem;
      }
    }

    &__text {
      font-size: 2.6rem;
      font-family: Arial, sans-serif;

      @include breakpoint($mm-bp) {
        font-size: 2rem;
        line-height: 2.4rem;
      }

      @include breakpoint($sm-bp) {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

      @include breakpoint($xs-bp) {
        max-width: 21.2rem;
      }
    }

    &-slide {
      position: absolute;
      right: 6.7rem;
      bottom: 2rem;
      width: 18rem;
      height: 18rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &-img {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;

        &:nth-child(1) {
          animation: slideImgAnim 10s linear reverse infinite;
        }

        &:nth-child(2) {
          animation: slideImgAnim 10s linear infinite;
        }

        &__img {
          object-fit: contain;
          object-position: center center;
          width: 100%;
          height: 100%;
        }

        @keyframes slideImgAnim {
          0% {
            transform: rotate(0);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }

      @include breakpoint($mm-bp) {
        width: 12rem;
        height: 12rem;
        right: 4.8rem;
      }

      @include breakpoint($sm-bp) {
        width: 8rem;
        height: 8rem;
        bottom: 1.6rem;
        right: calc(50% - 3rem);
      }

      @include breakpoint($xs-bp) {
        width: 6rem;
        height: 6rem;
        bottom: 1.6rem;
        right: calc(50% - 3rem);
      }
    }

    &-baner {
      background-color: $text-black;
      padding: 2rem 0;
      transform: rotate(1.25deg) translateX(-1rem);
      min-width: calc(100% + 2rem);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include breakpoint($mm-bp) {
        gap: 0rem;
        padding: 1rem 0;
        transform: rotate(1.5deg) translateX(-1rem);
      }

      @include breakpoint($jb-bp) {
        transform: rotate(0.65deg) translateX(-1rem);
      }

      @include breakpoint($sm-bp) {
        transform: rotate(1.1deg) translateX(-1rem);
      }

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 23.1rem;
        overflow: hidden;
        margin-bottom: 7rem;

        @include breakpoint($mm-bp) {
          height: 18rem;
          margin-bottom: 5rem;
        }

        @include breakpoint($sm-bp) {
          height: 8.2rem;
          margin-bottom: 3rem;
        }
      }

      &-box {
        display: flex;
        align-items: center;
        gap: 1.49rem;

        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
      }

      &-list {
        display: flex;
        align-items: center;
        gap: 1.49rem;

        &__item {
          color: #fff;
          text-transform: uppercase;
          font-size: 5rem;
          line-height: 6.1rem;
          font-weight: $f-m;
          white-space: nowrap;
          display: flex;
          align-items: center;
          gap: 1.49rem;

          &::after {
            content: "";
            display: block;
            height: 5rem;

            @include breakpoint($sm-bp) {
              height: 2.2rem;
            }
          }

          &:nth-child(even) {
            &::after {
              width: 7.95rem;
              background-image: url(../images/line.png);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center center;

              @include breakpoint($sm-bp) {
                width: 2.7rem;
              }
            }
          }

          &:nth-child(odd) {
            &::after {
              width: 7.95rem;
              background-image: url(../images/lighter.png);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center center;

              @include breakpoint($sm-bp) {
                width: 2.7rem;
              }
            }
          }

          @include breakpoint($mm-bp) {
            font-size: 4rem;
            line-height: 4.9rem;
          }

          @include breakpoint($sm-bp) {
            font-size: 1.8rem;
            line-height: 2.2rem;
          }
        }
      }
    }
  }

  &-works {
    margin: 0rem -2.4rem;
    padding: 0 2.4rem;

    &-list {
      @include breakpoint($sm-bp) {
        display: flex;
        gap: 0rem;
        margin-bottom: 1.6rem;
      }
    }

    &-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      margin-bottom: 3.2rem;
      display: none;

      @include breakpoint($sm-bp) {
        display: flex;
      }

      &__item {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background-color: #EEEEF4;
        transition: .3s;

        &.main-works-pagination__item_active {
          background-color: $orange;
        }
      }
    }
  }

  &-service {
    max-width: 133.8rem;
    margin: 0 auto;
    padding: 0 2.4rem;

    &-container {
      border-top: 0.1rem solid $grey;
      padding: 7rem 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @include breakpoint($jb-bp) {
        padding: 5rem 0;
        border: none;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      @include breakpoint($mm-bp) {
        gap: 1.6rem;
      }

      @include breakpoint($jb-bp) {
        gap: 0rem;
        border-bottom: 0.1rem solid $grey;
        flex: 1;
      }

      &-item {

        @include breakpoint($jb-bp) {
          padding: 2rem 0.8rem;
          border-top: 0.1rem solid $grey;

          &._open & {
            &-content {
              padding: 0.8rem 0rem 0rem;
            }
          }
        }

        &-btn {
          display: flex;
          align-items: flex-start;
          gap: 8.9rem;
          color: $grey;

          &._active {
            color: $text-black;
          }

          &._active & {
            &__icon {
              &::after {
                transform: rotate(0);
              }
            }
          }

          @include breakpoint($jb-bp) {
            position: relative;
            align-items: center;
            gap: 1.5rem;
            width: 100%;
          }

          @include breakpoint($xs-bp) {
            gap: 0.8rem;
          }

          &__number {
            font-size: 1.6rem;
            font-weight: $f-s;
            color: inherit;
            transition: .3;

            @include breakpoint($xs-bp) {
              font-size: 1.2rem;
            }
          }

          &__text {
            font-size: 3.8rem;
            font-weight: $f-s;
            color: inherit;
            transition: .3s;

            @include breakpoint($mm-bp) {
              font-size: 3.2rem;
            }

            @include breakpoint($sm-bp) {
              font-size: 2.4rem;
            }

            @include breakpoint($xs-bp) {
              font-size: 1.6rem;
            }
          }

          &__icon {
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 0.1rem solid $orange;
            right: 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;

            @include breakpoint($jb-bp) {
              display: flex;
            }

            &::after,
            &::before {
              content: "";
              width: 0.6rem;
              height: 0.1rem;
              background-color: $orange;
              position: absolute;
            }

            &::after {
              transform: rotate(90deg);
              transition: .3s;
            }
          }
        }

        &-content {
          display: none;

          @include breakpoint($jb-bp) {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            transition: .3s;
          }
        }
      }
    }

    &-content {

      &__text {
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-family: $ff-a;
        max-width: 52.8rem;

        @include breakpoint($mm-bp) {
          max-width: 464rem;
          font-size: 1.6rem;
          line-height: 2.2rem;
        }

        @include breakpoint($jb-bp) {
          max-width: 80%;
        }

        @include breakpoint($xs-bp) {
          font-size: 1.2rem;
          line-height: 1.6rem;
          max-width: 22rem;
        }
      }

      &-links {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        @include breakpoint($xs-bp) {
          gap: 1.2rem;
        }
      }

      &__link {
        @include breakpoint($jb-bp) {
          color: $orange;
        }

        svg {
          @include breakpoint($jb-bp) {
            fill: $orange;
          }
        }

      }
    }
  }

  &-swiper {
    width: 63.7rem;
    margin: 0;
    height: 47rem;

    @include breakpoint($mm-bp) {
      width: 56.8rem;
      height: 35rem;
    }

    @include breakpoint($jb-bp) {
      display: none;
    }

    &-slide {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 3.2rem;
      height: fit-content;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.1rem;
        background-color: $grey;
      }
    }
  }
}