.marketing {

  &-service {

    &-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__subtitle {
      font-size: 5.8rem;
      line-height: 6.8rem;
      font-weight: $f-s;
      text-transform: uppercase;
      text-align: center;
    }

    &__title {
      position: static;
    }

    &__icon {
      position: absolute;
      display: block;
      width: 12.7rem;
      height: 10.4rem;
      right: 3.4rem;
      bottom: 1.3rem;

      @include breakpoint($mm-bp) {
        width: 5.7rem;
        height: 5.1rem;
        right: 2.4rem;
        bottom: 1.8rem;
      }

      svg {
        object-fit: contain;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-feedback {

    @include breakpoint($jb-bp) {
      padding-bottom: 16rem;
    }

    &__title {
      margin-bottom: 4rem;

      @include breakpoint($mm-bp) {
        margin-bottom: 2.8rem;
      }
    }

    &__description {
      margin-bottom: 3.8rem;
      padding-left: 10.9rem;
      font-size: 3.2rem;
      font-weight: $f-s;

      @include breakpoint($mm-bp) {
        font-size: 2.6rem;
        line-height: 3.2rem;
        margin-bottom: 5.2rem;
      }

      @include breakpoint($jb-bp) {
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 0;
        margin-bottom: 4rem;
      }
    }

    &__inner {
      padding-left: 10.9rem;

      @include breakpoint($jb-bp) {
        padding: 0;
      }
    }
  }
}