.partners {
  padding: 7rem 0;

  @include breakpoint($mm-bp) {
    padding: 5rem 0;
  }

  @include breakpoint($sm-bp) {
    padding: 8vw 0;
  }

  &-container {
    max-width: 134.2rem;
    padding: 0rem 2.4rem;
    margin: 0 auto;
  }

  &__title {
    font-size: 7rem;
    line-height: 7.4rem;
    font-weight: $f-s;
    display: flex;
    flex-direction: column;
    margin-bottom: 6.3rem;

    @include breakpoint($mm-bp) {
      font-size: 4.8rem;
      line-height: 5.2rem;
      margin-bottom: 4rem;
    }

    @include breakpoint($sm-bp) {
      font-size: 6.4vw;
      line-height: 7.46vw;
      margin-bottom: 6.4vw;
    }

    span {
      padding-left: 10.9rem;

      @include breakpoint($mm-bp) {
        padding-left: 11.6rem;
      }

      @include breakpoint($sm-bp) {
        padding: 0;
      }
    }
  }

  &__description {
    font-size: 3.2rem;
    font-weight: $f-s;
    margin-left: 10.9rem;
    max-width: 74.2rem;
    margin-bottom: 8.1rem;

    @include breakpoint($mm-bp) {
      font-size: 2.6rem;
      margin-left: 11.6rem;
      max-width: 56.6rem;
      margin-bottom: 3.3rem;
    }

    @include breakpoint($sm-bp) {
      max-width: 72.26vw;
      font-size: 4.26vw;
      margin-left: 0;
      margin-bottom: 13.8vw;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;
    max-width: 107.4rem;
    margin: 0 auto;

    @include breakpoint($sm-bp) {
      grid-template-columns: repeat(2, 1fr);
    }

    &-item {
      height: 9.4rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: grayscale(1);

      @include breakpoint($mm-bp) {
        height: 9.6rem;
      }

      @include breakpoint($sm-bp) {
        height: 19.46vw;
        padding: 0 3.46vw;
      }

      &__img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}
