.request {
  padding-bottom: 14.2rem;

  @include breakpoint($jb-bp) {
    padding-top: 6.7rem;
  }

  @include breakpoint($sm-bp) {
    padding-top: 8.5rem;
  }

  &-head {

    @include breakpoint($sm-bp) {
      margin-bottom: 4.26vw;
    }

    &__text {
      max-width: 63.5rem;
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-family: $ff-a;

      @include breakpoint($mm-bp) {
        font-size: 1.6rem;
        line-height: 2.2rem;
        max-width: 55.8rem;
      }

      @include breakpoint($jb-bp) {
        max-width: 100%;
      }

      @include breakpoint($sm-bp) {
        font-size: 3.73vw;
        line-height: 4.8vw;
      }

      strong {
        font-family: "Gilroy";
        font-weight: $f-b;
        white-space: nowrap;
      }
    }
  }

  &-container {
    max-width: 133.8rem;
    padding: 0rem 2.4rem;
    margin: 0 auto;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      font-size: 3.8rem;
      font-weight: $f-s;
      margin-bottom: 3.3rem;

      @include breakpoint($mm-bp) {
        font-size: 3.2rem;
      }

      @include breakpoint($sm-bp) {
        font-size: 7.46vw;
        line-height: 8.53vw;
        margin-bottom: 6.4vw;
      }
    }

    &-services {
      width: 100%;
      margin-bottom: 7rem;

      @include breakpoint($mm-bp) {
        margin-bottom: 5.6rem;
      }

      @include breakpoint($sm-bp) {
        margin-bottom: 8.53vw
      }

      &__title {
        @include breakpoint($jb-bp) {
          margin-bottom: 2rem;
        }

        @include breakpoint($sm-bp) {
          margin-bottom: 5.33vw;
        }
      }

      &__swiper {
        @include breakpoint($sm-bp) {
          margin: 0rem -6.4vw;
          padding: 0 6.4vw;
        }
      }

      &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.2rem;
        row-gap: 1.6rem;
        max-width: 105rem;

        @include breakpoint($mm-bp) {
          max-width: 87rem;
        }

        @include breakpoint($sm-bp) {
          gap: 0;
          flex-wrap: nowrap;
        }
      }

      &__item {
        padding: 1.1rem 1.5rem;
        border: 0.1rem solid $grey;
        border-radius: 6.4rem;
        font-size: 2rem;
        line-height: 2.4rem;
        cursor: pointer;
        transition: .3s;
        user-select: none;
        width: fit-content;

        &._checked {
          border-color: $orange;
          background-color: $orange;
          color: #fff;
        }

        @include breakpoint($mm-bp) {
          font-size: 1.6rem;
        }

        @include breakpoint($sm-bp) {
          font-size: 3.73vw;
          line-height: 4.26vw;
        }
      }

      &__input {
        display: none;
      }
    }

    &-contacts {
      width: 100%;
      max-width: 181rem;
      margin-bottom: 4.8rem;

      @include breakpoint($mm-bp) {
        max-width: 104rem;
        margin-bottom: 4rem;
      }

      @include breakpoint($sm-bp) {
        margin-bottom: 8.26vw;
      }

      &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 12.5rem;
        row-gap: 4.8rem;

        @include breakpoint($mm-bp) {
          column-gap: 11.2rem;
          row-gap: 4rem;
        }

        @include breakpoint($jb-bp) {
          column-gap: 4rem;
        }

        @include breakpoint($sm-bp) {
          display: flex;
          flex-direction: column;
          gap: 7.46vw;
        }
      }

      &__item {
        position: relative;

        &._focus {
          .request-form-contacts__placeholder {
            font-size: 1.4rem;
            top: -1.4rem;

            @include breakpoint($sm-bp) {
              font-size: 3.73vw;
              top: -3.73vw;
            }
          }
        }
      }

      &__placeholder {
        position: absolute;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: $grey;
        left: 0;
        top: 1.6rem;
        transition: .3s;
        pointer-events: none;

        @include breakpoint($sm-bp) {
          font-size: 3.73vw;
          line-height: 4.8vw;
        }
      }

      &__input {
        width: 100%;
        padding: 1.6rem 1.6rem 1.6rem 0;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-family: $ff-a;
        border: none;
        border-radius: 0;
        border-bottom: 0.1rem solid $grey;
        outline: none;

        &.error {
          border-color: #E41B1B;
        }

        @include breakpoint($sm-bp) {
          font-size: 3.73vw;
          line-height: 4.8vw;
        }
      }
    }

    &__btn {
      width: 14.8rem;
      height: 14.8rem;
      border-radius: 50%;
      background-color: $orange;
      color: #fff;
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: $f-b;
      text-transform: uppercase;
      border: none;
      padding: 2rem;
      margin-bottom: 2.9rem;

      @include breakpoint($mm-bp) {
        margin-bottom: 3.2rem;
      }

      @include breakpoint($sm-bp) {
        width: 100%;
        padding: 4.26vw 0;
        margin-bottom: 4.26vw;
        text-transform: none;
        font-size: 4.26vw;
        line-height: 5.33vw;
        font-family: $ff-a;
        font-weight: $f-r;
        border-radius: 14.93vw;
        height: fit-content;
      }
    }

    &__info {
      max-width: 53.5rem;
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-family: $ff-a;
      color: $grey;
      display: inline-block;

      @include breakpoint($sm-bp) {
        font-size: 3.73vw;
        line-height: 4.8vw;
      }

      a {
        font-size: inherit;
        line-height: inherit;
        font-family: $ff-a;
        position: relative;

        &::after {
          content: "";
          width: 120%;
          height: 0.1rem;
          background-color: $text-black;
          position: absolute;
          top: 100%;
          left: -10%;
        }
      }
    }
  }
}