.seo {

  @include breakpoint($sm-bp) {
    padding-top: 6.7rem;
  }

  &-feedback {
    position: relative;
    overflow: hidden;
    padding: 14rem 0rem 23.7rem;
    margin-top: -4.5rem;

    @include breakpoint($mm-bp) {
      margin-top: -3.5rem;
      padding: 9rem 0rem 19.4rem;
    }

    @include breakpoint($sm-bp) {
      padding: 6rem 0rem 17.4rem;
    }

    @include breakpoint($sm-bp) {
      padding: 5rem 0rem 16.6rem;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 150%;
      background-color: $orange;
      transform: rotate(359deg) translateY(1rem) translateX(-10rem);

      @include breakpoint($sm-bp) {
        transform: rotate(358deg) translateY(1rem) translateX(-10rem);
      }

      @include breakpoint($xs-bp) {
        transform: rotate(357deg) translateY(1rem) translateX(-10rem);
      }
    }

    &-content {
      position: relative;
      z-index: 2;
      max-width: 133.8rem;
      padding: 0 2.4rem;
      margin: 0 auto;

      * {
        color: #fff;
      }
    }

    &__title {
      font-size: 7rem;
      line-height: 7.2rem;
      font-weight: $f-s;
      margin-bottom: 4.8rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      @include breakpoint($mm-bp) {
        font-size: 4.8rem;
        line-height: 5.2rem;
        gap: 0rem;
        margin-bottom: 4rem;
      }

      @include breakpoint($sm-bp) {
        font-size: 2.8rem;
        line-height: 3.2rem;
        display: inline-block;
        margin-bottom: 2.4rem;
      }

      @include breakpoint($sm-bp) {
        font-size: 2.4rem;
        line-height: 2.8rem;
        margin-bottom: 1.2rem;
      }

      span {
        padding-left: 10.9rem;

        @include breakpoint($mm-bp) {
          padding-left: 9.6rem;
        }

        @include breakpoint($sm-bp) {
          padding: 0;
        }
      }
    }

    &-inner {
      display: flex;
      align-items: center;
      gap: 13.3rem;

      @include breakpoint($mm-bp) {
        gap: 11.2rem;
      }

      @include breakpoint($sm-bp) {
        gap: 5.8rem;
      }

      @include breakpoint($sm-bp) {
        flex-direction: column;
        align-items: flex-start;
        gap: 3.2rem;
      }
    }

    &__text {
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-family: $ff-a;
      max-width: 52.1rem;

      @include breakpoint($mm-bp) {
        max-width: 36.8rem;
        font-size: 1.6rem;
        line-height: 2.2rem;
      }

      @include breakpoint($sm-bp) {
        max-width: 32rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

      @include breakpoint($sm-bp) {
        max-width: 100%;
      }
    }

    &__btn {

      @include breakpoint($sm-bp) {
        display: flex;
        align-items: center;
        padding: 0;
      }

      @include breakpoint($xs-bp) {
        width: 100%;
        padding: 1.6rem 2rem;
        background-color: #fff;
        justify-content: center;

        span {
          color: $orange;
        }

        &:hover {
          background-color: #fff;
        }
      }

      .big-icon-btn-icon {

        @include breakpoint($sm-bp) {
          width: 8rem;
          height: 8rem;
          background-color: #fff;
          border-radius: 50%;
        }

        @include breakpoint($sm-bp) {
          display: flex;
        }

        @include breakpoint($xs-bp) {
          display: none;
        }

        &__star {
          stroke: #fff;

          @include breakpoint($sm-bp) {
            display: none;
          }
        }

        &__arrow {
          fill: #fff;

          @include breakpoint($sm-bp) {
            fill: $orange;
            width: 3.2rem;
            height: 3.2rem;
          }
        }
      }
    }
  }

  &-steps {
    border-top-left-radius: 6.4rem;
    border-top-right-radius: 6.4rem;
    background-color: #fff;
    margin-top: -11.7rem;
    padding: 7rem 0;
    overflow: hidden;
    position: relative;
    z-index: 2;

    @include breakpoint($mm-bp) {
      padding: 5rem 0;
    }

    @include breakpoint($jb-bp) {
      border-top-left-radius: 4rem;
      border-top-right-radius: 4rem;
    }

    @include breakpoint($xs-bp) {
      padding: 4rem 0rem 3rem;
    }

    &-container {
      max-width: 133.8rem;
      padding: 0 2.4rem;
      margin: 0 auto;
    }

    &__title {
      font-size: 7rem;
      line-height: 7.2rem;
      font-weight: $f-s;
      margin-bottom: 7.2rem;
      display: flex;
      flex-direction: column;

      @include breakpoint($mm-bp) {
        font-size: 4.8rem;
        line-height: 5.2rem;
      }

      @include breakpoint($sm-bp) {
        font-size: 2.8rem;
        line-height: 3.2rem;
        margin-bottom: 8rem;
      }

      @include breakpoint($xs-bp) {
        font-size: 2.4rem;
        line-height: 2.8rem;
        margin-bottom: 6.6rem;
      }

      span {
        padding-left: 10.9rem;

        @include breakpoint($mm-bp) {
          padding-left: 9.6rem;
        }

        @include breakpoint($jb-bp) {
          padding: 0;
        }
      }
    }

    &-swiper {
      padding-left: 10.9rem;
      overflow: visible;

      @include breakpoint($mm-bp) {
        padding-left: 9.6rem;
      }

      @include breakpoint($jb-bp) {
        padding: 0;
      }

      &-wrapper {
        @include breakpoint($jb-bp) {
          display: flex;
          flex-direction: column;
          gap: 6.4rem;
        }

        @include breakpoint($xs-bp) {
          gap: 5.8rem;
        }
      }

      &-slide {
        width: 52.8rem;
        border-radius: 2.4rem;
        border: 0.1rem solid #EEEEF4;
        background-color: #F6F6F9;
        padding: 4rem 3.2rem 0 3.2rem;
        height: 40rem;
        position: relative;

        @include breakpoint($mm-bp) {
          padding: 3.2rem 3.2rem 0 3.2rem;
          width: 46.4rem;
          height: 35.7rem;
        }

        @include breakpoint($jb-bp) {
          width: 100%;
        }

        @include breakpoint($sm-bp) {
          height: 34rem;
        }

        @include breakpoint($xs-bp) {
          padding: 1.6rem;
          height: 32rem;
        }

        &__number {
          position: absolute;
          left: 3.2rem;
          top: -3.2rem;
          transform: rotate(-15deg);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 2.4rem;
          width: 7.1rem;
          height: 5rem;
          background-color: var(--color, $orange);
          font-size: 2.4rem;
          color: #fff;

          @include breakpoint($sm-bp) {
            width: 6.6rem;
            height: 4.3rem;
            font-size: 1.8rem;
            left: 2rem;
          }

          @include breakpoint($xs-bp) {
            left: 1rem;
            top: -3.8rem;
          }
        }

        &__title {
          font-size: 3.2rem;
          font-weight: $f-s;
          margin-bottom: 1.6rem;

          @include breakpoint($mm-bp) {
            margin-bottom: 1.2rem;
          }

          @include breakpoint($sm-bp) {
            font-size: 1.8rem;
            margin-bottom: 0.8rem;
          }
        }

        ul {
          display: flex;
          flex-direction: column;

          li {
            font-size: 1.8rem;
            line-height: 2.4rem;
            padding-left: 1rem;
            display: flex;
            align-items: flex-start;
            gap: 1rem;

            @include breakpoint($mm-bp) {
              font-size: 1.6rem;
              line-height: 2.2rem;
            }

            @include breakpoint($sm-bp) {
              font-size: 1.4rem;
              line-height: 1.8rem;
            }

            @include breakpoint($xs-bp) {
              font-size: 1.2rem;
            }

            &::before {
              content: "";
              flex: none;
              width: 0.4rem;
              height: 0.4rem;
              border-radius: 50%;
              margin-top: 0.9rem;
              background-color: $text-black;
            }
          }
        }
      }
    }
  }
}