.smm {

  @include breakpoint($jb-bp) {
    padding-top: 6.7rem;
  }

  @include breakpoint($sm-bp) {
    padding-top: calc(6.8rem * 1.28);
  }

  &-price {

    &__title {
      margin-bottom: 5rem;

      @include breakpoint($sm-bp) {
        margin-bottom: calc(2.8rem * 1.28);
      }
    }

    &-labels {
      margin-bottom: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      @include breakpoint($jb-bp) {
        margin-bottom: 6rem;
      }

      @include breakpoint($sm-bp) {
        margin-bottom: calc(2.8rem * 1.28);
      }
    }

    &-list {
      gap: 1.6rem;

      @include breakpoint($jb-bp) {
        flex-direction: row;
      }

      @include breakpoint($sm-bp) {
        flex-direction: column;
        gap: 3.2rem;
      }

      &-item {
        height: 73.4rem;

        @include breakpoint($mm-bp) {
          height: 63.1rem;
        }

        @include breakpoint($sm-bp) {
          min-height: calc(53.2rem * 1.28);
          height: fit-content;
        }

        &.service-price-list-item {
          border-radius: 1.2rem;
          border: 0.1rem dashed #bdbdbd;
        }

        &.service-price-list-item_popular {
          padding-top: 8.8rem;
          border-radius: 1.2rem;
          box-shadow: none;
          border: none;

          &::after {
            display: none;
          }

          @include breakpoint($jb-bp) {
            margin: 0;
          }

          .service-price-list-item__label {
            bottom: unset;
            top: 0;
          }
        }
      }
    }
  }

  &-social {
    max-width: 133.8rem;
    padding: 7rem 2.4rem;
    margin: 0 auto 7rem auto;

    @include breakpoint($mm-bp) {
      margin-bottom: 5rem;
      padding: 5rem 2.4rem;
    }

    @include breakpoint($sm-bp) {
      padding: calc(3rem * 1.28) 2.4rem;
      margin-bottom: calc(3rem * 1.28);
    }

    &__title {
      font-size: 7rem;
      line-height: 7.2rem;
      font-weight: $f-s;
      margin-bottom: 7.2rem;

      @include breakpoint($mm-bp) {
        font-size: 4.8rem;
        line-height: 5.2rem;
        margin-bottom: 6.4rem;
      }

      @include breakpoint($jb-bp) {
        font-size: 3.6rem;
        line-height: 4.2rem;
        margin-bottom: 7.4rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(2.4rem * 1.28);
        line-height: calc(2.8rem * 1.28);
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.6rem;
      row-gap: 4.8rem;

      @include breakpoint($jb-bp) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint($sm-bp) {
        display: flex;
        flex-direction: column;
        gap: calc(5.2rem * 1.28);
      }

      &-item {
        width: 100%;
        height: 23.2rem;

        @include breakpoint($mm-bp) {
          height: 21.6rem;
        }

        @include breakpoint($sm-bp) {
          height: 20rem;
        }

        @include breakpoint($sm-bp) {
          height: unset;
        }

        h4 {
          @include breakpoint($mm-bp) {
            font-size: 2.6rem;
            line-height: 3.2rem;
          }

          @include breakpoint($jb-bp) {
            font-size: 2.4rem;
            line-height: 2.9rem;
          }

          @include breakpoint($sm-bp) {
            font-size: calc(2rem * 1.28);
            line-height: calc(2.4rem * 1.28);
          }
        }
      }
    }
  }
}