<section class="about">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      О нас
    </a>
  </div>

  <div class="about-main">
    <div class="about-main-container">
      <h1 class="about-main__title">
        Orange Digital Marketing -
      </h1>
      <h4 class="about-main__subtitle">
        история про людей, которые любят свое дело.
      </h4>

      <div class="about-main-comment">
        <p class="about-main-comment__text">
          Работа - как хобби. Если мы вместе идем к целям, которые сделают мир лучше - то нам по пути!
        </p>

        <ul class="about-main-comment-list">
          <li class="about-main-comment-list__item">
            +20
          </li>
          <li class="about-main-comment-list__item">
            <img src="assets/images/comment/comment-5.jpg" alt="comment" class="about-main-comment-list__img">
          </li>
          <li class="about-main-comment-list__item">
            <img src="assets/images/comment/comment-4.jpg" alt="comment" class="about-main-comment-list__img">
          </li>
          <li class="about-main-comment-list__item">
            <img src="assets/images/comment/comment-3.jpg" alt="comment" class="about-main-comment-list__img">
          </li>
          <li class="about-main-comment-list__item">
            <img src="assets/images/comment/comment-2.jpg" alt="comment" class="about-main-comment-list__img">
          </li>
          <li class="about-main-comment-list__item">
            <img src="assets/images/comment/comment-1.jpg" alt="comment" class="about-main-comment-list__img">
          </li>
        </ul>
      </div>
    </div>

    <div class="about-main-img-wrapper">
      <div class="about-main-img">
        <img src="assets/images/about.jpg" alt="about" class="about-main-img__img">
      </div>
    </div>
  </div>

  <div class="about-info">
    <h3 class="about-info__title">
      Основы работы
    </h3>

    <ul class="about-info-list">
      <li class="about-info-list-item">
        <div class="about-info-list-item__head">
          <span class="about-info-list-item__number">01</span>
          <h4 class="about-info-list-item__title">Люди, увлеченные работой</h4>
        </div>

        <div class="about-info-list-item__img">
          <img src="assets/images/about-info-1.svg" alt="about">
        </div>

        <p class="about-info-list-item__text">
          Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение поведенческого
          фактора, учет трендов дизайна.
        </p>
      </li>

      <li class="about-info-list-item">
        <div class="about-info-list-item__head">
          <span class="about-info-list-item__number">02</span>
          <h4 class="about-info-list-item__title">Командное взаимодействие</h4>
        </div>

        <div class="about-info-list-item__img">
          <img src="assets/images/about-info-2.svg" alt="about">
        </div>

        <p class="about-info-list-item__text">
          Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение поведенческого
          фактора, учет трендов дизайна.
        </p>
      </li>

      <li class="about-info-list-item">
        <div class="about-info-list-item__head">
          <span class="about-info-list-item__number">03</span>
          <h4 class="about-info-list-item__title">Командное взаимодействие</h4>
        </div>

        <div class="about-info-list-item__img">
          <img src="assets/images/about-info-3.svg" alt="about">
        </div>

        <p class="about-info-list-item__text">
          Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение поведенческого
          фактора, учет трендов дизайна.
        </p>
      </li>
    </ul>
  </div>

  <div class="history">
    <div class="history-container">

      <h3 class="history-title">
        Работа - как хобби.
        <span>
          Если мы вместе идем к целям, которые сделают мир лучше - то нам по пути!
        </span>
      </h3>

      <ul class="history-list">
        <li class="history-list-item">
          <div class="history-list-item__img">
            <img src="assets/images/mincifri.png" alt="минцифры">
          </div>

          <h6 class="history-list-item__subtitle">
            Аккредитованная IT-компания
          </h6>

          <a href="#" class="history-list-item__link">Государственная аккредитация Минцифры</a>
        </li>

        <li class="history-list-item">
          <p class="history-list-item__text">
            У нас работают: SEO-оптимизаторы, дизайнеры, контекстологи, SMM-специалисты, программисты и другие. Но
            каждый
            из нас - в первую очередь интернет-маркетолог.
          </p>

          <a href="#" class="default-icon-link history-list-item__btn">
            Подробнее
            <span class="default-icon-link__icon">
              <svg>
                <use href="#link-arrow-icon"></use>
              </svg>
            </span>
          </a>
        </li>

        <li class="history-list-item">
          <h5 class="history-list-item__title">8 лет</h5>

          <h6 class="history-list-item__subtitle">Помогаем бизнесу</h6>

          <p class="history-list-item__description">
            За это время мы помогли региональным игрокам рынка выйти в Интернет и укрепили их позиции.
          </p>
        </li>

        <li class="history-list-item">
          <h5 class="history-list-item__title">20</h5>

          <h6 class="history-list-item__subtitle">Сотрудников в штате</h6>

          <p class="history-list-item__description">
            Вместе мы идем к целям, которые призваны сделать мир лучше! Ясность цели - рождает путь.
          </p>
        </li>

        <li class="history-list-item">
          <h5 class="history-list-item__title">250+ </h5>

          <h6 class="history-list-item__subtitle">Успешных проектов</h6>

          <p class="history-list-item__description">
            Секрет успешных проектов заключается в сплоченной команде специалистов и применении гибких методологий
            управления.
          </p>
        </li>
      </ul>

    </div>
  </div>

  {{> _partners }}

</section>