<section class="adv">
  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Контекстная реклама
    </a>
  </div>

  <div class="development-head">
    <h1 class="development-head__title">
      Настройка контекстной
      <span>
        рекламы в Яндекс Директе
      </span>
    </h1>

    <h3 class="development-head__subtitle">
      Проводим качественную настройку рекламных кампаний с упором на снижение стоимости лида и быстрое привлечение
      заявок
    </h3>

    <div class="development-head-info">
      <p class="development-head__text">
        Оставьте заявку и получите аудит и расчёт с базовыми рекомендациями по продвижению
        в Яндекс
      </p>

      <button type="button" class="big-icon-btn development-head__btn">
        <div class="big-icon-btn-icon">
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__arrow">
            <use href="#big-arrow-icon"></use>
          </svg>
        </div>

        <span class="big-icon-btn__text">
          Оставить
          заявку
        </span>
      </button>
    </div>
  </div>

  <div class="service marketing-service">

    <div class="service-info marketing-service-info">
      <picture>
        <source srcset="assets/images/service-bg_mob.png" media="(max-width: 850px)">
        <img class="service-info__bg" src="assets/images/service-bg.png" alt="bg">
      </picture>

      <div class="marketing-service-content">
        <h4 class="marketing-service__subtitle">
          Контекстная реклама
        </h4>
        <h5 class="service-info__title marketing-service__title">
          Поможет
        </h5>
      </div>

      <span class="marketing-service__icon">
        <svg>
          <use href="#orange"></use>
        </svg>
      </span>
    </div>

    <ul class="service-list">
      <li class="service-list-item">
        <h4>Увеличить узнаваемость бренда</h4>
        <p>Контекстная реклама позволит повысить узнаваемость вашего бренда. для взаимодействия с аудиторией в режиме
          реального времени. Отвечая на запросы, комментарии и обратную связь клиентов, мы помогаем укрепить доверие
          и повысить лояльность клиентов к бренду.</p>
      </li>
      <li class="service-list-item">
        <h4>Точно попасть в ЦА</h4>
        <p>Большое количество отзывов увеличивает конверсию с рекламы. Мы отработаем негатив и соберем положительные
          отклики.</p>
      </li>
      <li class="service-list-item">
        <h4>Привлечь потенциальных клиентов</h4>
        <p>Контекстная реклама является эффективным инструментом для привлечения новых клиентов и увеличения охвата
          целевой аудитории. Однако, её эффективность зависит от правильной настройки целевой аудитории и ключевых слов
        </p>
      </li>
      <li class="service-list-item">
        <h4>Отследить эффективность</h4>
        <p>Одним из главных преимуществ контекстной рекламы является возможность отслеживать её эффективность. Вы можете
          узнать, сколько людей увидели вашу рекламу, сколько кликов было сделано на неё, сколько конверсий было
          получено и сколько вы потратили на каждый клик</p>
      </li>
      <li class="service-list-item">
        <h4>Быстрый результат</h4>
        <p>Ещё одним преимуществом контекстной рекламы является быстрый результат. Контекстная реклама начинает работать
          сразу после её запуска. Как только вы создали и настроили свою рекламную кампанию, она сразу же начинает
          показываться на страницах поисковых систем, на которых вы выбрали её размещение</p>
      </li>
    </ul>

  </div>

  <div class="works">
    <div class="works-container">

      <div class="works-head">
        <h3 class="works-head__title">Наши работы</h3>
        <p class="works-head__description">
          Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение поведенческого
          фактора, учет трендов дизайна.
        </p>
      </div>

      <div class="works-inner">
        <div class="swiper works-list-wrapper">
          <ul class="swiper-wrapper works-list">
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-1.jpg" alt="work" class="works-list-item-img__img">
                </div>
                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>
              </a>
            </li>
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-2.jpg" alt="work" class="works-list-item-img__img">
                </div>

                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>

                <ul class="works-list-item__labels">
                  <li class="works-list-item__label default-label">ux/ui</li>
                  <li class="works-list-item__label default-label">frontend</li>
                  <li class="works-list-item__label default-label">backend</li>
                </ul>
              </a>
            </li>
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-3.jpg" alt="work" class="works-list-item-img__img">
                </div>

                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>
              </a>
            </li>
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-4.jpg" alt="work" class="works-list-item-img__img">
                </div>

                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>
              </a>
            </li>
          </ul>
        </div>

        <a href="#" class="default-icon-link works-link">
          Смотреть все проекты
          <span class="default-icon-link__icon">
            <svg>
              <use href="#link-arrow-icon"></use>
            </svg>
          </span>
        </a>
      </div>

    </div>
  </div>

  <div class="seo-steps adv-steps">
    <div class="seo-steps-container">

      <h3 class="seo-steps__title">
        Что входит в настройку
        <span>
          контекстной рекламы
        </span>
      </h3>

      <div
        class="swiper seo-steps-swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-backface-hidden">
        <div class="swiper-wrapper seo-steps-swiper-wrapper" id="swiper-wrapper-b9f1b395f01ee0ad" aria-live="polite">
          <div class="swiper-slide seo-steps-swiper-slide swiper-slide-active" role="group" aria-label="1 / 3"
            style="margin-right: 16px;">
            <span class="seo-steps-swiper-slide__number" style="--color: rgba(135, 113, 159, 1)">01</span>

            <h4 class="seo-steps-swiper-slide__title">Анализ конкурентов</h4>

            <p>
              Определим прямых и косвенных конкурентов в нише. Распишем их слабые и сильные стороны. Используем
              полученные данные при запуске рекламных кампаний в Директе и корректировках сайта заказчика
            </p>
          </div>
          <div class="swiper-slide seo-steps-swiper-slide swiper-slide-next" role="group" aria-label="2 / 3"
            style="margin-right: 16px;">
            <span class="seo-steps-swiper-slide__number" style="--color: rgba(76, 150, 165, 1)">02</span>

            <h4 class="seo-steps-swiper-slide__title">Составление медиаплана</h4>

            <p>
              Произведём расчёт необходимого бюджета для наиболее эффективной настройки контекстной рекламы. Определим
              приблизительную стоимость клика, ожидаемую конверсию и стоимость заявки
            </p>
          </div>
          <div class="swiper-slide seo-steps-swiper-slide" role="group" aria-label="3 / 3" style="margin-right: 16px;">
            <span class="seo-steps-swiper-slide__number" style="--color: rgba(61, 135, 98, 1)">03</span>

            <h4 class="seo-steps-swiper-slide__title">Сбор семантического ядра</h4>

            <p>
              Проводим сбор ключевых запросов, по которым будут показываться рекламные объявления. Распределяем
              их по группам, в зависимости от сегмента целевой аудитории сайта
            </p>
          </div>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      </div>

    </div>
  </div>

  <div class="service-price smm-price adv-price">
    <div class="service-price-container">

      <h3 class="service-price__title smm-price__title">Стоимость контекстной рекламы</h3>

      <ul class="service-price-list smm-price-list adv-price-list">
        <li class="service-price-list-item smm-price-list-item">
          <div class="service-price-list-item__head">
            <h6 class="service-price-list-item__title">Базовый</h6>
            <span class="service-price-list-item__price">25 000 ₽</span>
          </div>

          <ul class="service-price-list-item__package">
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Проведение аналитики
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Подбор семантического ядра
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Чистка и группировка поисковых запросов
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Анализ объявлений конкурентов по 3-м разным регионам
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Написание продающих объявлений для поисковой рекламы и РСЯ
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Оптимизация результатов в течение месяца
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Анализ рекламы
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Отчет с расшифровкой
            </li>
          </ul>

          <button type="button" class="default-btn default-btn_light service-price-list-item__btn">Оставить
            заявку</button>
        </li>

        <li class="service-price-list-item service-price-list-item_popular smm-price-list-item">
          <div class="service-price-list-item__label">
            <svg>
              <use href="#fire-icon"></use>
            </svg>
            Выбирают чаще всего
          </div>

          <div class="service-price-list-item__head">
            <h6 class="service-price-list-item__title">Оптимальный</h6>
            <span class="service-price-list-item__price">35 000 ₽</span>
          </div>

          <div class="service-price-list-item__info">
            Все, что в пакете «Базовый» +
          </div>

          <ul class="service-price-list-item__package">
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Настройка коллтрекинга и отслеживания писем
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Анализ сайтов конкурентов по разным регионам
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Проработка УТП для повышения конверсии
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Анализ рекламы
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Отчет с расшифровкой
            </li>
          </ul>

          <button type="button" class="default-btn service-price-list-item__btn">Оставить заявку</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="seo-feedback marketing-feedback">
    <div class="seo-feedback-bg"></div>

    <div class="seo-feedback-content">
      <h3 class="seo-feedback__title marketing-feedback__title">
        Нужна помощь с выбором тарифа?
      </h3>
      <p class="marketing-feedback__description">
        Отправьте заявку сейчас и мы свяжемся с вами для обсуждения ваших потребностей и сроков!
      </p>

      <div class="seo-feedback-inner marketing-feedback__inner">
        <p class="seo-feedback__text">
          Контекстная реклама является очень полезным инструментом для бизнеса. Она позволяет быстро привлекать
          клиентов, увеличивать трафик на сайт, улучшать конверсию и увеличивать продажи. Оставьте заявку
          и мы вам поможем добиться поставленных целей.
        </p>

        <button type="button" class="big-icon-btn seo-feedback__btn">
          <div class="big-icon-btn-icon">
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__arrow">
              <use href="#big-arrow-icon"></use>
            </svg>
          </div>

          <span class="big-icon-btn__text">
            Оставить
            заявку
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="development-stage">
    <div class="development-stage-container">

      <h3 class="development-stage__title">
        Как мы снижаем
        <span>
          стоимость лида в Яндекс Директе
        </span>
      </h3>

      <div class="development-stage-inner">

        <h5 class="development-stage__subtitle">
          Работу с соцсетями начинаем с проведения аналитики и продуманной стратегии
        </h5>

        <div
          class="swiper development-stage-swiper swiper-creative swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">
          <div class="swiper-wrapper development-stage-swiper-wrapper" id="swiper-wrapper-119fbf6b7ec2bae6"
            aria-live="polite">
            <div class="swiper-slide development-stage-swiper-slide swiper-slide-visible swiper-slide-active"
              style="width: 764px; z-index: 4; transform: translate3d(calc(0px), calc(0px), calc(0px)) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); opacity: 1;"
              role="group" aria-label="1 / 4">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Отслеживание всех ключевых показателей</h4>
                <p>
                  Запуск контекстной рекламы начинается с настройки аналитики. Мы отслеживаем реальные показатели:
                  звонки вместо кликов по номеру и заявки вместо кликов по кнопке. При ведении рекламы
                  интернет-магазинов подключаем электронную коммерцию и настраиваем цель на покупку товаров
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide swiper-slide-next"
              style="width: 764px; z-index: 3; transform: translate3d(calc(-764px + 100%), calc(0px), calc(0px)) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); opacity: 1;"
              role="group" aria-label="2 / 4">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Доработка сайта заказчика под конверсию</h4>
                <p>
                  В агентстве работают не только специалисты по рекламе, но и другие: дизайнеры и разработчики.
                  При необходимости внедряем на сайт новые элементы, чтобы получить больше заявок из Яндекс Директа.
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide"
              style="width: 764px; z-index: 2; transform: translate3d(calc(-1528px + 100%), calc(0px), calc(0px)) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); opacity: 1;"
              role="group" aria-label="3 / 4">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Внесение изменений в настройки рекламного кабинета</h4>
                <p>
                  Мало настроить контекстную рекламу — на этапе ведения важно систематически работать на повышение
                  конверсии и снижение стоимости заявок. Мы работаем по чёткому регламенту, который позволяет повысить
                  эффективность Директа в большинстве случаев
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide" role="group" aria-label="4 / 4"
              style="width: 764px; z-index: 1; transform: translate3d(calc(-2292px + 100%), calc(0px), calc(0px)) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); opacity: 1;">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Запуск ретаргетинга</h4>
                <p>
                  В большинстве случаев люди не сразу оставляют заявку на сайте — пользователи анализируют разные
                  предложения. Чтобы покупатели не ушли к конкурентам, специалисты показывают им баннеры и возвращают
                  на страницы вашей компании
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide" role="group" aria-label="4 / 4"
              style="width: 764px; z-index: 1; transform: translate3d(calc(-2292px + 100%), calc(0px), calc(0px)) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); opacity: 1;">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Постоянное тестирование гипотез</h4>
                <p>
                  В маркетинге нельзя заранее сказать, что сработает лучше. Наше агентство фокусируется на постоянном
                  мониторинге показателей и повышении эффективности через изменения в рекламном кабинете
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide" role="group" aria-label="4 / 4"
              style="width: 764px; z-index: 1; transform: translate3d(calc(-2292px + 100%), calc(0px), calc(0px)) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); opacity: 1;">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Оптимизация по сумме заказов</h4>
                <p>
                  Если заказчик готов подключить CRM-аналитику — агентство идёт навстречу. Мы поможем увидеть реальную
                  сумму, которая была получена с заказов от рекламы в Директе. Если цена заявки не укладывается
                  в юнит-экономику компании, мы дорабатываем конверсию
                </p>
              </div>
            </div>
          </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

      </div>

    </div>

    <div class="development-stage-timeline">
      <div class="development-stage-timeline__marker">01</div>
    </div>

    <div
      class="development-stage-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
      <span class="development-stage-pagination__bullet development-stage-pagination__bullet_active" tabindex="0"
        role="button" aria-label="Go to slide 1" aria-current="true"></span><span
        class="development-stage-pagination__bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span
        class="development-stage-pagination__bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span
        class="development-stage-pagination__bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
    </div>

  </div>

  <div class="landing-advantages adv-advantages">
    <h3 class="landing-advantages__title">Кому подойдет наше предложение</h3>

    <ul class="landing-advantages-list">
      <li class="landing-advantages-item _active">
        <div class="landing-advantages-item__icon">
          <svg>
            <use href="#images-icon"></use>
          </svg>
        </div>

        <div class="landing-advantages-item__text">
          <h4>Интернет магазинам</h4>
          <p>
            Ушли времена, когда для настройки рекламы интернет-магазина требовались многие недели и даже месяцы. Сегодня
            появились форматы, которые позволяют задействовать весь ассортимент и потратить на настройку 2–3 дня.
            Подключение e-commerce в Метрике позволяет видеть конкретные цифры продаж и оптимизировать долю рекламных
            расходов
          </p>
        </div>
      </li>
      <li class="landing-advantages-item">
        <div class="landing-advantages-item__icon">
          <svg>
            <use href="#images-icon"></use>
          </svg>
        </div>

        <div class="landing-advantages-item__text">
          <h4>Нишам в B2B</h4>
          <p>
            Контекстная реклама для B2B настраивается с учётом особенностей отрасли. Бизнес принимает решения дольше,
            чем конечный потребитель, поэтому важно настроить ретаргетинг и показывать объявления одному
            и тому же пользователю максимально длительное время. Также важно отбирать семантику, исходя из конкретного
            ассортимента продукции или услуг
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="development-questions">
    <h4 class="development-questions__title">
      Постарались ответить
      <span>
        на самые распространенные вопросы
      </span>
    </h4>

    <ul class="development-questions-list">
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Кому будет показываться реклама?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Сколько в среднем стоит контекстная реклама?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Стоимость ведения и настройки определяется в зависимости от масштаба работ, которые следует провести. Мы
            анализируем количество продуктов, регионов и объем времени, которое нужно потратить на подключение аналитики
            и доработки по сайту
          </p>
          <p>
            Бюджет считаем только индивидуально. В процессе составления стратегии решаем, какие форматы будут
            задействованы в процессе. Исходя из этого, запрашиваем счет
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          В чем разница между таргетом и контекстной рекламой?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          В чем разница между SEO и контекстной рекламой?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
    </ul>
  </div>

</section>