<div class="business-baner">
  <div class="business-baner-container">

    <div class="business-baner-bg">
      <div class="business-baner-bg__fill">
        <picture>
          <source srcset="assets/images/business-fill_mob.png" media="(max-width: 500px)">
          <img src="assets/images/business-fill.png" alt="fill">
        </picture>
      </div>
      <div class="business-baner-bg__line">
        <img src="assets/images/business-line.svg" alt="line">
        <!-- <svg viewBox="0 0 1123 420" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 12L546.948 41.2025C556.867 41.7321 557.126 56.2781 547.231 57.1595L217.693 86.5157C208 87.3791 207.96 101.53 217.648 102.448L929.66 169.928C938.907 170.804 939.484 184.085 930.349 185.761L346.67 292.839C337.694 294.486 338.032 307.464 347.082 308.641L1111 408"
            stroke="url(#paint0_linear_454_2769)" stroke-width="23" stroke-linecap="round" />
          <defs>
            <linearGradient id="paint0_linear_454_2769" x1="368.976" y1="-25.0442" x2="761.357" y2="469.128"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="white" stop-opacity="0.07" />
              <stop offset="1" stop-color="white" stop-opacity="0.03" />
            </linearGradient>
          </defs>
        </svg> -->
      </div>
    </div>

    <div class="business-baner-content">
      <h3 class="business-baner__title">
        <span>
          Расскажите, чт
          <svg>
            <use href="#letter-o"></use>
          </svg>
        </span>
        <span>
          нужн
          <svg>
            <use href="#letter-o"></use>
          </svg>
          <span>
            вашему
          </span>
          <span>
            бизнесу
          </span>
        </span>
      </h3>
      <p class="business-baner__text">
        Проведем анализ текущей ситуациии предложим конкретные решения в тот же день
      </p>
      <button type="button" class="business-baner__btn">
        Оставить заявку
      </button>
    </div>

  </div>
</div>