<div class="business-baner">
  <div class="business-baner-container">

    <div class="business-baner-bg">
      <div class="business-baner-bg__fill">
        <picture>
          <source srcset="assets/images/business-fill_mob.png" media="(max-width: 500px)">
          <img src="assets/images/business-fill.png" alt="fill">
        </picture>
      </div>
      <div class="business-baner-bg__line">
        <img src="assets/images/business-line.svg" alt="line">
      </div>
    </div>

    <div class="business-baner-content">
      <h3 class="business-baner__title">
        <span>
          Расскажите, чт
          <svg>
            <use href="#letter-o"></use>
          </svg>
        </span>
        <span>
          нужн
          <svg>
            <use href="#letter-o"></use>
          </svg>
          <span>
            вашему
          </span>
          <span>
            бизнесу
          </span>
        </span>
      </h3>
      <p class="business-baner__text">
        Проведем анализ текущей ситуациии предложим конкретные решения в тот же день
      </p>
      <button type="button" class="business-baner__btn">
        Оставить заявку
      </button>
      <!-- <button type="button" class="big-icon-btn business-baner__btn">
        <div class="big-icon-btn-icon">
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__arrow">
            <use href="#big-arrow-icon"></use>
          </svg>
        </div>

        <span class="big-icon-btn__text">
          Оставить
          заявку
        </span>
      </button> -->
    </div>

  </div>
</div>