<section class="contacts">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Контакты
    </a>
  </div>

  <div class="development-head contacts-head">
    <h1 class="development-head__title">
      Контакты
    </h1>

    <div class="contacts-head-info">
      <div class="contacts-head-info__item">
        <h6 class="contacts-head-info__title">Звоните</h6>
        <a href="tel:+79002830333" class="contacts-head-info__link">+7 (900) 283-03-33</a>
      </div>
      <div class="contacts-head-info__item">
        <h6 class="contacts-head-info__title">Пишите</h6>
        <a href="mailto:company@orange-marketing.ru" class="contacts-head-info__link">company@orange-marketing.ru</a>
      </div>
      <div class="contacts-head-info__item">
        <a href="#" class="contacts-head-info__link">
          Telegram
          <span>
            <svg>
              <use href="#link-arrow-icon"></use>
            </svg>
          </span>
        </a>
      </div>
      <div class="contacts-head-info__item">
        <a href="#" class="contacts-head-info__link">
          WhatsApp
          <span>
            <svg>
              <use href="#link-arrow-icon"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="contacts-map">
    <div class="contacts-map-container">

      <h3 class="contacts-map__title">Ждем в гости </h3>

      <div class="contacts-map-info">
        <p class="contacts-map-info__subtitle">
          г. Краснодар, ул. Старокубанская 92, оф. 205
        </p>
        <p class="contacts-map-info__text">
          пн-пт 10:00 - 18:00
        </p>
      </div>

      <div class="contacts-map-inner">
        <iframe class="contacts-map__frame"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2820.55321392253!2d39.04501083560739!3d45.0136941406538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f05012c317b3ef%3A0x9ee0c71a9516d52c!2z0KHRgtCw0YDQvtC60YPQsdCw0L3RgdC60LDRjyDRg9C7LiwgOTIsINCa0YDQsNGB0L3QvtC00LDRgCwg0JrRgNCw0YHQvdC-0LTQsNGA0YHQutC40Lkg0LrRgNCw0LksINCg0L7RgdGB0LjRjywgMzUwMDU4!5e0!3m2!1sru!2sby!4v1676986734119!5m2!1sru!2sby"
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>
  </div>

  <div class="contacts-info">
    <h3 class="contacts-info__title">Реквизиты</h3>

    <ul class="contacts-info-list">
      <li class="contacts-info-list-item">
        <div>
          <h6>ООО "ОРАНЖ ДИДЖИТАЛ АЙТИ"</h6>
          <ul>
            <li>
              ИНН/ КПП: 2309179131 / 230901001
            </li>
            <li>
              ОГРН: 1222300018270
            </li>
          </ul>
        </div>
        <div>
          <h6>Банк</h6>
          <ul>
            <li>
              р/с: 40702810201500125102
            </li>
            <li>
              ТОЧКА ПАО БАНКА "ФК ОТКРЫТИЕ"
            </li>
            <li>
              БИК: 044525999
            </li>
            <li>
              к/с: 30101810845250000999
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-info-list-item">
        <div>
          <h6>ИП Дубовсков Д. А</h6>
          <ul>
            <li>
              ИНН: 234704803461
            </li>
            <li>
              ОГРН: 314236911300055
            </li>
          </ul>
        </div>
        <div>
          <h6>Банк</h6>
          <ul>
            <li>
              р/с: 40802810609270000732
            </li>
            <li>
              ТОЧКА ПАО "ХАНТЫ-МАНСИЙСКИЙ БАНК ОТКРЫТИЕ"
            </li>
            <li>
              БИК: 044525999
            </li>
            <li>
              к/с: 30101810600000000999
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</section>