<section class="contacts">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Контакты
    </a>
  </div>

  <div class="development-head contacts-head">
    <h1 class="development-head__title">
      Контакты
    </h1>

    <div class="contacts-head-info">
      <div class="contacts-head-info__item">
        <h6 class="contacts-head-info__title">Звоните</h6>
        <a href="tel:+79002830333" class="contacts-head-info__link">+7 (900) 283-03-33</a>
      </div>
      <div class="contacts-head-info__item">
        <h6 class="contacts-head-info__title">Пишите</h6>
        <a href="mailto:company@orange-marketing.ru" class="contacts-head-info__link">company@orange-marketing.ru</a>
      </div>
      <div class="contacts-head-info__item">
        <a href="#" class="contacts-head-info__link">
          Telegram
          <span>
            <svg>
              <use href="#link-arrow-icon"></use>
            </svg>
          </span>
        </a>
      </div>
      <div class="contacts-head-info__item">
        <a href="#" class="contacts-head-info__link">
          WhatsApp
          <span>
            <svg>
              <use href="#link-arrow-icon"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>

</section>