<section class="development">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Разработка сайтов
    </a>
  </div>

  <div class="development-head">
    <h1 class="development-head__title">
      Создание сайтов
      <span>
        в Краснодаре под ключ
      </span>
    </h1>

    <h3 class="development-head__subtitle">
      Двигаем сайты в ТОП-10 Яндекса и Google с 2014 года
    </h3>

    <div class="development-head-info">
      <p class="development-head__text">
        Оставьте заявку и получите бесплатный аудит с пошаговым планом по оптимизации!
      </p>

      <button type="button" class="big-icon-btn development-head__btn">
        <div class="big-icon-btn-icon">
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__arrow">
            <use href="#big-arrow-icon"></use>
          </svg>
        </div>

        <span class="big-icon-btn__text">
          Оставить
          заявку
        </span>
      </button>
    </div>
  </div>

  {{> _types }}

</section>