<section class="development">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Разработка сайтов
    </a>
  </div>

  <div class="development-head">
    <h1 class="development-head__title">
      Создание сайтов
      <span>
        в Краснодаре под ключ
      </span>
    </h1>

    <h3 class="development-head__subtitle">
      Двигаем сайты в ТОП-10 Яндекса и Google с 2014 года
    </h3>

    <div class="development-head-info">
      <p class="development-head__text">
        Оставьте заявку и получите бесплатный аудит с пошаговым планом по оптимизации!
      </p>

      <button type="button" class="big-icon-btn development-head__btn">
        <div class="big-icon-btn-icon">
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__arrow">
            <use href="#big-arrow-icon"></use>
          </svg>
        </div>

        <span class="big-icon-btn__text">
          Оставить
          заявку
        </span>
      </button>
    </div>
  </div>

  {{> _types }}

  <div class="works">
    <div class="works-container">

      <div class="works-head">
        <h3 class="works-head__title">Наши работы</h3>
        <p class="works-head__description">
          Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение поведенческого
          фактора, учет трендов дизайна.
        </p>
      </div>

      <div class="works-inner">
        <div class="swiper works-list-wrapper">
          <ul class="swiper-wrapper works-list">
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-1.jpg" alt="work" class="works-list-item-img__img">
                </div>
                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>
              </a>
            </li>
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-2.jpg" alt="work" class="works-list-item-img__img">
                </div>

                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>

                <ul class="works-list-item__labels">
                  <li class="works-list-item__label default-label">ux/ui</li>
                  <li class="works-list-item__label default-label">frontend</li>
                  <li class="works-list-item__label default-label">backend</li>
                </ul>
              </a>
            </li>
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-3.jpg" alt="work" class="works-list-item-img__img">
                </div>

                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>
              </a>
            </li>
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-4.jpg" alt="work" class="works-list-item-img__img">
                </div>

                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="history development-history">
    <div class="history-container">

      <h3 class="history-title">
        Orange Digital Marketing -
        <span>
          история про людей, которые любят свое дело.
        </span>
      </h3>

    </div>

    <div class="swiper development-history-swiper">
      <ul class="swiper-wrapper development-history-swiper-wrapper">
        <li class="swiper-slide development-history-swiper-slide">
          <img src="assets/images/history-swiper-1.jpg" alt="history" class="development-history-swiper-slide__img">
        </li>
        <li class="swiper-slide development-history-swiper-slide">
          <img src="assets/images/history-swiper-2.jpg" alt="history" class="development-history-swiper-slide__img">
        </li>
        <li class="swiper-slide development-history-swiper-slide">
          <img src="assets/images/history-swiper-3.jpg" alt="history" class="development-history-swiper-slide__img">
        </li>
        <li class="swiper-slide development-history-swiper-slide">
          <img src="assets/images/history-swiper-4.jpg" alt="history" class="development-history-swiper-slide__img">
        </li>
      </ul>
    </div>

    <div class="history-container">
      <ul class="history-list">
        <li class="history-list-item">
          <p class="history-list-item__text">
            У нас работают: SEO-оптимизаторы, дизайнеры, контекстологи, SMM-специалисты, программисты и другие. Но
            каждый
            из нас - в первую очередь интернет-маркетолог.
          </p>

          <a href="#" class="default-icon-link history-list-item__btn development-history__link">
            Подробнее
            <span class="default-icon-link__icon">
              <svg>
                <use href="#link-arrow-icon"></use>
              </svg>
            </span>
          </a>
        </li>

        <li class="history-list-item">
          <div class="history-list-item__img">
            <img src="assets/images/mincifri_white.png" alt="минцифры">
          </div>

          <h6 class="history-list-item__subtitle">
            Аккредитованная IT-компания
          </h6>

          <a href="#" class="history-list-item__link">Государственная аккредитация Минцифры</a>
        </li>

        <li class="history-list-item">
          <h5 class="history-list-item__title">8 лет</h5>

          <h6 class="history-list-item__subtitle">Помогаем бизнесу</h6>

          <p class="history-list-item__description">
            За это время мы помогли региональным игрокам рынка выйти в Интернет и укрепили их позиции.
          </p>
        </li>

        <li class="history-list-item">
          <h5 class="history-list-item__title">20</h5>

          <h6 class="history-list-item__subtitle">Сотрудников в штате</h6>

          <p class="history-list-item__description">
            Вместе мы идем к целям, которые призваны сделать мир лучше! Ясность цели - рождает путь.
          </p>
        </li>

        <li class="history-list-item">
          <h5 class="history-list-item__title">250+ </h5>

          <h6 class="history-list-item__subtitle">Успешных проектов</h6>

          <p class="history-list-item__description">
            Секрет успешных проектов заключается в сплоченной команде специалистов и применении гибких методологий
            управления.
          </p>
        </li>
      </ul>

    </div>
  </div>

  <div class="development-stage">
    
  </div>

</section>