<div class="digital-pack">
  <div class="digital-pack-container">

    <div class="digital-pack-bg">
      <div class="digital-pack-bg__fill">
        <div class="digital-pack-bg__arrow">
          <img src="assets/images/digital-pack-arrow.png" alt="arrow">
        </div>
        <div class="digital-pack-bg__arrow">
          <img src="assets/images/digital-pack-arrow.png" alt="arrow">
        </div>
      </div>
    </div>

    <div class="digital-pack-content">
      <h3 class="digital-pack__title">
        Digital Pack- уникальное решение
        <span>
          на рынке интернет-услуг
        </span>
      </h3>

      <div class="digital-pack-inner">
        <p class="digital-pack__text">
          Комплекс услуг точно закроет “головную боль” от разных компаний, сотрудников и фрилансеров. Пакет включает в
          себя необходимый набор инструментов, которые позволяют получать измеримые результаты.
        </p>

        <button type="button" class="big-icon-btn digital-pack__btn">
          <div class="big-icon-btn-icon">
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__arrow">
              <use href="#big-arrow-icon"></use>
            </svg>
          </div>

          <span class="big-icon-btn__text">
            Оставить
            заявку
          </span>
        </button>
      </div>
    </div>

  </div>
</div>