<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-top-item">
        <h3 class="footer-top-item__title">Разработка сайтов</h3>

        <ul class="footer-top-item-list">
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">Корпоративный сайт</a>
          </li>
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">Интернет магазин</a>
          </li>
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">Landing Page</a>
          </li>
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">Поддержка сайтов</a>
          </li>
        </ul>
      </div>

      <div class="footer-top-item">
        <h3 class="footer-top-item__title">Маркетинг</h3>

        <ul class="footer-top-item-list">
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">SEO-продвижение</a>
          </li>
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">Контекстная реклама</a>
          </li>
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">SMM</a>
          </li>
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">Комплексный маркетинг</a>
          </li>
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">Видеопродакшн</a>
          </li>
        </ul>
      </div>

      <div class="footer-top-item">
        <h3 class="footer-top-item__title">Навигация</h3>

        <ul class="footer-top-item-list">
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">О нас</a>
          </li>
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">Вакансии</a>
          </li>
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">Контакты</a>
          </li>
          <li class="footer-top-item-list__item">
            <a href="#" class="footer-top-item-list__link">Кейсы</a>
          </li>
        </ul>
      </div>

      <div class="footer-top-item">
        <button type="button" class="big-icon-btn footer-top-item__btn">
          <div class="big-icon-btn-icon">
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__arrow">
              <use href="#big-arrow-icon"></use>
            </svg>
          </div>

          <span class="big-icon-btn__text">
            Оставить
            заявку
          </span>
        </button>
      </div>

      <div class="footer-top-item">
        <a href="#" class="footer-top-item__link_icon">
          <svg>
            <use href="#logo-mini-icon"></use>
          </svg>
        </a>
      </div>

      <div class="footer-top-item">
        <h3 class="footer-top-item__title">Офис</h3>

        <p class="footer-top-item__text">
          г. Краснодар, <br>
          Старокубанская 92, оф.205
        </p>
      </div>

      <div class="footer-top-item">
        <h3 class="footer-top-item__title">Телефон</h3>

        <p class="footer-top-item__text">
          +7 (900) 283-03-33 <br>
          +7 (861) 210-83-33
        </p>
      </div>

      <div class="footer-top-item">
        <h3 class="footer-top-item__title">Эллектронный адрес</h3>

        <p class="footer-top-item__text">
          company@orange-marketing.ru
        </p>
      </div>
    </div>

    <div class="footer-legal">
      <p class="footer-legal__text">
        © 2014 - 2023 Orange Marketing.
      </p>

      <a href="#" class="footer-legal__link">
        Политика обработки персональных данных
      </a>

      <div class="footer-legal-social">
        <a href="#" class="footer-legal-social__link">Telegram</a>
        <a href="#" class="footer-legal-social__link">Vkontakte</a>
        <a href="#" class="footer-legal-social__link">YouTube</a>
      </div>
    </div>
  </div>
</footer>