<header class="header">
  <div class="header-container">
    <a href="#" class="header-logo">
      <img src="assets/images/logo.png" alt="logo" class="header-logo__img">
    </a>

    <button class="header-btn">
      <svg class="header-btn__icon header-btn__icon_burger">
        <use href="#menu-burger-icon"></use>
      </svg>
      <svg class="header-btn__icon header-btn__icon_close">
        <use href="#menu-close-icon"></use>
      </svg>
    </button>

    <nav class="header-menu">
      <div class="header-menu-contacts">
        <a href="tel:+79002830333" class="header-menu-contacts__link">+7 (900) 283-03-33</a>
        <p class="header-menu-contacts__text">
          Старокубанская 92, оф.205
        </p>
      </div>

      <ul class="header-menu-list">
        <li class="header-menu-list-item">
          <div class="dropdown header-menu-dropdown">
            <button type="button" class="dropdown-btn header-menu-list__link">
              Компания
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="dropdown-content header-menu-dropdown__content">
              <a href="#" class="header-menu-dropdown__link">Корпоративный сайт</a>
              <a href="#" class="header-menu-dropdown__link">Интернет магазин</a>
              <a href="#" class="header-menu-dropdown__link">Landing Page</a>
              <a href="#" class="header-menu-dropdown__link">Имиджевый сайт</a>
              <a href="#" class="header-menu-dropdown__link">Поддержка сайтов</a>
            </div>
          </div>
        </li>
        <li class="header-menu-list-item">
          <div class="dropdown header-menu-dropdown">
            <button type="button" class="dropdown-btn header-menu-list__link">
              Разработка
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="dropdown-content header-menu-dropdown__content">
              <a href="#" class="header-menu-dropdown__link">Корпоративный сайт</a>
              <a href="#" class="header-menu-dropdown__link">Интернет магазин</a>
              <a href="#" class="header-menu-dropdown__link">Landing Page</a>
              <a href="#" class="header-menu-dropdown__link">Имиджевый сайт</a>
              <a href="#" class="header-menu-dropdown__link">Поддержка сайтов</a>
            </div>
          </div>
        </li>
        <li class="header-menu-list-item">
          <div class="dropdown header-menu-dropdown">
            <button type="button" class="dropdown-btn header-menu-list__link">
              Маркетинг
              <svg>
                <use href="#drop-arrow-icon"></use>
              </svg>
            </button>
            <div class="dropdown-content header-menu-dropdown__content">
              <a href="#" class="header-menu-dropdown__link">Корпоративный сайт</a>
              <a href="#" class="header-menu-dropdown__link">Интернет магазин</a>
              <a href="#" class="header-menu-dropdown__link">Landing Page</a>
              <a href="#" class="header-menu-dropdown__link">Имиджевый сайт</a>
              <a href="#" class="header-menu-dropdown__link">Поддержка сайтов</a>
            </div>
          </div>
        </li>
        <li class="header-menu-list-item">
          <a href="#" class="header-menu-list__link">Кейсы</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#" class="header-menu-list__link">Контакты</a>
        </li>
      </ul>

      <button type="button" class="default-btn header-menu__btn">Оставить заявку</button>
    </nav>
  </div>
</header>