<section class="import-drinks">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Кейсы
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Сайт Import Drinks
    </a>
  </div>

  <div class="import-drinks-head">
    <h2 class="import-drinks-head__title">Сайт Import Drinks</h2>

    <div class="import-drinks-head__inner">

      <p class="import-drinks-head__text">
        Лучший способ понять, как мы можем вам помочь — заказать консультацию. Она абсолютно бесплатна, позволит
        прояснить задачи в проекте. Можем провести встречу онлайн или у нас в офисе. Заполните бриф или позвоните по
        телефону <strong>+7 (900) 283-03-33</strong> согласуем формат и удобное время.
      </p>

      <ul class="import-drinks-head-keys">
        <li class="default-tag default-tag_white import-drinks-head-keys__key">
          UX/UI-дизайн
        </li>
        <li class="default-tag default-tag_white import-drinks-head-keys__key">
          Разработка сайта
        </li>
        <li class="default-tag default-tag_white import-drinks-head-keys__key">
          SEO-продвижение
        </li>
        <li class="default-tag default-tag_white import-drinks-head-keys__key">
          Контекстная реклама
        </li>
        <li class="default-tag default-tag_white import-drinks-head-keys__key">
          MODX
        </li>
      </ul>

    </div>

    <a href="#" class="default-icon-link import-drinks-head__link">
      importdrinks.ru
      <span class="default-icon-link__icon">
        <svg>
          <use href="#link-arrow-icon"></use>
        </svg>
      </span>
    </a>
  </div>

  <div class="import-drinks-main">
    <div class="import-drinks-main-container">
      <div class="import-drinks-main-inner">
        <div class="import-drinks-main-item">
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-1.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-2.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-3.png" alt="import-drinks">
          </div>
        </div>
        <div class="import-drinks-main-item">
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-2.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-1.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-3.png" alt="import-drinks">
          </div>
        </div>
        <div class="import-drinks-main-item">
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-3.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-2.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-1.png" alt="import-drinks">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="import-drinks-task">
    <div class="import-drinks-task-head">
      <h4 class="import-drinks-task__title">Задача</h4>

      <div class="import-drinks-task__description">
        <p>
          Разработка сайта, отражающего позиционирование компании и настроение продуктов. Сайт такого интересного
          продукта
          должен дарить пользователю яркие эмоции, драйв и веселье, а также отражать гибкость компании и ее динамичное
          развитие.
        </p>
      </div>
    </div>

    <div class="import-drinks-task-inner">
      <div class="import-drinks-task-bg"></div>

      <a href="https://youtu.be/n_wX2oddf38" class="import-drinks-task-video" data-fancybox>
        <img src="assets/images/import-drinks/import-drinks-video.jpg" alt="drinks">
        <svg>
          <use href="#play-icon_white"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="import-drinks-project">
    <div class="import-drinks-task-head import-drinks-project__head">
      <h4 class="import-drinks-task__title">Проектирование</h4>

      <div class="import-drinks-task__description">
        <p>
          Для нас приоритетно выстраивать с клиентами долгосрочные отношения, именно поэтому мы погружаемся с головой в
          тематику и активно взаимодействуем с клиентом на всех этапах работ. Мы объединяем свой опыт и знания в
          разработке с экспертизой клиента в его сфере.
        </p>
        <p>
          На самом старте мы провели анализ и на его основании построили структуру будущего сайта. Структура отображает
          все пути пользователя.
        </p>
      </div>
    </div>

    <div class="import-drinks-project__inner">
      <div class="import-drinks-project__bg">
        <img src="assets/images/import-drinks/project-line.svg" alt="line">
      </div>

      <div class="import-drinks-project__content">
        <a href="assets/images/import-drinks/project-scheme.png" class="import-drinks-project__img" data-fancybox>
          <img src="assets/images/import-drinks/project-scheme.png" alt="project-scheme">
        </a>
      </div>
    </div>
  </div>

  <div class="import-drinks-concept">
    <div class="import-drinks-task-head import-drinks-project__head">
      <h4 class="import-drinks-task__title">Концепция</h4>

      <div class="import-drinks-task__description">
        <p>
          В поиске концепции нам помогла не столько сфера деятельности клиента, сколько продукция, с которой он
          работает. Вдохновением стали разные состояния напитков и сочные фрукты. Брызги, лед, пузырьки, волны сока -
          легли в основу дизайн-концепции.
          Дизайн характеризуют плавные закругленные элементы, яркие цвета, позитивные эмоции.
        </p>
      </div>
    </div>

    <div class="import-drinks-concept__inner">
      <div class="import-drinks-concept-box">
        <div class="import-drinks-concept-box__top">
          <a href="assets/images/import-drinks/concept-1.jpg" class="import-drinks-concept-box__img" data-fancybox>
            <img src="assets/images/import-drinks/concept-1.jpg" alt="concept">
          </a>
          <a href="assets/images/import-drinks/concept-2.jpg"
            class="import-drinks-concept-box__img import-drinks-concept-box__img_mask" data-fancybox>
            <img src="assets/images/import-drinks/concept-2.jpg" alt="concept">
          </a>
        </div>
        <div class="import-drinks-concept-box__bottom">
          <a href="assets/images/import-drinks/concept-3.jpg" class="import-drinks-concept-box__img" data-fancybox>
            <img src="assets/images/import-drinks/concept-3.jpg" alt="concept">
          </a>
        </div>
      </div>

      <div class="import-drinks-concept-box">
        <div class="import-drinks-concept-box__bottom">
          <a href="assets/images/import-drinks/concept-4.jpg" class="import-drinks-concept-box__img" data-fancybox>
            <img src="assets/images/import-drinks/concept-4.jpg" alt="concept">
          </a>
          <a href="assets/images/import-drinks/concept-5.jpg" class="import-drinks-concept-box__img" data-fancybox>
            <img src="assets/images/import-drinks/concept-5.jpg" alt="concept">
          </a>
        </div>
        <div class="import-drinks-concept-box__top">
          <a href="assets/images/import-drinks/concept-6.jpg"
            class="import-drinks-concept-box__img import-drinks-concept-box__img_circle" data-fancybox>
            <img src="assets/images/import-drinks/concept-6.jpg" alt="concept">
          </a>
          <a href="assets/images/import-drinks/concept-7.jpg" class="import-drinks-concept-box__img" data-fancybox>
            <img src="assets/images/import-drinks/concept-7.jpg" alt="concept">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="import-drinks-result">
    <h3 class="import-drinks-result__title">Что в итоге</h3>

    <div class="import-drinks-result__inner">
      <p class="import-drinks-result__subtitle">
        Литры дегустаций напитков, погружение в тематику и вуаля, родился яркий и запоминающийся дизайн сайта.
      </p>

      <div id="import-drinks-result" class="import-drinks-result-images">
        <div class="import-drinks-result-images-bg" data-depth="0.2">
          <div class="import-drinks-result-images-bg__bubble"></div>
          <div class="import-drinks-result-images-bg__bubble"></div>
          <div class="import-drinks-result-images-bg__bubble"></div>
          <div class="import-drinks-result-images-bg__bubble"></div>
          <div class="import-drinks-result-images-bg__bubble"></div>
        </div>

        <div class="import-drinks-result-images__inner" data-depth="-0.2">
          <div class="import-drinks-result-images__img">
            <img src="assets/images/import-drinks/cola.png" alt="cola">
          </div>
          <div class="import-drinks-result-images__img">
            <img src="assets/images/import-drinks/result-1.jpg" alt="result">
          </div>
          <div class="import-drinks-result-images__img">
            <img src="assets/images/import-drinks/result-2.jpg" alt="result">
          </div>
          <div class="import-drinks-result-images__img">
            <img src="assets/images/import-drinks/result-3.jpg" alt="result">
          </div>
          <div class="import-drinks-result-images__img">
            <img src="assets/images/import-drinks/result-4.jpg" alt="result">
          </div>
        </div>
      </div>

      <div class="import-drinks-result-info">
        <div class="import-drinks-result-info__item">
          <span class="import-drinks-result-info__title">Карамельный капучино</span>
          <span class="import-drinks-result-info__text">#FFF4E7</span>
        </div>
        <div class="import-drinks-result-info__item">
          <span class="import-drinks-result-info__title">Просто белый</span>
          <span class="import-drinks-result-info__text">#FFFFFF</span>
        </div>
        <div class="import-drinks-result-info__item">
          <span class="import-drinks-result-info__title import-drinks-result-info__title_white">Гуава с мякотью</span>
          <span class="import-drinks-result-info__text import-drinks-result-info__text_white">#FF6800</span>
        </div>
        <div class="import-drinks-result-info__item">
          <span class="import-drinks-result-info__title import-drinks-result-info__title_white">Сок красного
            винограда</span>
          <span class="import-drinks-result-info__text import-drinks-result-info__text_white">#FF6800</span>
        </div>
      </div>
    </div>
  </div>

  <div class="import-drinks-fonts">
    <h4 class="import-drinks-task__title import-drinks-fonts__title">Типографика</h4>

    <div class="import-drinks-fonts__container">
      <div class="import-drinks-fonts__inner">
        <div class="import-drinks-fonts__box">
          <div class="import-drinks-fonts__img">
            <img src="assets/images/import-drinks/Pribambas.svg" alt="Pribambas">
          </div>
          <h6>Заголовки</h6>
        </div>
        <div class="import-drinks-fonts__box">
          <h6>Параграф</h6>
          <span>Inter Regular</span>
          <span>16/22</span>
        </div>
      </div>

      <div class="import-drinks-fonts__inner">
        <div class="import-drinks-fonts__box">
          <h5>Inter</h5>
          <h6>Подзаголовки</h6>
        </div>
        <div class="import-drinks-fonts__box">
          <p>
            Уже более 12 лет наша компания специализируется на импортных поставках из Южной Кореи, Вьетнама, Китая,
            Канады, Скандинавии, США, Белорусии, Бельгии и других стран Европы. Нашими партнерами являются крупные
            компании — лидеры в области производства продукции для потребителей всего мира. Важной особенностью
            подбора
            НАШЕГО ассортимента является импорт товара, не производимого на территории РФ.
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="import-drinks-grid">
    <h4 class="import-drinks-task__title import-drinks-grid__title">Сетка</h4>

    <div class="import-drinks-grid__img">
      <img src="assets/images/import-drinks/grid.png" alt="grid">
    </div>
  </div>

  <div class="import-drinks-elements">
    <h5 class="import-drinks-elements__title">Элементы</h5>

    <div class="import-drinks-elements__container">
      <div id="import-drinks-elements" class="import-drinks-elements__inner">
        <div class="import-drinks-elements__box" data-depth="-0.1">
          <div class="import-drinks-elements__img import-drinks-elements__img_shadow">
            <img src="assets/images/import-drinks/elements.jpg" alt="elements">
          </div>
        </div>

        <div class="import-drinks-elements__box" data-depth="0.15">
          <div class="import-drinks-elements__img">
            <img src="assets/images/import-drinks/elements.jpg" alt="elements">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="import-drinks-visualization">
    <div class="import-drinks-task-head import-drinks-project__head">
      <h4 class="import-drinks-task__title">Визуализация</h4>

      <div class="import-drinks-task__description">
        <p>
          Пользователя встречает слайдер из ярких баннеров с продукцией, поставляемой компанией. Вся главная страница
          сплошное настроение радости и вкуса.
        </p>
        <p>
          Одна из необычных фишек сайта — напитки немного наклоняются, создают легкое движение и ощущение динамики. На
          статичных блоках динамика достигается за счет ненавящевых пузырьков газировки.
        </p>
      </div>
    </div>

    <div class="import-drinks-visualization__container">
      <div class="import-drinks-visualization-main">
        <div class="import-drinks-visualization-main__img">
          <img src="assets/images/import-drinks/import-drinks-main-3.png" alt="import-drinks-main">
        </div>
      </div>
      <div class="import-drinks-visualization-mob">
        <div class="import-drinks-visualization-mob__img">
          <img src="assets/images/import-drinks/import-drinks-main-3_mob.png" alt="import-drinks-main">
        </div>
      </div>
    </div>
  </div>

  <div class="import-drinks-templates">
    <h4 class="import-drinks-task__title import-drinks-templates__title">Шаблоны страниц</h4>

    <div class="import-drinks-templates__container">
      <div class="import-drinks-templates__bg"></div>

      <div class="import-drinks-templates__box">
        <ul class="import-drinks-templates-list">
          <li class="import-drinks-templates-list__item">
            <img src="assets/images/import-drinks/template-1.jpg" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="assets/images/import-drinks/template-2.jpg" alt="template">
          </li>
          <li class="import-drinks-templates-list__item import-drinks-templates-list__item_mob">
            <img src="assets/images/import-drinks/template-2_mob.jpg" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="assets/images/import-drinks/import-drinks-main-1.png" alt="template">
          </li>
        </ul>
      </div>

      <div class="import-drinks-templates__box">
        <ul class="import-drinks-templates-list">
          <li class="import-drinks-templates-list__item">
            <img src="assets/images/import-drinks/template-3.jpg" alt="template">
          </li>
          <li class="import-drinks-templates-list__item import-drinks-templates-list__item_mob">
            <img src="assets/images/import-drinks/template-3_mob.jpg" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="assets/images/import-drinks/template-4.jpg" alt="template">
          </li>
          <li class="import-drinks-templates-list__item import-drinks-templates-list__item_mob">
            <img src="assets/images/import-drinks/template-4_mob.jpg" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="assets/images/import-drinks/template-2.jpg" alt="template">
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="import-drinks-conclusion">
    <div class="import-drinks-conclusion__head">
      <h4 class="import-drinks-task__title import-drinks-conclusion__title">Заключение</h4>
      <p class="import-drinks-conclusion__subtitle">
        В итоге мы получили очень сочный, динамичный сайт, который высоко оценил заказчик.
      </p>
      <p class="import-drinks-conclusion__description">
        Даже самые смелые решение получилось реализовать в данном проекте, благодаря открытости клиента к свежим идеям
        дизайнеров. На текущий момент продолжает улучшаться с визуальной и технической точки зрения.
      </p>
    </div>

    <a href="#" class="import-drinks-conclusion__container">
      <div class="import-drinks-conclusion-bg">
        <div class="import-drinks-conclusion-bg__img">
          <img src="assets/images/import-drinks/conclusion.jpg" alt="conclusion">
        </div>
      </div>
      <div class="import-drinks-conclusion-content">
        <p class="import-drinks-conclusion-content__text">Следующий кейс</p>
        <h3 class="import-drinks-conclusion-content__title">Panh Helicopters</h3>
      </div>
    </a>
  </div>

</section>