<section class="import-drinks">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Кейсы
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Сайт Import Drinks
    </a>
  </div>

  <div class="import-drinks-head">
    <h2 class="import-drinks-head__title">Сайт Import Drinks</h2>

    <div class="import-drinks-head__inner">

      <p class="import-drinks-head__text">
        Лучший способ понять, как мы можем вам помочь — заказать консультацию. Она абсолютно бесплатна, позволит
        прояснить задачи в проекте. Можем провести встречу онлайн или у нас в офисе. Заполните бриф или позвоните по
        телефону <strong>+7 (900) 283-03-33</strong> согласуем формат и удобное время.
      </p>

      <ul class="import-drinks-head-keys">
        <li class="default-tag default-tag_white import-drinks-head-keys__key">
          UX/UI-дизайн
        </li>
        <li class="default-tag default-tag_white import-drinks-head-keys__key">
          Разработка сайта
        </li>
        <li class="default-tag default-tag_white import-drinks-head-keys__key">
          SEO-продвижение
        </li>
        <li class="default-tag default-tag_white import-drinks-head-keys__key">
          Контекстная реклама
        </li>
        <li class="default-tag default-tag_white import-drinks-head-keys__key">
          MODX
        </li>
      </ul>

    </div>

    <a href="#" class="default-icon-link import-drinks-head__link">
      importdrinks.ru
      <span class="default-icon-link__icon">
        <svg>
          <use href="#link-arrow-icon"></use>
        </svg>
      </span>
    </a>
  </div>

  <div class="import-drinks-main">
    <div class="import-drinks-main-container">
      <div class="import-drinks-main-inner">
        <div class="import-drinks-main-item">
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-1.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-2.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-3.png" alt="import-drinks">
          </div>
        </div>
        <div class="import-drinks-main-item">
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-2.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-1.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-3.png" alt="import-drinks">
          </div>
        </div>
        <div class="import-drinks-main-item">
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-3.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-2.png" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="assets/images/import-drinks/import-drinks-main-1.png" alt="import-drinks">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="import-drinks-task">
    <div class="import-drinks-task-head">
      <h4 class="import-drinks-task__title">Задача</h4>

      <p class="import-drinks-task__description">
        Разработка сайта, отражающего позиционирование компании и настроение продуктов. Сайт такого интересного продукта
        должен дарить пользователю яркие эмоции, драйв и веселье, а также отражать гибкость компании и ее динамичное
        развитие.
      </p>
    </div>

    <div class="import-drinks-task-inner">
      <div class="import-drinks-task-bg"></div>

      <a href="https://youtu.be/n_wX2oddf38" class="import-drinks-task-video" data-fancybox>
        <img src="assets/images/import-drinks/import-drinks-video.jpg" alt="drinks">
        <svg>
          <use href="#play-icon_white"></use>
        </svg>
      </a>
    </div>
  </div>

</section>