<section class="keys">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Кейсы
    </a>
  </div>

  <div class="development-head keys-head">
    <h1 class="development-head__title">
      Кейсы
    </h1>
  </div>

  <div class="works keys-wrapper">
    <div class="works-container">

      <div class="works-inner keys-inner">
        <div class="swiper works-tag-wrapper">
          <ul class="swiper-wrapper works-tag">
            <li class="swiper-slide works-tag__item">
              <a href="#" class="default-tag">Разработка</a>
            </li>
            <li class="swiper-slide works-tag__item">
              <a href="#" class="default-tag default-tag_white">SEO-продвижение</a>
            </li>
            <li class="swiper-slide works-tag__item">
              <a href="#" class="default-tag default-tag_white">Контекстная реклама</a>
            </li>
            <li class="swiper-slide works-tag__item">
              <a href="#" class="default-tag default-tag_white">Видео продакшн</a>
            </li>
            <li class="swiper-slide works-tag__item">
              <a href="#" class="default-tag default-tag_white">SMM</a>
            </li>
          </ul>
        </div>

        <ul class="keys-list">
          <li class="works-list-item">
            <a href="#" class="works-list-item__link">
              <div class="works-list-item-img">
                <img src="assets/images/works-4.jpg" alt="work" class="works-list-item-img__img">
              </div>

              <p class="works-list-item__text">
                Panh Helicopters
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </p>
            </a>
          </li>
          <li class="works-list-item">
            <a href="#" class="works-list-item__link">
              <div class="works-list-item-img">
                <img src="assets/images/works-3.jpg" alt="work" class="works-list-item-img__img">
              </div>

              <p class="works-list-item__text">
                Panh Helicopters
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </p>
            </a>
          </li>
          <li class="works-list-item">
            <a href="#" class="works-list-item__link">
              <div class="works-list-item-img">
                <img src="assets/images/works-2.jpg" alt="work" class="works-list-item-img__img">
              </div>

              <p class="works-list-item__text">
                Panh Helicopters
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </p>

              <ul class="works-list-item__labels">
                <li class="works-list-item__label default-label">ux/ui</li>
                <li class="works-list-item__label default-label">frontend</li>
                <li class="works-list-item__label default-label">backend</li>
              </ul>
            </a>
          </li>
          <li class="works-list-item">
            <a href="#" class="works-list-item__link">
              <div class="works-list-item-img">
                <img src="assets/images/works-1.jpg" alt="work" class="works-list-item-img__img">
              </div>
              <p class="works-list-item__text">
                Panh Helicopters
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </p>
            </a>
          </li>
          <li class="works-list-item">
            <a href="#" class="works-list-item__link">
              <div class="works-list-item-img">
                <img src="assets/images/works-4.jpg" alt="work" class="works-list-item-img__img">
              </div>

              <p class="works-list-item__text">
                Panh Helicopters
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </p>
            </a>
          </li>
          <li class="works-list-item">
            <a href="#" class="works-list-item__link">
              <div class="works-list-item-img">
                <img src="assets/images/works-3.jpg" alt="work" class="works-list-item-img__img">
              </div>

              <p class="works-list-item__text">
                Panh Helicopters
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </p>
            </a>
          </li>
          <li class="works-list-item">
            <a href="#" class="works-list-item__link">
              <div class="works-list-item-img">
                <img src="assets/images/works-2.jpg" alt="work" class="works-list-item-img__img">
              </div>

              <p class="works-list-item__text">
                Panh Helicopters
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </p>

              <ul class="works-list-item__labels">
                <li class="works-list-item__label default-label">ux/ui</li>
                <li class="works-list-item__label default-label">frontend</li>
                <li class="works-list-item__label default-label">backend</li>
              </ul>
            </a>
          </li>
          <li class="works-list-item">
            <a href="#" class="works-list-item__link">
              <div class="works-list-item-img">
                <img src="assets/images/works-1.jpg" alt="work" class="works-list-item-img__img">
              </div>
              <p class="works-list-item__text">
                Panh Helicopters
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </p>
            </a>
          </li>
        </ul>

        <div class="keys-pagination">
          <a href="#" class="keys-pagination__link keys-pagination__link_prev">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </a>

          <div class="keys-pagination-list">
            <a href="#" class="keys-pagination-list__link _active">1</a>
            <a href="#" class="keys-pagination-list__link">2</a>
            <a href="#" class="keys-pagination-list__link">3</a>
          </div>

          <a href="#" class="keys-pagination__link">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </a>
        </div>
      </div>

    </div>
  </div>

  {{> _business-baner }}

</section>