<section class="lending">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Разработка сайтов
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Landing Page
    </a>
  </div>

  <div class="development-head">
    <h1 class="development-head__title">
      Продающий лендинг
      <span>
        под ключ в Краснодаре
      </span>
    </h1>

    <h3 class="development-head__subtitle">
      Разработаем лендинг для вашего бизнеса, который ярко презентует ваши услуги и увеличит продажи
    </h3>

    <div class="development-head-info">
      <p class="development-head__text">
        Оставьте заявку и получите предварительный
        расчёт стоимости разработки лендинга для вашей ниши
      </p>

      <button type="button" class="big-icon-btn development-head__btn">
        <div class="big-icon-btn-icon">
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__arrow">
            <use href="#big-arrow-icon"></use>
          </svg>
        </div>

        <span class="big-icon-btn__text">
          Оставить
          заявку
        </span>
      </button>
    </div>
  </div>

  <div class="works">
    <div class="works-container">

      <div class="works-head">
        <h3 class="works-head__title">Наши работы</h3>
        <p class="works-head__description">
          Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение поведенческого
          фактора, учет трендов дизайна.
        </p>
      </div>

      <div class="works-inner">
        <div class="swiper works-list-wrapper">
          <ul class="swiper-wrapper works-list">
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-1.jpg" alt="work" class="works-list-item-img__img">
                </div>
                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>
              </a>
            </li>
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-2.jpg" alt="work" class="works-list-item-img__img">
                </div>

                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>

                <ul class="works-list-item__labels">
                  <li class="works-list-item__label default-label">ux/ui</li>
                  <li class="works-list-item__label default-label">frontend</li>
                  <li class="works-list-item__label default-label">backend</li>
                </ul>
              </a>
            </li>
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-3.jpg" alt="work" class="works-list-item-img__img">
                </div>

                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>
              </a>
            </li>
            <li class="swiper-slide works-list-item">
              <a href="#" class="works-list-item__link">
                <div class="works-list-item-img">
                  <img src="assets/images/works-4.jpg" alt="work" class="works-list-item-img__img">
                </div>

                <p class="works-list-item__text">
                  Panh Helicopters
                  <svg>
                    <use href="#link-arrow-icon"></use>
                  </svg>
                </p>
              </a>
            </li>
          </ul>
        </div>

        <a href="#" class="default-icon-link works-link">
          Смотреть все проекты
          <span class="default-icon-link__icon">
            <svg>
              <use href="#link-arrow-icon"></use>
            </svg>
          </span>
        </a>
      </div>

    </div>
  </div>

  <div class="service-price">
    <div class="service-price-container">

      <h3 class="service-price__title">Стоимость лендинга под ключ</h3>

      <ul class="service-price-list">
        <li class="service-price-list-item">
          <div class="service-price-list-item__head">
            <h6 class="service-price-list-item__title">Базовый</h6>
            <span class="service-price-list-item__price">от 60 000 ₽</span>
          </div>

          <ul class="service-price-list-item__package">
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Анализ продукта и ниши
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Разработка структуры
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Индивидуальный дизайн
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Адаптация под мобильные
            </li>
          </ul>

          <button type="button" class="default-btn default-btn_light service-price-list-item__btn">Оставить
            заявку</button>
        </li>

        <li class="service-price-list-item service-price-list-item_popular">
          <div class="service-price-list-item__label">
            <svg>
              <use href="#fire-icon"></use>
            </svg>
            Выбирают чаще всего
          </div>

          <div class="service-price-list-item__head">
            <h6 class="service-price-list-item__title">Продвинутый</h6>
            <span class="service-price-list-item__price">от 80 000 ₽</span>
          </div>

          <div class="service-price-list-item__info">
            Все, что в пакете «Базовый» +
          </div>

          <ul class="service-price-list-item__package">
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Сьемка фото и видео
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Профессиональный монтаж
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Продающий текст
            </li>
          </ul>

          <button type="button" class="default-btn service-price-list-item__btn">Оставить заявку</button>
        </li>

        <li class="service-price-list-item">
          <div class="service-price-list-item__head">
            <h6 class="service-price-list-item__title">Премиальный</h6>
            <span class="service-price-list-item__price">от 100 000 ₽</span>
          </div>

          <div class="service-price-list-item__info">
            Все, что в пакете «Продвинутый» +
          </div>

          <ul class="service-price-list-item__package">
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Стратегия продвижения
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Подбор рекламных каналов
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Настройка рекламы
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Аналитика результатов
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Дорабока для лучшей конверсии
            </li>
          </ul>

          <button type="button" class="default-btn default-btn_light service-price-list-item__btn">Оставить
            заявку</button>
        </li>
      </ul>

    </div>
  </div>

  <div class="seo-feedback marketing-feedback">
    <div class="seo-feedback-bg"></div>

    <div class="seo-feedback-content">
      <h3 class="seo-feedback__title marketing-feedback__title">
        Нужна помощь с выбором тарифа?
      </h3>
      <p class="marketing-feedback__description">
        Отправьте заявку сейчас и мы свяжемся с вами для обсуждения ваших потребностей и сроков!
      </p>

      <div class="seo-feedback-inner marketing-feedback__inner">
        <p class="seo-feedback__text">
          Ведение соцсетей&nbsp;— необходимый инструмент для&nbsp;уверенного присутствия бизнеса в&nbsp;интернете.
          Оставьте заявку
          и&nbsp;мы&nbsp;подскажем, какую соцсеть выбрать для&nbsp;продвижения и&nbsp;какой стратегии придерживаться,
          чтобы&nbsp;добиться
          поставленных целей
        </p>

        <button type="button" class="big-icon-btn seo-feedback__btn">
          <div class="big-icon-btn-icon">
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__arrow">
              <use href="#big-arrow-icon"></use>
            </svg>
          </div>

          <span class="big-icon-btn__text">
            Оставить
            заявку
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="history development-history lending-history">
    <div class="history-container">

      <h3 class="history-title">
        Orange Digital Marketing -
        <span>
          история про людей, которые любят свое дело.
        </span>
      </h3>

    </div>

    <div
      class="swiper development-history-swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-backface-hidden">
      <ul class="swiper-wrapper development-history-swiper-wrapper" id="swiper-wrapper-a9f030535554ea5e"
        aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
        <li class="swiper-slide development-history-swiper-slide swiper-slide-active" role="group" aria-label="1 / 4"
          style="margin-right: 16px;">
          <img src="assets/images/history-swiper-1.jpg" alt="history" class="development-history-swiper-slide__img">
        </li>
        <li class="swiper-slide development-history-swiper-slide swiper-slide-next" role="group" aria-label="2 / 4"
          style="margin-right: 16px;">
          <img src="assets/images/history-swiper-2.jpg" alt="history" class="development-history-swiper-slide__img">
        </li>
        <li class="swiper-slide development-history-swiper-slide" role="group" aria-label="3 / 4"
          style="margin-right: 16px;">
          <img src="assets/images/history-swiper-3.jpg" alt="history" class="development-history-swiper-slide__img">
        </li>
        <li class="swiper-slide development-history-swiper-slide" role="group" aria-label="4 / 4"
          style="margin-right: 16px;">
          <img src="assets/images/history-swiper-4.jpg" alt="history" class="development-history-swiper-slide__img">
        </li>
      </ul>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>

    <div class="history-container">
      <ul class="history-list">
        <li class="history-list-item">
          <p class="history-list-item__text">
            У нас работают: SEO-оптимизаторы, дизайнеры, контекстологи, SMM-специалисты, программисты и другие. Но
            каждый
            из нас - в первую очередь интернет-маркетолог.
          </p>

          <a href="#" class="default-icon-link history-list-item__btn development-history__link">
            Подробнее
            <span class="default-icon-link__icon">
              <svg>
                <use href="#link-arrow-icon"></use>
              </svg>
            </span>
          </a>
        </li>

        <li class="history-list-item">
          <div class="history-list-item__img">
            <img src="assets/images/mincifri_white.png" alt="минцифры">
          </div>

          <h6 class="history-list-item__subtitle">
            Аккредитованная IT-компания
          </h6>

          <a href="#" class="history-list-item__link">Государственная аккредитация Минцифры</a>
        </li>

        <li class="history-list-item">
          <h5 class="history-list-item__title">8 лет</h5>

          <h6 class="history-list-item__subtitle">Помогаем бизнесу</h6>

          <p class="history-list-item__description">
            За это время мы помогли региональным игрокам рынка выйти в Интернет и укрепили их позиции.
          </p>
        </li>

        <li class="history-list-item">
          <h5 class="history-list-item__title">20</h5>

          <h6 class="history-list-item__subtitle">Сотрудников в штате</h6>

          <p class="history-list-item__description">
            Вместе мы идем к целям, которые призваны сделать мир лучше! Ясность цели - рождает путь.
          </p>
        </li>

        <li class="history-list-item">
          <h5 class="history-list-item__title">250+ </h5>

          <h6 class="history-list-item__subtitle">Успешных проектов</h6>

          <p class="history-list-item__description">
            Секрет успешных проектов заключается в сплоченной команде специалистов и применении гибких методологий
            управления.
          </p>
        </li>
      </ul>

    </div>
  </div>

  <div class="development-stage">
    <div class="development-stage-container">

      <h3 class="development-stage__title">
        Этапы разработки
      </h3>

      <div class="development-stage-inner">

        <h5 class="development-stage__subtitle">
          В этом вопросе нам доверяют крупные региональные игроки рынка:
        </h5>

        <div class="swiper development-stage-swiper">
          <div class="swiper-wrapper development-stage-swiper-wrapper">
            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Исследование</h4>
                <p>
                  Любой проект начинается с погружения в специфику бизнеса заказчика. Мы собираем и анализируем
                  требования,
                  изучаем особенности работы компании и конкурентов, смотрим на потребности клиентов. В работе
                  используем
                </p>
                <ul>
                  <li>Показатели Яндекс.Метрики и Google Analytics</li>
                  <li>Глубинные интервью с клиентом и совместные мозговые штурмы</li>
                  <li>Аудит сайтов конкурентов</li>
                </ul>
                <p>
                  В результате получаем полную картину проекта с четко сформулированными целями и задачами.
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Разработка макета</h4>
                <p>
                  Любой проект начинается с погружения в специфику бизнеса заказчика. Мы собираем и анализируем
                  требования,
                  изучаем особенности работы компании и конкурентов, смотрим на потребности клиентов. В работе
                  используем
                </p>
                <ul>
                  <li>Показатели Яндекс.Метрики и Google Analytics</li>
                  <li>Глубинные интервью с клиентом и совместные мозговые штурмы</li>
                  <li>Аудит сайтов конкурентов</li>
                </ul>
                <p>
                  В результате получаем полную картину проекта с четко сформулированными целями и задачами.
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Разработка</h4>
                <p>
                  Любой проект начинается с погружения в специфику бизнеса заказчика. Мы собираем и анализируем
                  требования,
                  изучаем особенности работы компании и конкурентов, смотрим на потребности клиентов. В работе
                  используем
                </p>
                <ul>
                  <li>Показатели Яндекс.Метрики и Google Analytics</li>
                  <li>Глубинные интервью с клиентом и совместные мозговые штурмы</li>
                  <li>Аудит сайтов конкурентов</li>
                </ul>
                <p>
                  В результате получаем полную картину проекта с четко сформулированными целями и задачами.
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Запуск проекта</h4>
                <p>
                  Любой проект начинается с погружения в специфику бизнеса заказчика. Мы собираем и анализируем
                  требования,
                  изучаем особенности работы компании и конкурентов, смотрим на потребности клиентов. В работе
                  используем
                </p>
                <ul>
                  <li>Показатели Яндекс.Метрики и Google Analytics</li>
                  <li>Глубинные интервью с клиентом и совместные мозговые штурмы</li>
                  <li>Аудит сайтов конкурентов</li>
                </ul>
                <p>
                  В результате получаем полную картину проекта с четко сформулированными целями и задачами.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="development-stage-timeline">
      <div class="development-stage-timeline__marker">01</div>
    </div>

    <div class="development-stage-pagination"></div>

  </div>

  <div class="lending-advantages">
    <h3 class="lending-advantages__title"></h3>

    <ul class="lending-advantages-list">
      <li class="lending-advantages-item">
        <div class="lending-advantages-item__icon">
          <svg>
            <use href="#images-icon"></use>
          </svg>
        </div>

        <p class="lending-advantages-item__text">
          Сами делаем фото, видео и пишем продающий текст для страницы
        </p>
      </li>
      <li class="lending-advantages-item">
        <div class="lending-advantages-item__icon">
          <svg>
            <use href="#desctop-icon"></use>
          </svg>
        </div>

        <p class="lending-advantages-item__text">
          Работали с разными отраслями от: доставки еды до авиаперевозок
        </p>
      </li>
      <li class="lending-advantages-item">
        <div class="lending-advantages-item__icon">
          <svg>
            <use href="#laptop-icon"></use>
          </svg>
        </div>

        <p class="lending-advantages-item__text">
          Делаем сайты, сразу готовые к продвижению
        </p>
      </li>
      <li class="lending-advantages-item">
        <div class="lending-advantages-item__icon">
          <svg>
            <use href="#note-icon"></use>
          </svg>
        </div>

        <p class="lending-advantages-item__text">
          Работаем строго по договору
        </p>
      </li>
      <li class="lending-advantages-item">
        <div class="lending-advantages-item__icon">
          <svg>
            <use href="#calendar-icon"></use>
          </svg>
        </div>

        <p class="lending-advantages-item__text">
          Соблюдаем сроки
        </p>
      </li>
      <li class="lending-advantages-item">
        <div class="lending-advantages-item__icon">
          <svg>
            <use href="#comment-icon"></use>
          </svg>
        </div>

        <p class="lending-advantages-item__text">
          Оперативно предоставляем обратную связь
        </p>
      </li>
    </ul>
  </div>

</section>