<section class="main">

  <div class="main-video">
    <div class="main-video-container">
      <div class="main-video-bg">
        <div class="main-video-bg__fill">
          <img src="assets/images/main-video-bg.png" alt="fill">
        </div>
        <div class="main-video-bg__star">
          <img src="assets/images/main-video-bg-star.png" alt="star">
        </div>
        <canvas id="main-canvas" class="main-video-bg-canvas"></canvas>
      </div>

      <div class="main-video-inner">
        <h1 class="main-video__title">
          <span class="orange-text">Разрабатываем</span>
          <br>
          сайты и интерфейсы
        </h1>
        <p class="main-video__text">
          Оказываем полный спектр интернет-услуг
        </p>
      </div>

      <div class="main-video-slide">
        <div class="main-video-slide-img">
          <img src="assets/images/slide-down-1.png" alt="slide" class="main-video-slide-img__img">
        </div>
        <div class="main-video-slide-img">
          <img src="assets/images/slide-down-2.png" alt="slide" class="main-video-slide-img__img">
        </div>
        <div class="main-video-slide-img">
          <img src="assets/images/slide-down-3.png" alt="slide" class="main-video-slide-img__img">
        </div>
      </div>
    </div>

    <div class="main-video-baner-wrapper">
      <div class="main-video-baner">
        <div class="main-video-baner-box">
          <ul class="main-video-baner-list">
            <li class="main-video-baner-list__item">Разработка сайтов</li>
            <li class="main-video-baner-list__item">Поддержка сайтов</li>
            <li class="main-video-baner-list__item">SEO-продвижение</li>
            <li class="main-video-baner-list__item">Контекстная реклама</li>
          </ul>
        </div>
        <div class="main-video-baner-box">
          <ul class="main-video-baner-list">
            <li class="main-video-baner-list__item">Контекстная реклама</li>
            <li class="main-video-baner-list__item">SEO-продвижение</li>
            <li class="main-video-baner-list__item">Поддержка сайтов</li>
            <li class="main-video-baner-list__item">Разработка сайтов</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>