<section class="main">

  <div class="main-video">
    <div class="main-video-container">
      <div class="main-video-bg">
        <div class="main-video-bg__fill">
          <picture>
            <source srcset="assets/images/main-video-bg_mob.png" media="(max-width: 850px)">
            <img src="assets/images/main-video-bg.png" alt="fill">
          </picture>
        </div>
        <div class="main-video-bg__star">
          <img src="assets/images/main-video-bg-star.svg" alt="star">
        </div>
        <canvas id="main-canvas" class="main-video-bg-canvas"></canvas>
      </div>

      <div class="main-video-inner">
        <h1 class="main-video__title">
          <span class="orange-text">Разрабатываем</span>
          <br>
          сайты и интерфейсы
        </h1>
        <p class="main-video__text">
          Оказываем полный спектр интернет-услуг
        </p>
      </div>

      <div class="main-video-slide">
        <div class="main-video-slide-img">
          <img src="assets/images/slide-down-1.png" alt="slide" class="main-video-slide-img__img">
        </div>
        <div class="main-video-slide-img">
          <img src="assets/images/slide-down-2.png" alt="slide" class="main-video-slide-img__img">
        </div>
        <div class="main-video-slide-img">
          <img src="assets/images/slide-down-3.png" alt="slide" class="main-video-slide-img__img">
        </div>
      </div>
    </div>

    <div class="main-video-baner-wrapper">
      <div class="main-video-baner">
        <div class="main-video-baner-box">
          <ul class="main-video-baner-list">
            <li class="main-video-baner-list__item">Разработка сайтов</li>
            <li class="main-video-baner-list__item">Поддержка сайтов</li>
            <li class="main-video-baner-list__item">SEO-продвижение</li>
            <li class="main-video-baner-list__item">Контекстная реклама</li>
          </ul>
        </div>
        <div class="main-video-baner-box">
          <ul class="main-video-baner-list">
            <li class="main-video-baner-list__item">Контекстная реклама</li>
            <li class="main-video-baner-list__item">SEO-продвижение</li>
            <li class="main-video-baner-list__item">Поддержка сайтов</li>
            <li class="main-video-baner-list__item">Разработка сайтов</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{> _works }}

  <div class="main-service">
    <div class="main-service-container">
      <div class="main-service-list">
        <div class="dropdown main-service-list-item" data-open>
          <button type="button" class="dropdown-btn main-service-list-item-btn">
            <span class="main-service-list-item-btn__number">01</span>
            <span class="main-service-list-item-btn__text">Разработка сайтов</span>
            <span class="main-service-list-item-btn__icon"></span>
          </button>
          <div class="dropdown-content main-service-list-item-content">
            <p class="main-service-content__text">
              Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение
              поведенческого фактора, учет трендов дизайна.
            </p>

            <div class="main-service-content-links">
              <a href="#" class="default-link main-service-content__link">
                Разработка сайтов
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Корпоративный сайт
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Интернет магазин
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Landing Page
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="dropdown main-service-list-item">
          <button type="button" class="dropdown-btn main-service-list-item-btn">
            <span class="main-service-list-item-btn__number">02</span>
            <span class="main-service-list-item-btn__text">Поддержка сайтов</span>
            <span class="main-service-list-item-btn__icon"></span>
          </button>
          <div class="dropdown-content main-service-list-item-content">
            <p class="main-service-content__text">
              Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение
              поведенческого фактора, учет трендов дизайна.
            </p>

            <div class="main-service-content-links">
              <a href="#" class="default-link main-service-content__link">
                Разработка сайтов
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Корпоративный сайт
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Интернет магазин
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Landing Page
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="dropdown main-service-list-item">
          <button type="button" class="dropdown-btn main-service-list-item-btn">
            <span class="main-service-list-item-btn__number">03</span>
            <span class="main-service-list-item-btn__text">SEO-продвижение</span>
            <span class="main-service-list-item-btn__icon"></span>
          </button>
          <div class="dropdown-content main-service-list-item-content">
            <p class="main-service-content__text">
              Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение
              поведенческого фактора, учет трендов дизайна.
            </p>

            <div class="main-service-content-links">
              <a href="#" class="default-link main-service-content__link">
                Разработка сайтов
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Корпоративный сайт
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Интернет магазин
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Landing Page
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="dropdown main-service-list-item">
          <button type="button" class="dropdown-btn main-service-list-item-btn">
            <span class="main-service-list-item-btn__number">04</span>
            <span class="main-service-list-item-btn__text">Контекстная реклама</span>
            <span class="main-service-list-item-btn__icon"></span>
          </button>
          <div class="dropdown-content main-service-list-item-content">
            <p class="main-service-content__text">
              Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение
              поведенческого фактора, учет трендов дизайна.
            </p>

            <div class="main-service-content-links">
              <a href="#" class="default-link main-service-content__link">
                Разработка сайтов
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Корпоративный сайт
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Интернет магазин
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Landing Page
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="dropdown main-service-list-item">
          <button type="button" class="dropdown-btn main-service-list-item-btn">
            <span class="main-service-list-item-btn__number">05</span>
            <span class="main-service-list-item-btn__text">SMM</span>
            <span class="main-service-list-item-btn__icon"></span>
          </button>
          <div class="dropdown-content main-service-list-item-content">
            <p class="main-service-content__text">
              Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение
              поведенческого фактора, учет трендов дизайна.
            </p>

            <div class="main-service-content-links">
              <a href="#" class="default-link main-service-content__link">
                Разработка сайтов
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Корпоративный сайт
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Интернет магазин
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Landing Page
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="dropdown main-service-list-item">
          <button type="button" class="dropdown-btn main-service-list-item-btn">
            <span class="main-service-list-item-btn__number">06</span>
            <span class="main-service-list-item-btn__text">Комплексный маркетинг</span>
            <span class="main-service-list-item-btn__icon"></span>
          </button>
          <div class="dropdown-content main-service-list-item-content">
            <p class="main-service-content__text">
              Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение
              поведенческого фактора, учет трендов дизайна.
            </p>

            <div class="main-service-content-links">
              <a href="#" class="default-link main-service-content__link">
                Разработка сайтов
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Корпоративный сайт
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Интернет магазин
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Landing Page
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="dropdown main-service-list-item">
          <button type="button" class="dropdown-btn main-service-list-item-btn">
            <span class="main-service-list-item-btn__number">07</span>
            <span class="main-service-list-item-btn__text">Видео продакшн</span>
            <span class="main-service-list-item-btn__icon"></span>
          </button>
          <div class="dropdown-content main-service-list-item-content">
            <p class="main-service-content__text">
              Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение
              поведенческого фактора, учет трендов дизайна.
            </p>

            <div class="main-service-content-links">
              <a href="#" class="default-link main-service-content__link">
                Разработка сайтов
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Корпоративный сайт
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Интернет магазин
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
              <a href="#" class="default-link main-service-content__link">
                Landing Page
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper main-service-swiper">
        <div class="swiper-wrapper main-service-swiper-wrapper"></div>
      </div>
    </div>
  </div>

  {{> _business-baner }}

  {{> _history }}

  {{> _team }}

  {{> _digital-pack }}

  {{> _partners }}

</section>