<div class="seo marketing">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Комплексный маркетинг
    </a>
  </div>

  <div class="development-head">
    <h1 class="development-head__title">
      Комплексный маркетинг
      <span>
        в Краснодаре
      </span>
    </h1>

    <h3 class="development-head__subtitle">
      Решаем задачи бизнеса с помощью комплексного подхода к продвижению
    </h3>

    <div class="development-head-info">
      <p class="development-head__text">
        Задействуем все каналы цифрового маркетинга, чтобы добиться увеличения количества заявок и роста узнаваемости
        бизнеса.
      </p>

      <button type="button" class="big-icon-btn development-head__btn">
        <div class="big-icon-btn-icon">
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__arrow">
            <use href="#big-arrow-icon"></use>
          </svg>
        </div>

        <span class="big-icon-btn__text">
          Оставить
          заявку
        </span>
      </button>
    </div>
  </div>

  <div class="service marketing-service">

    <div class="service-info marketing-service-info">
      <picture>
        <source srcset="assets/images/service-bg_mob.png" media="(max-width: 850px)">
        <img class="service-info__bg" src="assets/images/service-bg.png" alt="bg">
      </picture>

      <div class="marketing-service-content">
        <h4 class="marketing-service__subtitle">
          Комплексный маркетинг
        </h4>
        <h5 class="service-info__title marketing-service__title">
          Поможет
        </h5>
      </div>

      <span class="marketing-service__icon">
        <svg>
          <use href="#orange"></use>
        </svg>
      </span>
    </div>

    <ul class="service-list">
      <li class="service-list-item">
        <h4>Увеличить узнаваемость бренда</h4>
        <p>Аудитория увидит вашу компанию на каждом этапе воронки: в социальных сетях, рекламе, поисковой выдаче и
          отзовиках.</p>
      </li>
      <li class="service-list-item">
        <h4>Улучшить репутацию в интернете</h4>
        <p>Большое количество отзывов увеличивает конверсию с рекламы. Мы отработаем негатив и соберем положительные
          отклики.</p>
      </li>
      <li class="service-list-item">
        <h4>Сэкономить время на контроль маркетинга</h4>
        <p>За каждым клиентом закрепляется персональный менеджер. Его телефон всегда доступен в рабочее время, чтобы
          ответить на вопросы по проекту.</p>
      </li>
      <li class="service-list-item">
        <h4>Тратить меньше денег на привлечение лидов</h4>
        <p>Совместное использование маркетинговых источников дает лучший результат за счет увеличения количества касаний
          с продуктом.</p>
      </li>
      <li class="service-list-item">
        <h4>Принимать обоснованные решения в маркетинге</h4>
        <p>На первом этапе работы мы подключаем аналитические сервисы, собираем и обрабатываем их данные, и лишь потом
          принимаем решения.</p>
      </li>
    </ul>

  </div>

  <div class="service-price marketing-service-price">
    <div class="service-price-container">

      <h3 class="service-price__title">
        Стоимость
        <span>
          комплексного маркетинга
        </span>
      </h3>

      <ul class="service-price-list">
        <li class="service-price-list-item">
          <div class="service-price-list-item__head">
            <h6 class="service-price-list-item__title">Стартовый</h6>
            <span class="service-price-list-item__price">35 000 ₽</span>
          </div>

          <ul class="service-price-list-item__package">
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Сопровождение сайта
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Поисковая оптимизация (SEO)
            </li>
            <li class="_disable">
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Ведение соц.сети
            </li>
            <li class="_disable">
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Доработка сайта
            </li>
            <li class="_disable">
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Настройка и ведение контекстной рекламы
            </li>
            <li class="_disable">
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Заполнение карточек компании в картах и справочниках
            </li>
          </ul>

          <button type="button" class="default-btn default-btn_light service-price-list-item__btn">Оставить
            заявку</button>
        </li>

        <li class="service-price-list-item service-price-list-item_popular">
          <div class="service-price-list-item__label">
            <svg>
              <use href="#fire-icon"></use>
            </svg>
            Выбирают чаще всего
          </div>

          <div class="service-price-list-item__head">
            <h6 class="service-price-list-item__title">Профи</h6>
            <span class="service-price-list-item__price">70 000 ₽</span>
          </div>

          <ul class="service-price-list-item__package">
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Сопровождение сайта
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Поисковая оптимизация (SEO)
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Ведение соц.сети
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Доработка сайта
            </li>
            <li class="_disable">
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Настройка и ведение контекстной рекламы
            </li>
            <li class="_disable">
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Заполнение карточек компании в картах и справочниках
            </li>
          </ul>

          <button type="button" class="default-btn service-price-list-item__btn">Оставить заявку</button>
        </li>

        <li class="service-price-list-item">
          <div class="service-price-list-item__head">
            <h6 class="service-price-list-item__title">Максимальный</h6>
            <span class="service-price-list-item__price">90 000 ₽</span>
          </div>

          <ul class="service-price-list-item__package">
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Сопровождение сайта
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Поисковая оптимизация (SEO)
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Ведение соц.сети
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Доработка сайта
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Настройка и ведение контекстной рекламы
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              <svg>
                <use href="#minus-icon"></use>
              </svg>
              Заполнение карточек компании в картах и справочниках
            </li>
          </ul>

          <button type="button" class="default-btn default-btn_light service-price-list-item__btn">Оставить
            заявку</button>
        </li>
      </ul>

    </div>
  </div>

  <div class="seo-feedback marketing-feedback">
    <div class="seo-feedback-bg"></div>

    <div class="seo-feedback-content">
      <h3 class="seo-feedback__title marketing-feedback__title">
        Нужна помощь с выбором тарифа?
      </h3>
      <p class="marketing-feedback__description">
        Отправьте заявку сейчас и мы свяжемся с вами для обсуждения ваших потребностей и сроков!
      </p>

      <div class="seo-feedback-inner marketing-feedback__inner">
        <p class="seo-feedback__text">
          Продвижение в поисковых системах — это сложный процесс, ведь у современных Яндекса и Google есть более 200
          критериев качества. Оставьте заявку и мы проверим, какие ошибки мешают сайту увеличить посещаемость.
        </p>

        <button type="button" class="big-icon-btn seo-feedback__btn">
          <div class="big-icon-btn-icon">
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__arrow">
              <use href="#big-arrow-icon"></use>
            </svg>
          </div>

          <span class="big-icon-btn__text">
            Оставить
            заявку
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="seo-steps">
    <div class="seo-steps-container">

      <h3 class="seo-steps__title">
        Что входит
        <span>
          в комплексный маркетинг
        </span>
      </h3>

      <div class="swiper seo-steps-swiper">
        <div class="swiper-wrapper seo-steps-swiper-wrapper">
          <div class="swiper-slide seo-steps-swiper-slide">
            <span class="seo-steps-swiper-slide__number" style="--color: rgba(135, 113, 159, 1)">01</span>

            <h4 class="seo-steps-swiper-slide__title">SMM</h4>

            <ul>
              <li>
                Анализ основных показателей аккаунта
              </li>
              <li>
                Дизайнерское оформление профиля
              </li>
              <li>
                Контент-план на основе аналитики ЦА
              </li>
              <li>
                Запуск таргетированной рекламы
              </li>
              <li>
                Работа с отзывами и комментариями
              </li>
            </ul>
          </div>
          <div class="swiper-slide seo-steps-swiper-slide">
            <span class="seo-steps-swiper-slide__number" style="--color: rgba(76, 150, 165, 1)">02</span>

            <h4 class="seo-steps-swiper-slide__title">SEO</h4>

            <ul>
              <li>
                Анализ конкурентов в поисковой выдаче
              </li>
              <li>
                Сбор семантического ядра проекта
              </li>
              <li>
                Постраничная оптимизация
              </li>
              <li>
                Исправление технических ошибок
              </li>
              <li>
                Улучшение поведенческих факторов
              </li>
            </ul>
          </div>
          <div class="swiper-slide seo-steps-swiper-slide">
            <span class="seo-steps-swiper-slide__number" style="--color: rgba(61, 135, 98, 1)">03</span>

            <h4 class="seo-steps-swiper-slide__title">Контекстная реклама</h4>

            <ul>
              <li>
                Анализ ниши и конкурентов
              </li>
              <li>
                Подбор оптимальных форматов
              </li>
              <li>
                Составление стратегии
              </li>
              <li>
                Написание объявлений
              </li>
              <li>
                Оптимизация результатов
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="development-questions">
    <h4 class="development-questions__title">
      Постарались ответить
      <span>
        на самые распространенные вопросы
      </span>
    </h4>

    <ul class="development-questions-list">
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          От чего зависит срок разработки сайта?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Нужна ли аналитика в процессе разработки сайта?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Как выглядит результат этапа «Прототипирование»?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Можно ли оплачивать сайт по частям?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
    </ul>
  </div>

</div>