<section class="offer-form-wrapper">
  <div class="offer-form-container">
    <h1 class="offer-form__title">Откликнуться на вакансию</h1>

    <h6 class="offer-form__subtitle">
      Заполните короткую заявку, прикрепите свое резюме и мы свяжемся с вами
    </h6>

    <form action="#" class="offer-form">
      <div class="request-form-contacts__item offer-form-input__item">
        <span class="request-form-contacts__placeholder">Имя</span>
        <input type="text" class="request-form-contacts__input">
      </div>

      <div class="request-form-contacts__item offer-form-input__item">
        <span class="request-form-contacts__placeholder">Телефон</span>
        <input type="text" class="request-form-contacts__input">
      </div>

      <label class="offer-form-file">
        <span class="offer-form-file__icon"></span>
        <span class="offer-form-file__text">Прикрепить файл</span>
        <span class="offer-form-file__name"></span>

        <input type="file" name="offer-form-file" class="offer-form-file__input">
      </label>

      <div class="offer-form-btn">
        <button type="submit" class="request-form__btn offer-form-btn__btn">
          Оставить
          заявку
        </button>

        <p class="request-form__info offer-form-btn__text">
          Нажимая на кнопку, вы даете <a href="#">согласие</a> на обработку персональных данных и соглашаетесь с
          политикой
          конфиденциальности.
        </p>
      </div>
    </form>
  </div>
</section>