<section class="offer">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Вакансии
    </a>
  </div>

  <div class="offer-head">
    <h1 class="offer-head__title">PR/SMM специалист</h1>

    <div class="offer-head-inner">
      <h6 class="offer-head__subtitle">От 25 000 до 35 000 ₽ на руки</h6>

      <ul class="offer-head-info">
        <li class="default-tag default-tag_white offer-head-info__item">Опыт работы 1-3 года</li>
        <li class="default-tag default-tag_white offer-head-info__item">Полная занятость, полный день</li>
      </ul>

      <div class="offer-head__text">
        <p>
          <strong>Веб-студия Orange Digital Marketing</strong> — это создание и продвижение сайтов, развитие и поддержка
          клиентских проектов. Занимаемся разработкой лендингов, сложных интернет-магазинов, корпоративных сайтов, CRM и
          ERP-систем, а также их продвижением. Каждый наш проект — это квинтэссенция накопленного опыта, современных
          трендов и свежего подхода, стремление прыгнуть выше самих себя и лучших игроков на рынке!
        </p>
        <p>
          Мы ищем амбициозного <strong>SMM специалиста</strong>, который горит желанием развиваться в сфере SMM. Со
          своей стороны
          предлагаем возможность профессионального и карьерного роста, интересные не шаблонные проекты, амбициозную
          молодую команду, комфортные условия для работы и адекватное руководство.
        </p>
        <p>
          Вместе с нами ты будешь менять мир, делая его красивее и удобнее!
        </p>
      </div>
    </div>
  </div>

  <div class="offer-info-wrapper">
    <ul class="offer-info">
      <li class="offer-info__item">
        <h3 class="offer-info__title">Что предстоит делать</h3>

        <ul>
          <li>
            Ведение официальных аккаунтов компании (направление премиальная корпусная мебель и модульные диваны)
            и развитие новых
          </li>
          <li>
            Поиск и организация интересных коллабораций с яркими представителями нашей ЦА (дизайнеры, блогеры о дизайне
            и ремонте и т.п.)
          </li>
          <li>
            Мониторинг упоминаний компании на тематических форумах, в социальных сетях и на сайтах-отзовиках
          </li>
          <li>
            Составление контент-плана на неделю/месяц/квартал вперёд
          </li>
          <li>
            Формирование и публикация контента в соцсетях (текстов, фотографий, видеороликов, инфографик)
          </li>
          <li>
            Разработка новых рубрик и тем для контента
          </li>
          <li>
            Разработка и внедрение новых механик взаимодействия с подписчиками для повышения охватов и вовлечённости
          </li>
          <li>
            Cвоевременное создание визуалов и текстового наполнения для постов
          </li>
          <li>
            Анализ поведения аудитории, для оптимизации последующих публикаций, ведение статистики и отчётности
          </li>
          <li>
            Отчётность по прошедшему периоду, анализ и предложение по корректировке стратегии на следующий
          </li>
        </ul>
      </li>

      <li class="offer-info__item">
        <h3 class="offer-info__title">Требования</h3>

        <ul>

          <li>
            Обязательно прикрепляйте портфолио при отклике на вакансию;
          </li>
          <li>
            Опыт разработки материалов для рекламных кампаний в Интернете;
          </li>
          <li>
            Опыт формирования различного типа контента;
          </li>
          <li>
            Опыт ведения таргетированной рекламы;
          </li>
          <li>
            100% грамотность и внимание к деталям;
          </li>
          <li>
            Желание развиваться профессионально, живой интерес к современным инструментам интернет-маркетинга,
            достижению результатов, любовь к своему делу;
          </li>
          <li>
            Cвоевременное создание визуалов и текстового наполнения для постов;
          </li>
          <li>
            Знания Photoshop / Illustrator, умение работать с видеоредакторами;
          </li>
          <li>
            Умение работать в режиме многозадачности.
          </li>
        </ul>
      </li>

      <li class="offer-info__item">
        <h3 class="offer-info__title">Условия</h3>

        <ul>
          <li>
            Онлайн-тренинги за счет компании;
          </li>
          <li>
            Молодой дружный коллектив;
          </li>
          <li>
            Заработная плата обсуждается с успешным кандидатом.
          </li>
        </ul>
      </li>

      <li class="offer-info__item">
        <a href="#" class="default-btn offer-info__btn">
          Откликнуться на вакансию
        </a>
      </li>
    </ul>
  </div>

  <div class="digital-pack vacancy-pack">
    <div class="digital-pack-container">

      <div class="digital-pack-bg vacancy-pack-bg">
        <div class="digital-pack-bg__fill vacancy-pack-bg__fill">
          <div class="vacancy-pack-bg__img">
            <img src="./assets/images/vacancy-pack-left.png" alt="arrow">
          </div>
          <div class="vacancy-pack-bg__img">
            <img src="./assets/images/vacancy-pack-right.png" alt="arrow">
          </div>
        </div>
      </div>

      <div class="digital-pack-content">
        <h3 class="digital-pack__title">
          Не нашли подходящей вакансии,
          <span>
            но хотите работать в Orange DM?
          </span>
        </h3>

        <div class="digital-pack-inner">
          <p class="digital-pack__text">
            Если вы не нашли то, что искали, отправьте свое резюме. Возможно, мы просто еще не знаем, что нам нужны
            именно вы.
          </p>

          <a href="#" class="big-icon-btn digital-pack__btn">
            <div class="big-icon-btn-icon">
              <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
                <use href="#star-icon"></use>
              </svg>
              <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
                <use href="#star-icon"></use>
              </svg>
              <svg class="big-icon-btn-icon__arrow">
                <use href="#big-arrow-icon"></use>
              </svg>
            </div>

            <span class="big-icon-btn__text">
              Отправить резюме
            </span>
          </a>
        </div>
      </div>

    </div>
  </div>

</section>