<div class="partners">
  <div class="partners-container">

    <h3 class="partners__title">
      Наша основная цель
      <span>
        — подружить бизнес с digital
      </span>
    </h3>

    <p class="partners__description">
      В этом вопросе нам доверяют крупные региональные игроки рынка:
    </p>

    <ul class="partners-list">
      <li class="partners-list-item">
        <img src="assets/images/partners/partners-1.png" alt="partners" class="partners-list-item__img">
      </li>
      <li class="partners-list-item">
        <img src="assets/images/partners/partners-2.png" alt="partners" class="partners-list-item__img">
      </li>
      <li class="partners-list-item">
        <img src="assets/images/partners/partners-3.png" alt="partners" class="partners-list-item__img">
      </li>
      <li class="partners-list-item">
        <img src="assets/images/partners/partners-4.png" alt="partners" class="partners-list-item__img">
      </li>
      <li class="partners-list-item">
        <img src="assets/images/partners/partners-5.png" alt="partners" class="partners-list-item__img">
      </li>
      <li class="partners-list-item">
        <img src="assets/images/partners/partners-6.png" alt="partners" class="partners-list-item__img">
      </li>
      <li class="partners-list-item">
        <img src="assets/images/partners/partners-7.png" alt="partners" class="partners-list-item__img">
      </li>
      <li class="partners-list-item">
        <img src="assets/images/partners/partners-8.png" alt="partners" class="partners-list-item__img">
      </li>
      <li class="partners-list-item">
        <img src="assets/images/partners/partners-9.png" alt="partners" class="partners-list-item__img">
      </li>
      <li class="partners-list-item">
        <img src="assets/images/partners/partners-10.png" alt="partners" class="partners-list-item__img">
      </li>
    </ul>

  </div>
</div>