<section class="request">

  <div class="development-head request-head">
    <h1 class="development-head__title">
      Оставить заявку
    </h1>

    <p class="request-head__text">
      Лучший способ понять, как мы можем вам помочь — заказать консультацию. Она абсолютно бесплатна, позволит
      прояснить задачи в проекте. Можем провести встречу онлайн или у нас в офисе. Заполните бриф или позвоните по
      телефону +7 (900) 283-03-33 согласуем формат и удобное время.
    </p>
  </div>

  <div class="request-container">

    <form action="#" class="request-form">
      <div class="request-form-services">
        <h4 class="request-form__title">Услуги</h4>

        <div class="request-form-services__list">
          <label class="request-form-services__item">
            Разработка сайта
            <input type="checkbox" class="request-form-services__input">
          </label>
          <label class="request-form-services__item">
            SEO-продвижение
            <input type="checkbox" class="request-form-services__input">
          </label>
          <label class="request-form-services__item">
            Контекстная реклама
            <input type="checkbox" class="request-form-services__input" checked>
          </label>
          <label class="request-form-services__item">
            SMM
            <input type="checkbox" class="request-form-services__input">
          </label>
          <label class="request-form-services__item">
            Комплексный маркетинг
            <input type="checkbox" class="request-form-services__input">
          </label>
          <label class="request-form-services__item">
            Видео продакшн
            <input type="checkbox" class="request-form-services__input">
          </label>
          <label class="request-form-services__item">
            Другое
            <input type="checkbox" class="request-form-services__input">
          </label>
        </div>
      </div>

      <div class="request-form-contacts">
        <h4 class="request-form__title">Услуги</h4>

        <div class="request-form-contacts__inner">
          <div class="request-form-contacts__item">
            <span class="request-form-contacts__placeholder">Имя</span>
            <input type="text" class="request-form-contacts__input">
          </div>
          <div class="request-form-contacts__item">
            <span class="request-form-contacts__placeholder">Компания</span>
            <input type="text" class="request-form-contacts__input">
          </div>
          <div class="request-form-contacts__item">
            <span class="request-form-contacts__placeholder">Email</span>
            <input type="text" class="request-form-contacts__input">
          </div>
          <div class="request-form-contacts__item">
            <span class="request-form-contacts__placeholder">Телефон</span>
            <input type="text" class="request-form-contacts__input">
          </div>
        </div>
      </div>

      <button type="submit" class="request-form__btn">
        Оставить
        заявку
      </button>

      <p class="request-form__info">
        Нажимая на кнопку, вы даете <a href="#">согласие</a> на обработку персональных данных и соглашаетесь с политикой
        конфиденциальности.
      </p>
    </form>

  </div>
</section>