<section class="seo-keys">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Кейсы
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      SEO-продвижение
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Кейс SEO продвижения В надежных руках
    </a>
  </div>

  <div class="smm-keys-head">
    <div class="smm-keys-head-container">
      <h1 class="smm-keys-head__title">Кейс SEO-продвижения <br /> В надежных руках</h1>

      <div class="smm-keys-head-inner">
        <p class="smm-keys-head__text">
          Чтобы понять, какой инструмент продвижения выбрать и как мы можем вам помочь — заказать консультацию.
          Она абсолютно бесплатна, позволит прояснить задачи в проекте. Можем провести встречу онлайн или у нас в офисе.
          Заполните бриф или позвоните по телефону <strong>+7 900 283-03-33</strong> согласуем формат и удобное время.
        </p>

        <div class="smm-keys-head-labels">
          <h3 class="default-tag default-tag_white">SEO-продвижение</h3>
        </div>
      </div>
    </div>

    <div class="smm-keys-head-img-container">
      <div class="smm-keys-head-img">
        <img src="./assets/images/seo/seo-main.jpg" alt="smm-head">
      </div>
    </div>

    <div class="smm-keys-head-container">
      <div class="smm-keys-head-description">
        <div class="smm-keys-head-description__item">
          <h4 class="smm-keys-head-description__title">О компании</h4>

          <div class="smm-keys-head-description__info">
            <div class="smm-keys-head-description__img">
              <img src="./assets/images/seo/logo_vnr.svg" alt="logo">
            </div>

            <p>
              ЮКЦ - «Южный кадастровый центр» это один из крупнейших подрядчиков в ЮФО в области проектирования
              и оформления и оформления прав на крупные инвестиционные проекты — строительство подстанций, линий
              электропередач, нефтепроводов высокого давления, обустройство нефтяных и газовых скважин, а также объектов
              гражданского строительства.
            </p>
          </div>
        </div>

        <div class="smm-keys-head-description__item">
          <h4 class="smm-keys-head-description__title">Цель</h4>

          <div class="smm-keys-head-description__info">
            <ul>
              <li>
                Отладить присутствие компании в социальных медиа
              </li>
              <li>
                Сделать корпоративную «упаковку» в социальных сетях
              </li>
            </ul>
          </div>
        </div>

        <div class="smm-keys-head-description__item">
          <h4 class="smm-keys-head-description__title">Решение</h4>

          <div class="smm-keys-head-description__info">
            <ul>
              <li>
                Создать социальные сети компании, оформив их в корпоративном стиле
              </li>
              <li>
                Чётко сформулировать и донести до пользователя позиционирование компании
              </li>
              <li>
                Делиться действительно полезным контентом 
              </li>
              <li>
                Сделать собственный фото/видео контент
              </li>
              <li>
                Настроить и запустить имиджевую рекламу на повышение узнаваемости компании на рынке
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="smm-keys-info seo-keys-info">
    <div class="smm-keys-info-container">

      <h3 class="smm-keys-info__title">Что в итоге</h3>

      <h6 class="smm-keys-info__subtitle">
        Сделали поисковую оптимизацию сайта. Проработали сайт с точки зрения коммерческих факторов ранжирования
      </h6>

      <ul class="smm-keys-info-list">
        <li class="smm-keys-info-list__item">
          <div class="smm-keys-info-list__head">
            <h4 class="smm-keys-info-list__title">Позиции по ключевым словам</h4>

            <p class="smm-keys-info-list__text">В Яндексе в ТОП попали 60% запросов, в Google 50%</p>
          </div>

          <div class="smm-keys-info-list__img">
            <img src="../assets/images/seo/seo-result.png" alt="smm-info">
          </div>
        </li>

        <li class="smm-keys-info-list__item">
          <div class="smm-keys-info-list__head">
            <h4 class="smm-keys-info-list__title">Посетители на сайте</h4>

            <p class="smm-keys-info-list__text">Активность пользователей на сайте существенно выросла</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="import-drinks-project seo-keys-visits">
    <div class="import-drinks-project__inner">
      <div class="import-drinks-project__bg">
        <img src="assets/images/import-drinks/project-line.svg" alt="line">
      </div>

      <div class="import-drinks-project__content">
        <a href="./assets/images/seo/visits.jpg" class="import-drinks-project__img" data-fancybox="">
          <img src="./assets/images/seo/visits.jpg" alt="project-scheme">
        </a>
      </div>
    </div>
  </div>

  <div class="import-drinks-conclusion seo-keys-conclusion">
    <div class="import-drinks-conclusion__head">
      <h4 class="import-drinks-task__title import-drinks-conclusion__title">Заключение</h4>
      <p class="import-drinks-conclusion__subtitle">
        Вывели сайт в ТОП по большинству популярных запросов:
      </p>
      <div class="import-drinks-conclusion__description">
        <p>
          Благодаря планомерным работам по поисковой оптимизации, трафик на сайте растет на протяжении 5 лет.
          Сотрудничество в данном направлении продолжается.
        </p>
      </div>
    </div>

    <a href="#" class="import-drinks-conclusion__container">
      <div class="import-drinks-conclusion-bg">
        <div class="import-drinks-conclusion-bg__img">
          <img src="./assets/images/smm-keys/smm-finish.jpg" alt="conclusion">
        </div>
      </div>
      <div class="import-drinks-conclusion-content">
        <p class="import-drinks-conclusion-content__text">Следующий кейс</p>
        <h3 class="import-drinks-conclusion-content__title">Промтехбизнес</h3>
      </div>
    </a>
  </div>

</section>