<div class="seo">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      SEO продвижение
    </a>
  </div>

  <div class="development-head">
    <h1 class="development-head__title">
      SEO продвижение сайтов
      <span>
        в Краснодаре под ключ
      </span>
    </h1>

    <h3 class="development-head__subtitle">
      Двигаем сайты в ТОП-10 Яндекса и Google с 2014 года
    </h3>

    <div class="development-head-info">
      <p class="development-head__text">
        Оставьте заявку и получите бесплатный аудит с пошаговым планом по оптимизации!
      </p>

      <button type="button" class="big-icon-btn development-head__btn">
        <div class="big-icon-btn-icon">
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__arrow">
            <use href="#big-arrow-icon"></use>
          </svg>
        </div>

        <span class="big-icon-btn__text">
          Оставить
          заявку
        </span>
      </button>
    </div>
  </div>

  {{> _service }}

  {{> _service-price }}

  <div class="seo-feedback">
    <div class="seo-feedback-bg"></div>

    <div class="seo-feedback-content">
      <h3 class="seo-feedback__title">
        Не получается вывести сайт в ТОП
        <span>
          напишите нам и получите бесплатный разбор ошибок
        </span>
      </h3>

      <div class="seo-feedback-inner">
        <p class="seo-feedback__text">
          Продвижение в поисковых системах — это сложный процесс, ведь у современных Яндекса и Google есть более 200
          критериев качества. Оставьте заявку и мы проверим, какие ошибки мешают сайту увеличить посещаемость.
        </p>

        <button type="button" class="big-icon-btn seo-feedback__btn">
          <div class="big-icon-btn-icon">
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__arrow">
              <use href="#big-arrow-icon"></use>
            </svg>
          </div>

          <span class="big-icon-btn__text">
            Оставить
            заявку
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="seo-steps">
    <div class="seo-steps-container">

      <h3 class="seo-steps__title">
        Что входит в SEO
        <span>
          продвижение сайта
        </span>
      </h3>

      <div class="swiper seo-steps-swiper">
        <div class="swiper-wrapper seo-steps-swiper-wrapper">
          <div class="swiper-slide seo-steps-swiper-slide">
            <span class="seo-steps-swiper-slide__number" style="--color: rgba(135, 113, 159, 1)">01</span>

            <h4 class="seo-steps-swiper-slide__title">Семантическое ядро</h4>

            <ul>
              <li>
                Сбор базовых коммерческих и информационных запросов
              </li>
              <li>
                Отбор ключевых фраз для сайта через Яндекс Wordstat и Google Keyword Planner
              </li>
              <li>
                Парсинг поисковых подсказок
              </li>
              <li>
                Сбор запросов с сайтов конкурентов
              </li>
              <li>
                Удаление дублей, нулевых и нецелевых ключей
              </li>
              <li>
                Анализ сезонности спроса
              </li>
              <li>
                Кластеризация семантического ядра
              </li>
              <li>
                Проектирование структуры с учетом кластеризации
              </li>
            </ul>
          </div>
          <div class="swiper-slide seo-steps-swiper-slide">
            <span class="seo-steps-swiper-slide__number" style="--color: rgba(76, 150, 165, 1)">02</span>

            <h4 class="seo-steps-swiper-slide__title">Техническая оптимизация</h4>

            <ul>
              <li>
                Настройка robots.txt
              </li>
              <li>
                Переход на человекопонятные ссылки
              </li>
              <li>
                Склеивание зеркал сайта
              </li>
              <li>
                Настройка пагинации
              </li>
              <li>
                Обнаружение и удаление битых ссылок
              </li>
              <li>
                Сжатие изображений
              </li>
              <li>
                Внедрение микроразметки Schema
              </li>
              <li>
                Обнаружение и удаление дублей title и description
              </li>
              <li>
                Переход на https протокол
              </li>
              <li>
                Создание sitemap.xml — карты сайта
              </li>
            </ul>
          </div>
          <div class="swiper-slide seo-steps-swiper-slide">
            <span class="seo-steps-swiper-slide__number" style="--color: rgba(61, 135, 98, 1)">03</span>

            <h4 class="seo-steps-swiper-slide__title">Юзабилити</h4>

            <ul>
              <li>
                Создание уникальной страницы 404
              </li>
              <li>
                Внедрение breadcrumbs — хлебных крошек
              </li>
              <li>
                Оптимизация скорости загрузки
              </li>
              <li>
                Проверка кроссбраузерности
              </li>
              <li>
                Внедрение адаптивной версии для мобильных
              </li>
              <li>
                Удаление всплывающих окон
              </li>
              <li>
                Корректировка навигации по разделам
              </li>
              <li>
                Проверка корректности работы поиска
              </li>
              <li>
                Упрощение форм лидогенерации
              </li>
              <li>
                Внедрение кнопки «Заказать в один клик»
              </li>
              <li>
                Перелинковка страниц
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="development-questions">
    <h4 class="development-questions__title">
      Постарались ответить
      <span>
        на самые распространенные вопросы
      </span>
    </h4>

    <ul class="development-questions-list">
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          От чего зависит срок разработки сайта?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Нужна ли аналитика в процессе разработки сайта?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Как выглядит результат этапа «Прототипирование»?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Можно ли оплачивать сайт по частям?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
    </ul>
  </div>

</div>