<div class="service">

  <div class="service-info">
    <picture>
      <source srcset="assets/images/service-bg_mob.png" media="(max-width: 850px)">
      <img class="service-info__bg" src="assets/images/service-bg.png" alt="bg">
    </picture>

    <h5 class="service-info__title">
      <span>
        SE
        <svg>
          <use href="#orange"></use>
        </svg>
      </span>
      Поможет
    </h5>
  </div>

  <ul class="service-list">
    <li class="service-list-item">
      <h4>Экономить деньги на рекламе</h4>
      <p>Продвижение в Яндексе и Google позволит больше не платить за каждый переход на сайт</p>
    </li>
    <li class="service-list-item">
      <h4>Стабилизировать поток звонков и заявок</h4>
      <p>Рост числа новых клиентов будет прогнозируемым и постоянным</p>
    </li>
    <li class="service-list-item">
      <h4>Улучшить технические параметры</h4>
      <p>Услуга SEO продвижения сделает сайт быстрым, удобным и привлекательным</p>
    </li>
    <li class="service-list-item">
      <h4>Увеличить узнаваемость</h4>
      <p>Оптимизация корпоративного сайта расскажет о вашем бизнесе тысячам людей</p>
    </li>
    <li class="service-list-item">
      <h4>Повысить продажи в офлайн-точках</h4>
      <p>Эффект достижим благодаря оптимизации карточек компании на картах</p>
    </li>
    <li class="service-list-item">
      <h4>Увеличить рост доверия к бренду</h4>
      <p>Люди доверяют сайтам из ТОП-10 выдачи Яндекса и Google больше, чем рекламе</p>
    </li>
  </ul>

</div>