<div class="service-price">

  <h3 class="service-price__title"></h3>

  <ul class="service-price-list">
    <li class="service-price-list-item">
      <div class="service-price-list-item__head">
        <h6 class="service-price-list-item__title">Стартовый</h6>
        <span class="service-price-list-item__price">25 000 ₽</span>
      </div>

      <ul class="service-price-list-item__package">
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
          Аудит сайта по 4 направлениям
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
          Составление ТЗ на доработку
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
          Сбор ключевых запросов: до 200
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
          Кластеризация
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
          Оптимизация title и description
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
          Заполнение карточек компании в картах и справочниках
        </li>
      </ul>

      <button type="button" class="service-price-list-item__btn"></button>
    </li>

    <li class="service-price-list-item service-price-list-item_top">
      <div class="service-price-list-item__label">

      </div>

      <div class="service-price-list-item__head">
        <h6 class="service-price-list-item__title"></h6>
        <span class="service-price-list-item__price"></span>
      </div>

      <div class="service-price-list-item__info">

      </div>

      <ul class="service-price-list-item__package">
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
      </ul>

      <button type="button" class="service-price-list-item__btn"></button>
    </li>

    <li class="service-price-list-item">
      <div class="service-price-list-item__head">
        <h6 class="service-price-list-item__title"></h6>
        <span class="service-price-list-item__price"></span>
      </div>

      <div class="service-price-list-item__info">

      </div>

      <ul class="service-price-list-item__package">
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
        <li>
          <svg>
            <use href="#check-orange-icon"></use>
          </svg>
        </li>
      </ul>

      <button type="button" class="service-price-list-item__btn"></button>
    </li>
  </ul>

</div>