<div class="smm">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      SMM
    </a>
  </div>

  <div class="development-head">
    <h1 class="development-head__title">
      SMM продвижение
      <span>
        в социальных сетях
      </span>
    </h1>

    <h3 class="development-head__subtitle">
      Ведение социальных сетей для бизнеса, основанное на глубоком анализе аудитории и единой стратегии
    </h3>

    <div class="development-head-info">
      <p class="development-head__text">
        Оставьте заявку и получите аудит своего аккаунта в любой соцсети с базовыми рекомендациями по SMM
      </p>

      <button type="button" class="big-icon-btn development-head__btn">
        <div class="big-icon-btn-icon">
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__arrow">
            <use href="#big-arrow-icon"></use>
          </svg>
        </div>

        <span class="big-icon-btn__text">
          Оставить
          заявку
        </span>
      </button>
    </div>
  </div>

  <div class="service marketing-service">
    <div class="service-info marketing-service-info">
      <picture>
        <source srcset="assets/images/service-bg_mob.png" media="(max-width: 850px)">
        <img class="service-info__bg" src="assets/images/service-bg.png" alt="bg">
      </picture>

      <div class="marketing-service-content">
        <h5 class="service-info__title marketing-service__title">
          SMM Поможет
        </h5>
      </div>

      <span class="marketing-service__icon">
        <svg>
          <use href="#orange"></use>
        </svg>
      </span>
    </div>

    <ul class="service-list">
      <li class="service-list-item">
        <h4>Увеличить узнаваемость бренда</h4>
        <p>
          Социальные сети являются платформой для взаимодействия с аудиторией в режиме реального времени. Отвечая на
          запросы, комментарии и обратную связь клиентов, мы помогаем укрепить доверие и повысить лояльность клиентов к
          бренду.
        </p>
      </li>
      <li class="service-list-item">
        <h4>Улучшить репутацию в интернете</h4>
        <p>
          Социальные сети имеют большую базу пользователей, предоставляя компаниям возможность охватить более широкую
          аудиторию и повысить узнаваемость бренда. Создавая привлекательный контент в соцсетях, мы можем привлечь
          больше подписчиков и улучшить вашу видимость в интернете.
        </p>
      </li>
      <li class="service-list-item">
        <h4>Сэкономить время на контроль маркетинга</h4>
        <p>
          Рекламные системы социальных сетей дают возможность показывать рекламу конкретным сегментам аудитории по
          разным параметрам: возраст, местоположение или интересы. Это увеличивает шансы на привлечение потенциальных
          клиентов и продажи при продвижении.
        </p>
      </li>
      <li class="service-list-item">
        <h4>Тратить меньше денег на привлечение лидов</h4>
        <p>
          SMM продвижение — это экономически эффективный способ охватить большую аудиторию по сравнению с традиционными
          методами маркетинга.
        </p>
      </li>
      <li class="service-list-item">
        <h4>Принимать обоснованные решения в маркетинге</h4>
        <p>
          Сильное продвижение в социальных сетях может дать компании конкурентное преимущество в своей отрасли и
          выделиться среди конкурентов.
        </p>
      </li>
    </ul>
  </div>

  <div class="service-price">
    <div class="service-price-container">

      <h3 class="service-price__title">Стоимость SEO-продвижения</h3>

      <ul class="service-price-list">
        <li class="service-price-list-item">
          <div class="service-price-list-item__head">
            <h6 class="service-price-list-item__title">Стартовый</h6>
            <span class="service-price-list-item__price">25 000 ₽</span>
          </div>

          <ul class="service-price-list-item__package">
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Аудит сайта по 4 направлениям
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Составление ТЗ на доработку
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Сбор ключевых запросов: до 200
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Кластеризация
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Оптимизация title и description
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Заполнение карточек компании в картах и справочниках
            </li>
          </ul>

          <button type="button" class="default-btn default-btn_light service-price-list-item__btn">Оставить
            заявку</button>
        </li>

        <li class="service-price-list-item service-price-list-item_top">
          <div class="service-price-list-item__label">
            <svg>
              <use href="#fire-icon"></use>
            </svg>
            Выбирают чаще всего
          </div>

          <div class="service-price-list-item__head">
            <h6 class="service-price-list-item__title">Оптимальный</h6>
            <span class="service-price-list-item__price">35 000 ₽</span>
          </div>

          <div class="service-price-list-item__info">
            Все, что в пакете «Стартовый» +
          </div>

          <ul class="service-price-list-item__package">
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Сбор ключевых запросов: до 500
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Внедрение доработок программистом
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Изменение дизайна с учетом SEO
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Разработка и внедрение новой структуры
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Оптимизация изображений
            </li>
            <li>
              <svg>
                <use href="#check-orange-icon"></use>
              </svg>
              Улучшение релевантности текстов
            </li>
          </ul>

          <button type="button" class="default-btn service-price-list-item__btn">Оставить заявку</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="seo-feedback marketing-feedback">
    <div class="seo-feedback-bg"></div>

    <div class="seo-feedback-content">
      <h3 class="seo-feedback__title marketing-feedback__title">
        Нужна помощь с выбором тарифа?
      </h3>
      <p class="marketing-feedback__description">
        Отправьте заявку сейчас и мы свяжемся с вами для обсуждения ваших потребностей и сроков!
      </p>

      <div class="seo-feedback-inner marketing-feedback__inner">
        <p class="seo-feedback__text">
          Ведение соцсетей — необходимый инструмент для уверенного присутствия бизнеса в интернете. Оставьте заявку
          и мы подскажем, какую соцсеть выбрать для продвижения и какой стратегии придерживаться, чтобы добиться
          поставленных целей
        </p>

        <button type="button" class="big-icon-btn seo-feedback__btn">
          <div class="big-icon-btn-icon">
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
              <use href="#star-icon"></use>
            </svg>
            <svg class="big-icon-btn-icon__arrow">
              <use href="#big-arrow-icon"></use>
            </svg>
          </div>

          <span class="big-icon-btn__text">
            Оставить
            заявку
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="development-stage">
    <div class="development-stage-container">

      <h3 class="development-stage__title">
        Этапы продвижения
        <span>
          в социальных сетях
        </span>
      </h3>

      <div class="development-stage-inner">

        <h5 class="development-stage__subtitle">
          Работу с соцсетями начинаем с проведения аналитики и продуманной стратегии
        </h5>

        <div class="swiper development-stage-swiper">
          <div class="swiper-wrapper development-stage-swiper-wrapper">
            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Изучение целевой аудитории</h4>
                <p>
                  Определяем целевую аудиторию бизнеса. Изучаем, чем интересуются эти люди, что предпочитают читать и в
                  каких социальных сетях активны.
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Изучение целевой аудитории</h4>
                <p>
                  Определяем целевую аудиторию бизнеса. Изучаем, чем интересуются эти люди, что предпочитают читать и в
                  каких социальных сетях активны.
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Изучение целевой аудитории</h4>
                <p>
                  Определяем целевую аудиторию бизнеса. Изучаем, чем интересуются эти люди, что предпочитают читать и в
                  каких социальных сетях активны.
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Изучение целевой аудитории</h4>
                <p>
                  Определяем целевую аудиторию бизнеса. Изучаем, чем интересуются эти люди, что предпочитают читать и в
                  каких социальных сетях активны.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="development-stage-timeline">
      <div class="development-stage-timeline__marker">01</div>
    </div>

    <div class="development-stage-pagination"></div>

  </div>

  <div class="development-questions">
    <h4 class="development-questions__title">
      Постарались ответить
      <span>
        на самые распространенные вопросы
      </span>
    </h4>

    <ul class="development-questions-list">
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          От чего зависит срок разработки сайта?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Нужна ли аналитика в процессе разработки сайта?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Как выглядит результат этапа «Прототипирование»?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Можно ли оплачивать сайт по частям?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
    </ul>
  </div>

</div>