<section class="smm-keys">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Кейсы
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      SMM-продвижение
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Кейс SMM-продвижения Южный кадастровый центр
    </a>
  </div>

  <div class="smm-keys-head">
    <div class="smm-keys-head-container">
      <h1 class="smm-keys-head__title">Кейс SMM-продвижения <br /> Южный кадастровый центр</h1>

      <div class="smm-keys-head-inner">
        <p class="smm-keys-head__text">
          Чтобы понять, в какой соцсети вам вести бизнес и как мы можем вам помочь — заказать консультацию.
          Она абсолютно бесплатна, позволит прояснить задачи в проекте. Можем провести встречу онлайн или у нас в офисе.
          Заполните бриф или позвоните по телефону +7 900 283-03-33 согласуем формат и удобное время.
        </p>

        <div class="smm-keys-head-labels">
          <h3 class="default-tag default-tag_white">SMM-продвижение</h3>
        </div>
      </div>
    </div>

    <div class="smm-keys-head-img-container">
      <div class="smm-keys-head-img">
        <img src="./assets/images/smm-keys/smm-head.jpg" alt="smm-head">
      </div>
    </div>

    <div class="smm-keys-head-container">
      <div class="smm-keys-head-description">
        <div class="smm-keys-head-description__item">
          <h4 class="smm-keys-head-description__title">О компании</h4>

          <div class="smm-keys-head-description__info">
            <div class="smm-keys-head-description__img">
              <img src="./assets/images/smm-keys/smm-head-logo.png" alt="logo">
            </div>

            <p>
              ЮКЦ - «Южный кадастровый центр» это один из крупнейших подрядчиков в ЮФО в области проектирования
              и оформления и оформления прав на крупные инвестиционные проекты — строительство подстанций, линий
              электропередач, нефтепроводов высокого давления, обустройство нефтяных и газовых скважин, а также объектов
              гражданского строительства.
            </p>
          </div>
        </div>

        <div class="smm-keys-head-description__item">
          <h4 class="smm-keys-head-description__title">Цель</h4>

          <div class="smm-keys-head-description__info">
            <ul>
              <li>
                Отладить присутствие компании в социальных медиа
              </li>
              <li>
                Сделать корпоративную «упаковку» в социальных сетях
              </li>
            </ul>
          </div>
        </div>

        <div class="smm-keys-head-description__item">
          <h4 class="smm-keys-head-description__title">Решение</h4>

          <div class="smm-keys-head-description__info">
            <ul>
              <li>
                Создать социальные сети компании, оформив их в корпоративном стиле
              </li>
              <li>
                Чётко сформулировать и донести до пользователя позиционирование компании
              </li>
              <li>
                Делиться действительно полезным контентом 
              </li>
              <li>
                Сделать собственный фото/видео контент
              </li>
              <li>
                Настроить и запустить имиджевую рекламу на повышение узнаваемости компании на рынке
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="smm-keys-info">
    <div class="smm-keys-info-container">

      <h3 class="smm-keys-info__title">Что в итоге</h3>

      <h6 class="smm-keys-info__subtitle">
        Оформили страничку, посты и сторис в едином стиле, подача материала в виде инфографики
      </h6>

      <ul class="smm-keys-info-list">
        <li class="smm-keys-info-list__item">
          <div class="smm-keys-info-list__head">
            <h4 class="smm-keys-info-list__title">Обложка</h4>

            <p class="smm-keys-info-list__text">Разработали десктопную и мобильную обложки</p>
          </div>

          <div class="smm-keys-info-list__img">
            <img src="./assets/images/smm-keys/smm-info-1.png" alt="smm-info">
          </div>
        </li>

        <li class="smm-keys-info-list__item">
          <div class="smm-keys-info-list__head">
            <h4 class="smm-keys-info-list__title">Меню</h4>

            <p class="smm-keys-info-list__text">Создали удобное меню, где собрали всю важную информацию</p>
          </div>

          <div class="smm-keys-info-list__img">
            <img src="./assets/images/smm-keys/smm-info-2.png" alt="smm-info">
          </div>
        </li>

        <li class="smm-keys-info-list__item">
          <div class="smm-keys-info-list__head">
            <h4 class="smm-keys-info-list__title">Услуги</h4>

            <p class="smm-keys-info-list__text">Оформили карточки услуг</p>
          </div>

          <div class="smm-keys-info-list__img">
            <img src="./assets/images/smm-keys/smm-info-3.png" alt="smm-info">
          </div>
        </li>

        <li class="smm-keys-info-list__item">
          <div class="smm-keys-info-list__head">
            <h4 class="smm-keys-info-list__title">Виджеты</h4>

            <p class="smm-keys-info-list__text">Для удобства пользователей сделали обложки виджетов</p>
          </div>

          <div class="smm-keys-info-list__img">
            <img src="./assets/images/smm-keys/smm-info-4.png" alt="smm-info">
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="import-drinks-templates smm-keys-templates">
    <div class="smm-keys-templates-head">
      <h4 class="smm-keys-templates__title">Посты и сторис</h4>

      <h6 class="smm-keys-templates__text">Разработали информационные посты и сторис (инфографика)</h6>
    </div>

    <div class="import-drinks-templates__container">
      <div class="import-drinks-templates__bg smm-keys-templates__bg"></div>

      <div class="import-drinks-templates__box">
        <ul class="import-drinks-templates-list">
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-1.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-2.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-3.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-4.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-5.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-6.png" alt="template">
          </li>
        </ul>
      </div>

      <div class="import-drinks-templates__box">
        <ul class="import-drinks-templates-list">
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-7.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-8.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-9.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-10.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-11.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-12.png" alt="template">
          </li>
          <li class="import-drinks-templates-list__item">
            <img src="./assets/images/smm-keys/smm-templates-13.png" alt="template">
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="smm-keys-target">
    <div class="smm-keys-target-head">
      <h3 class="smm-keys-target__title">Привлечение подписчиков с помощью таргета</h3>

      <p class="smm-keys-target__text">
        Ежемесячно запускается реклама с учётом разной целевой аудитории. Были продуманы креативы.
      </p>
    </div>

    <div class="swiper smm-keys-target-swiper">
      <div class="swiper-wrapper smm-keys-target-swiper-wrapper">
        <div class="swiper-slide smm-keys-target-swiper-slide">
          <img src="./assets/images/smm-keys/smm-target-1.jpg" alt="target">
        </div>
        <div class="swiper-slide smm-keys-target-swiper-slide">
          <img src="./assets/images/smm-keys/smm-target-2.jpg" alt="target">
        </div>
        <div class="swiper-slide smm-keys-target-swiper-slide">
          <img src="./assets/images/smm-keys/smm-target-3.jpg" alt="target">
        </div>
        <div class="swiper-slide smm-keys-target-swiper-slide">
          <img src="./assets/images/smm-keys/smm-target-4.jpg" alt="target">
        </div>
        <div class="swiper-slide smm-keys-target-swiper-slide">
          <img src="./assets/images/smm-keys/smm-target-5.jpg" alt="target">
        </div>
        <div class="swiper-slide smm-keys-target-swiper-slide">
          <img src="./assets/images/smm-keys/smm-target-1.jpg" alt="target">
        </div>
        <div class="swiper-slide smm-keys-target-swiper-slide">
          <img src="./assets/images/smm-keys/smm-target-2.jpg" alt="target">
        </div>
        <div class="swiper-slide smm-keys-target-swiper-slide">
          <img src="./assets/images/smm-keys/smm-target-3.jpg" alt="target">
        </div>
        <div class="swiper-slide smm-keys-target-swiper-slide">
          <img src="./assets/images/smm-keys/smm-target-4.jpg" alt="target">
        </div>
        <div class="swiper-slide smm-keys-target-swiper-slide">
          <img src="./assets/images/smm-keys/smm-target-5.jpg" alt="target">
        </div>
      </div>
    </div>

    <div class="smm-keys-target-bullets">
    </div>
  </div>

  <div class="smm-keys-result">
    <div class="smm-keys-result-bg">
      <div class="smm-keys-result-bg__fill"></div>
    </div>

    <div class="smm-keys-result-container">
      <div class="smm-keys-result-info">
        <h3 class="smm-keys-result__title">Результаты</h3>

        <div class="smm-keys-result__text">
          <span>Cентябрь 2022 — </span>
          <span>март 2023</span>
        </div>
      </div>

      <ul class="smm-keys-result-list">
        <li class="smm-keys-result-list__item">
          <div class="smm-keys-result-list__box">
            <h4 class="smm-keys-result-list__title">27 388 ₽ </h4>

            <p class="smm-keys-result-list__text">Сумма расходов с сентября 2022</p>
          </div>
          <div class="smm-keys-result-list__box">
            <h4 class="smm-keys-result-list__title">280</h4>

            <p class="smm-keys-result-list__text">Переходов по ссылке</p>
          </div>
        </li>
        <li class="smm-keys-result-list__item">
          <div class="smm-keys-result-list__box">
            <h4 class="smm-keys-result-list__title">147 431</h4>

            <p class="smm-keys-result-list__text">Показов</p>
          </div>
          <div class="smm-keys-result-list__box">
            <h4 class="smm-keys-result-list__title">97,81 ₽</h4>

            <p class="smm-keys-result-list__text">CPC (цена клика)</p>
          </div>
        </li>
        <li class="smm-keys-result-list__item">
          <div class="smm-keys-result-list__box">
            <h4 class="smm-keys-result-list__title">0,18%</h4>

            <p class="smm-keys-result-list__text">CTR (коэффициент кликабельности)</p>
          </div>
          <div class="smm-keys-result-list__box">
            <h4 class="smm-keys-result-list__title">102-194</h4>

            <p class="smm-keys-result-list__text">Прирост подписчиков</p>
          </div>
        </li>
        <li class="smm-keys-result-list__item">
          <div class="smm-keys-result-list__box">
            <h4 class="smm-keys-result-list__title">14</h4>

            <p class="smm-keys-result-list__text">Среднее количество лайков</p>
          </div>
          <div class="smm-keys-result-list__box">
            <h4 class="smm-keys-result-list__title">4,39%</h4>

            <p class="smm-keys-result-list__text">Вовлеченность</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="import-drinks-concept smm-keys-concept">
    <h3 class="smm-keys-concept__title">Генерация контента для страницы</h3>

    <div class="import-drinks-concept__inner">
      <div class="import-drinks-concept-box">
        <div class="import-drinks-concept-box__top">
          <a href="./assets/images/smm-keys/smm-concept-1.jpg" class="import-drinks-concept-box__img" data-fancybox>
            <img src="./assets/images/smm-keys/smm-concept-1.jpg" alt="concept">
          </a>
          <a href="./assets/images/smm-keys/smm-concept-2.jpg"
            class="import-drinks-concept-box__img import-drinks-concept-box__img_mask" data-fancybox>
            <img src="./assets/images/smm-keys/smm-concept-2.jpg" alt="concept">
          </a>
        </div>
        <div class="import-drinks-concept-box__bottom">
          <a href="./assets/images/smm-keys/smm-concept-4.jpg" class="import-drinks-concept-box__img" data-fancybox>
            <img src="./assets/images/smm-keys/smm-concept-4.jpg" alt="concept">
          </a>
          <a href="./assets/images/smm-keys/smm-concept-5.jpg" class="import-drinks-concept-box__img" data-fancybox>
            <img src="./assets/images/smm-keys/smm-concept-5.jpg" alt="concept">
          </a>
        </div>
      </div>

      <div class="import-drinks-concept-box">
        <div class="import-drinks-concept-box__bottom">
          <a href="./assets/images/smm-keys/smm-concept-3.jpg" class="import-drinks-concept-box__img" data-fancybox>
            <img src="./assets/images/smm-keys/smm-concept-3.jpg" alt="concept">
          </a>
        </div>
        <div class="import-drinks-concept-box__top">
          <a href="./assets/images/smm-keys/smm-concept-6.jpg"
            class="import-drinks-concept-box__img import-drinks-concept-box__img_circle" data-fancybox>
            <img src="./assets/images/smm-keys/smm-concept-6.jpg" alt="concept">
          </a>
          <a href="./assets/images/smm-keys/smm-concept-7.jpg" class="import-drinks-concept-box__img" data-fancybox>
            <img src="./assets/images/smm-keys/smm-concept-7.jpg" alt="concept">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="import-drinks-main smm-keys-card">
    <h3 class="smm-keys-card__title">
      Разработка открыток
      <span>для клиентов и партнёров</span>
    </h3>

    <div class="import-drinks-main-container">
      <div class="import-drinks-main-inner">
        <div class="import-drinks-main-item">
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-1.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-2.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-3.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-4.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-5.jpg" alt="import-drinks">
          </div>
        </div>
        <div class="import-drinks-main-item">
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-6.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-7.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-8.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-9.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-10.jpg" alt="import-drinks">
          </div>
        </div>
        <div class="import-drinks-main-item">
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-1.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-3.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-6.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-2.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-10.jpg" alt="import-drinks">
          </div>
        </div>
        <div class="import-drinks-main-item">
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-10.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-8.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-9.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-4.jpg" alt="import-drinks">
          </div>
          <div class="import-drinks-main-item__img">
            <img src="./assets/images/smm-keys/smm-cadr-2.jpg" alt="import-drinks">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="import-drinks-conclusion">
    <div class="import-drinks-conclusion__head">
      <h4 class="import-drinks-task__title import-drinks-conclusion__title">Заключение</h4>
      <p class="import-drinks-conclusion__subtitle">
        В итоге мы отладили присутствие компании в социальных сетях:
      </p>
      <div class="import-drinks-conclusion__description">
        <ul>
          <li>Создали и оформили сообщество в фирменном стиле компании</li>
          <li>Привлекли целевую аудиторию</li>
          <li>Разработали и запустили креативы на рекламу</li>
          <li>Отсняли контент (фото/видео) с сотрудниками компании.</li>
          <li>На сегодняшний день работы по привлечению целевой аудитории и по генерации уникального контента
            продолжаются.</li>
        </ul>
      </div>
    </div>

    <a href="#" class="import-drinks-conclusion__container">
      <div class="import-drinks-conclusion-bg">
        <div class="import-drinks-conclusion-bg__img">
          <img src="./assets/images/smm-keys/smm-finish.jpg" alt="conclusion">
        </div>
      </div>
      <div class="import-drinks-conclusion-content">
        <p class="import-drinks-conclusion-content__text">Следующий кейс</p>
        <h3 class="import-drinks-conclusion-content__title">В надёжных руках</h3>
      </div>
    </a>
  </div>

</section>