<div class="team">
  <div class="team-container">

    <h3 class="team-title">Наша команда </h3>

    <div class="team-inner">

      <div class="team-img">
        <img class="team-img__img" src="assets/images/team-3.jpg" alt="portret">
      </div>

      <ul class="team-list">
        <li class="team-list-item" data-img="assets/images/team-1.jpg">
          <span class="team-list-item__name">Денис Дубовсков</span>
          <span class="team-list-item__post">CEO & Founder </span>
        </li>
        <li class="team-list-item" data-img="assets/images/team-1.jpg">
          <span class="team-list-item__name">Татьяна Одинцова</span>
          <span class="team-list-item__post">Главный бухгалтер</span>
        </li>
        <li class="team-list-item" data-img="assets/images/team-2.jpg">
          <span class="team-list-item__name">Анастасия Макарчук</span>
          <span class="team-list-item__post">Product Owner</span>
        </li>
        <li class="team-list-item" data-img="assets/images/team-2.jpg">
          <span class="team-list-item__name">Николай Длужанский</span>
          <span class="team-list-item__post">Project Manager</span>
        </li>
        <li class="team-list-item" data-img="assets/images/team-3.jpg">
          <span class="team-list-item__name">Виктория Петреева</span>
          <span class="team-list-item__post">Executive Director</span>
        </li>
        <li class="team-list-item" data-img="assets/images/team-3.jpg">
          <span class="team-list-item__name">Демченко Павел</span>
          <span class="team-list-item__post">UX/UI-дизайнер</span>
        </li>
      </ul>
    </div>

  </div>
</div>