<div class="types">
  <h3 class="types__title">
    Разработка сайтов под любую
    <span>
      задачу бизнеса
    </span>
  </h3>

  <ul class="types-list">
    <li class="types-list-item" data-img="assets/images/types-1.jpg" data-open>
      <h4 class="types-list-item__title">
        Корпоративный сайт
      </h4>

      <div class="types-list-item-content">
        <p class="types-list-item__text">
          Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение поведенческого
          фактора, учет трендов дизайна.
        </p>
        <span class="types-list-item__price">
          От 1 000 000 ₽
        </span>
      </div>

      <a href="#" class="types-list-item__link">
        <svg>
          <use href="#link-arrow-icon"></use>
        </svg>
      </a>
    </li>

    <li class="types-list-item" data-img="assets/images/types-2.jpg">
      <h4 class="types-list-item__title">
        Интернет магазин
      </h4>

      <div class="types-list-item-content">
        <p class="types-list-item__text">
          Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение поведенческого
          фактора, учет трендов дизайна.
        </p>
        <span class="types-list-item__price">
          От 1 000 000 ₽
        </span>
      </div>

      <a href="#" class="types-list-item__link">
        <svg>
          <use href="#link-arrow-icon"></use>
        </svg>
      </a>
    </li>

    <li class="types-list-item" data-img="assets/images/types-3.jpg">
      <h4 class="types-list-item__title">
        Landing Page
      </h4>

      <div class="types-list-item-content">
        <p class="types-list-item__text">
          Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение поведенческого
          фактора, учет трендов дизайна.
        </p>
        <span class="types-list-item__price">
          От 1 000 000 ₽
        </span>
      </div>

      <a href="#" class="types-list-item__link">
        <svg>
          <use href="#link-arrow-icon"></use>
        </svg>
      </a>
    </li>

    <li class="types-list-item" data-img="assets/images/types-1.jpg">
      <h4 class="types-list-item__title">
        Техподдержка сайтов
      </h4>

      <div class="types-list-item-content">
        <p class="types-list-item__text">
          Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение поведенческого
          фактора, учет трендов дизайна.
        </p>
        <span class="types-list-item__price">
          От 1 000 000 ₽
        </span>
      </div>

      <a href="#" class="types-list-item__link">
        <svg>
          <use href="#link-arrow-icon"></use>
        </svg>
      </a>
    </li>

    <li class="types-img">
      <img src="" alt="types">
    </li>
  </ul>

  
</div>