<section class="vacancy">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Вакансии
    </a>
  </div>

  <div class="development-head vacancy-head">
    <h1 class="development-head__title">
      Вакансии Orange DM
    </h1>

    <h3 class="development-head__subtitle">
      Именно от профессионализма, сплочённости и целеустремлённости команды зависит успешность бизнеса
    </h3>

    <div class="development-head-info vacancy-head-info">
      <p class="development-head__text vacancy-head-info__text">
        Мы заинтересованы в сотрудничестве с квалифицированными специалистами, имеющими знания и профессиональный опыт,
        творческий потенциал и высокую мотивацию к труду и собственному развитию.
      </p>
    </div>
  </div>

  <div class="vacancy-guarantee">
    <h4 class="vacancy-guarantee__title">Мы гарантируем</h4>
    <ul>
      <li>Строгое соблюдение всех норм Трудового кодекса</li>
      <li>Необходимые условия для самореализации</li>
      <li>Конкурентоспособный компенсационный пакет</li>
      <li>Стабильность, надежность и уверенность в завтрашнем дне</li>
      <li>Социальные программы и поддержку</li>
    </ul>
  </div>

  <div class="vacancy-open">
    <h3 class="vacancy-open__title">Открытые вакансии</h3>

    <div class="swiper vacancy-open-filter">
      <div class="swiper-wrapper vacancy-open-filter-container">
        <li class="swiper-slide works-tag__item vacancy-open-filter__item">
          <button class="default-tag default-tag_white">Все</button>
        </li>
        <li class="swiper-slide works-tag__item vacancy-open-filter__item">
          <button class="default-tag default-tag_white">Разработка сайта</button>
        </li>
        <li class="swiper-slide works-tag__item vacancy-open-filter__item">
          <button class="default-tag default-tag_white">Менеджмент</button>
        </li>
        <li class="swiper-slide works-tag__item vacancy-open-filter__item">
          <button class="default-tag default-tag_white">UX/UI дизайн</buttonhref=>
        </li>
        <li class="swiper-slide works-tag__item vacancy-open-filter__item">
          <button class="default-tag default-tag_white">SMM</button>
        </li>
      </div>
    </div>

    <div class="swiper vacancy-open-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="vacancy-open-list">
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                PR/SMM специалист
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Разработчик 1С Битрикс
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Project Manager
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Project Manager
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="vacancy-open-list">
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                PR/SMM специалист
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Разработчик 2С Битрикс
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Project Manager
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Project Manager
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="vacancy-open-list">
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                PR/SMM специалист
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Разработчик 3С Битрикс
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Project Manager
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Project Manager
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="vacancy-open-list">
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                PR/SMM специалист
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Разработчик 1С Битрикс
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Project Manager
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Project Manager
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="vacancy-open-list">
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                PR/SMM специалист
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Разработчик 2С Битрикс
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Project Manager
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="vacancy-open-list-item">
              <span class="vacancy-open-list-item__text">
                Project Manager
              </span>
              <a href="#" class="vacancy-open-list-item__link">
                <svg>
                  <use href="#link-arrow-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="digital-pack vacancy-pack">
    <div class="digital-pack-container">

      <div class="digital-pack-bg vacancy-pack-bg">
        <div class="digital-pack-bg__fill vacancy-pack-bg__fill">
          <div class="vacancy-pack-bg__img">
            <img src="./assets/images/vacancy-pack-left.png" alt="arrow">
          </div>
          <div class="vacancy-pack-bg__img">
            <img src="./assets/images/vacancy-pack-right.png" alt="arrow">
          </div>
        </div>
      </div>

      <div class="digital-pack-content">
        <h3 class="digital-pack__title">
          Не нашли подходящей вакансии,
          <span>
            но хотите работать в Orange DM?
          </span>
        </h3>

        <div class="digital-pack-inner">
          <p class="digital-pack__text">
            Если вы не нашли то, что искали, отправьте свое резюме. Возможно, мы просто еще не знаем, что нам нужны
            именно вы.
          </p>

          <a href="#" class="big-icon-btn digital-pack__btn">
            <div class="big-icon-btn-icon">
              <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
                <use href="#star-icon"></use>
              </svg>
              <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
                <use href="#star-icon"></use>
              </svg>
              <svg class="big-icon-btn-icon__arrow">
                <use href="#big-arrow-icon"></use>
              </svg>
            </div>

            <span class="big-icon-btn__text">
              Отправить резюме
            </span>
          </a>
        </div>
      </div>

    </div>
  </div>

</section>