<section class="video">
  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Видеопродакшн
    </a>
  </div>

  <div class="development-head video-head">
    <h1 class="development-head__title">
      Создание контента
      <span>
        для бизнеса в Краснодаре
      </span>
    </h1>

    <h3 class="development-head__subtitle">
      Сюжетно работаем с проблемами ваших клиентов
    </h3>

    <div class="development-head-info">
      <p class="development-head__text">
        Оставьте заявку и получите бесплатный расчет стоимости съемки!
      </p>

      <button type="button" class="big-icon-btn development-head__btn">
        <div class="big-icon-btn-icon">
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_1">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__star big-icon-btn-icon__star_2">
            <use href="#star-icon"></use>
          </svg>
          <svg class="big-icon-btn-icon__arrow">
            <use href="#big-arrow-icon"></use>
          </svg>
        </div>

        <span class="big-icon-btn__text">
          Оставить
          заявку
        </span>
      </button>
    </div>
  </div>

  <div class="types video-types">
    <h3 class="types__title">
      Фото и видеоконтент
      <span>
        под любую задачу бизнеса
      </span>
    </h3>

    <ul class="types-list video-types-list">
      <li class="types-list-item" data-img="assets/images/types-1.jpg" data-open>
        <h4 class="types-list-item__title">
          Фотосъемка для бизнеса
        </h4>

        <div class="types-list-item-content">
          <p class="types-list-item__text">
            Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение
            поведенческого
            фактора, учет трендов дизайна.
          </p>
          <span class="types-list-item__price">
            от 1 500 ₽ час
          </span>
          <div class="types-list-item__img">
            <img src="assets/images/types-1.jpg" alt="types">
          </div>

          <a href="#" class="default-btn video-types__link">Оставить заявку</a>
        </div>
      </li>

      <li class="types-list-item" data-img="assets/images/types-3.jpg">
        <h4 class="types-list-item__title">
          Видеосъемка
        </h4>

        <div class="types-list-item-content">
          <p class="types-list-item__text">
            Проводим комплексную работу по разработке сайтов. В основе работы глубокая аналитика, улучшение
            поведенческого
            фактора, учет трендов дизайна.
          </p>
          <span class="types-list-item__price">
            от 1 500 ₽ час
          </span>
          <div class="types-list-item__img">
            <img src="assets/images/types-3.jpg" alt="types">
          </div>

          <a href="#" class="default-btn video-types__link">Оставить заявку</a>
        </div>
      </li>

      <li class="types-img-wrapper">
        <div class="types-img">
          <img src="assets/images/types-1.jpg" alt="types">
        </div>
      </li>
    </ul>
  </div>

  <div class="video-keys">
    <div class="video-keys-head">
      <h4 class="video-keys__title">Видео кейсы</h4>
      <p class="video-keys__text">
        Наша работа строится на поиске и реализации решений, которые будут закрывать "боль" вашей аудитории путем
        визуальной генерации контента.
      </p>
    </div>

    <div class="video-keys-list">
      <a href="https://youtu.be/n_wX2oddf38" class="video-keys-list-item" data-fancybox>
        <div class="video-keys-list-item__img">
          <img src="assets/images/video-1.jpg" alt="video">
          <svg>
            <use href="#play-icon"></use>
          </svg>
        </div>

        <div class="video-keys-list-item__description">
          <p>
            Обзорный ролик для вертолетной компании Panh Helicopters
          </p>
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </div>
      </a>
      <a href="https://youtu.be/n_wX2oddf38" class="video-keys-list-item" data-fancybox>
        <div class="video-keys-list-item__img">
          <img src="assets/images/video-2.jpg" alt="video">
          <svg>
            <use href="#play-icon"></use>
          </svg>
        </div>

        <div class="video-keys-list-item__description">
          <p>
            Обзорный ролик для вертолетной компании Panh Helicopters
          </p>
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </div>
      </a>
      <a href="https://youtu.be/n_wX2oddf38" class="video-keys-list-item" data-fancybox>
        <div class="video-keys-list-item__img">
          <img src="assets/images/video-3.jpg" alt="video">
          <svg>
            <use href="#play-icon"></use>
          </svg>
        </div>

        <div class="video-keys-list-item__description">
          <p>
            Обзорный ролик для вертолетной компании Panh Helicopters
          </p>
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </div>
      </a>
      <a href="https://youtu.be/n_wX2oddf38" class="video-keys-list-item" data-fancybox>
        <div class="video-keys-list-item__img">
          <img src="assets/images/video-4.jpg" alt="video">
          <svg>
            <use href="#play-icon"></use>
          </svg>
        </div>

        <div class="video-keys-list-item__description">
          <p>
            Обзорный ролик для вертолетной компании Panh Helicopters
          </p>
          <svg>
            <use href="#link-arrow-icon"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>

  <div class="development-stage video-stage">
    <div class="development-stage-container">

      <h3 class="development-stage__title">
        Этапы создания медиапродукта
      </h3>

      <div class="development-stage-inner">

        <h5 class="development-stage__subtitle">
          Работу по созданию медиапродукта мы начинаем с выявления боли клиента
        </h5>

        <div class="swiper development-stage-swiper">
          <div class="swiper-wrapper development-stage-swiper-wrapper">
            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Препродакшн</h4>
                <ul>
                  <li>
                    Создание концепции и идеи
                  </li>
                  <li>
                    Определение задачи ролика, его настроения и посыла
                  </li>
                  <li>
                    Написание сценария
                  </li>
                  <li>
                    Кастинг актеров
                  </li>
                  <li>
                    Подбор локаций
                  </li>
                  <li>
                    Составление режиссерского тритмента
                  </li>
                  <li>
                    Составление сметы
                  </li>
                  <li>
                    Определение съемных дней и тайминга
                  </li>
                  <li>
                    Подбор оборудования
                  </li>
                  <li>
                    Репетиции с актерами
                  </li>
                  <li>
                    Прописание Мизансцен
                  </li>
                  <li>
                    Написание раскадровок
                  </li>
                  <li>
                    Создание световых и цветовых схем
                  </li>
                  <li>
                    Монтаж Аниматика
                  </li>
                  <li>
                    Поиск саундтрека
                  </li>
                </ul>

              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Разработка макета</h4>
                <p>
                  Любой проект начинается с погружения в специфику бизнеса заказчика. Мы собираем и анализируем
                  требования,
                  изучаем особенности работы компании и конкурентов, смотрим на потребности клиентов. В работе
                  используем
                </p>
                <ul>
                  <li>Показатели Яндекс.Метрики и Google Analytics</li>
                  <li>Глубинные интервью с клиентом и совместные мозговые штурмы</li>
                  <li>Аудит сайтов конкурентов</li>
                </ul>
                <p>
                  В результате получаем полную картину проекта с четко сформулированными целями и задачами.
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Разработка</h4>
                <p>
                  Любой проект начинается с погружения в специфику бизнеса заказчика. Мы собираем и анализируем
                  требования,
                  изучаем особенности работы компании и конкурентов, смотрим на потребности клиентов. В работе
                  используем
                </p>
                <ul>
                  <li>Показатели Яндекс.Метрики и Google Analytics</li>
                  <li>Глубинные интервью с клиентом и совместные мозговые штурмы</li>
                  <li>Аудит сайтов конкурентов</li>
                </ul>
                <p>
                  В результате получаем полную картину проекта с четко сформулированными целями и задачами.
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Запуск проекта</h4>
                <p>
                  Любой проект начинается с погружения в специфику бизнеса заказчика. Мы собираем и анализируем
                  требования,
                  изучаем особенности работы компании и конкурентов, смотрим на потребности клиентов. В работе
                  используем
                </p>
                <ul>
                  <li>Показатели Яндекс.Метрики и Google Analytics</li>
                  <li>Глубинные интервью с клиентом и совместные мозговые штурмы</li>
                  <li>Аудит сайтов конкурентов</li>
                </ul>
                <p>
                  В результате получаем полную картину проекта с четко сформулированными целями и задачами.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="development-stage-timeline">
      <div class="development-stage-timeline__marker">01</div>
    </div>

    <div class="development-stage-pagination"></div>

  </div>

  <div class="development-questions">
    <h4 class="development-questions__title">
      Постарались ответить
      <span>
        на самые распространенные вопросы
      </span>
    </h4>

    <ul class="development-questions-list">
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          От чего зависит срок разработки сайта?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Нужна ли аналитика в процессе разработки сайта?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Как выглядит результат этапа «Прототипирование»?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
      <li class="dropdown development-questions-list-item" data-click>
        <button class="dropdown-btn development-questions-list-item__btn">
          Можно ли оплачивать сайт по частям?
          <span class="development-questions-list-item__icon"></span>
        </button>

        <div class="dropdown-content development-questions-list-item__content">
          <p>
            Специалисты выясняют:
          </p>

          <ul>
            <li>
              уникальное торговое предложение заказчика,
            </li>
            <li>
              пути решения основных болей целевой аудитории,
            </li>
            <li>
              цели и задачи сайта.
            </li>
          </ul>
          <p>
            Полученные в результате исследования данные помогают сформировать структуру сайта. Результат исследования
            представляется клиенту в виде схемы/структуры.
          </p>
        </div>
      </li>
    </ul>
  </div>

</section>