<section class="yablo">

  <div class="page-nav">
    <a href="#" class="page-nav__link">
      Главная
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Кейсы
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Видео продакшн
    </a>
    <a href="#" class="page-nav__link">
      <svg>
        <use href="#arrow-icon"></use>
      </svg>
      Процесс работы над роликом «Ябло» для паба «Петров-Водкин»
    </a>
  </div>

  <div class="smm-keys-head">
    <div class="smm-keys-head-container">
      <h1 class="smm-keys-head__title">Процесс работы над роликом «Ябло» <br /> для паба «Петров-Водкин»</h1>

      <div class="smm-keys-head-inner">
        <p class="smm-keys-head__text">
          Чтобы понять, какой инструмент продвижения выбрать и как мы можем вам помочь — заказать консультацию.
          Она абсолютно бесплатна, позволит прояснить задачи в проекте. Можем провести встречу онлайн или у нас в офисе.
          Заполните бриф или позвоните по телефону <strong>+7 900 283-03-33</strong> согласуем формат и удобное время.
        </p>

        <div class="smm-keys-head-labels">
          <h3 class="default-tag default-tag_white">Видео продакшн</h3>
        </div>
      </div>
    </div>

    <div class="smm-keys-head-img-container">
      <div class="smm-keys-head-img">
        <img src="./assets/images/yablo/yablo-main.jpg" alt="smm-head">
      </div>
    </div>

    <div class="smm-keys-head-container">
      <div class="smm-keys-head-description">
        <div class="smm-keys-head-description__item">
          <h4 class="smm-keys-head-description__title">Задача</h4>

          <div class="smm-keys-head-description__info">
            <p>
              Реклама нового продукта — Яблочный сидр «Ябло Кубани». Напиток уменьшил содержимое в себе количество
              сахара и стал сухим
            </p>
          </div>
        </div>

        <div class="smm-keys-head-description__item">
          <h4 class="smm-keys-head-description__title">Цель съемки</h4>

          <div class="smm-keys-head-description__info">
            <p>
              Снять ролик, который расскажет аудитории заведения об обновлении продукта «Ябло Кубани»
            </p>
          </div>
        </div>

        <div class="smm-keys-head-description__item">
          <h4 class="smm-keys-head-description__title">Хронометраж</h4>

          <div class="smm-keys-head-description__info">
            <p>
              Ролик до 1 минуты. Клиент дал творческую свободу команде, что значительно облегчило подбор идей
              и стилистик
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="development-stage">
    <div class="development-stage-container">

      <h3 class="development-stage__title">
        Этапы создания медиапродукта
      </h3>

      <div class="development-stage-inner">

        <h5 class="development-stage__subtitle">
          Работу по созданию видеоролика начинаем
          с проработки идеи и концепции
        </h5>

        <div class="swiper development-stage-swiper">
          <div class="swiper-wrapper development-stage-swiper-wrapper">
            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Препродакшн</h4>
                <p>
                  Был проведён мозговой штурм по определению концепции ролика, его хронометража, стилистики и музыки.
                  В итоге была выбрана стилистика ситкомов 90-х– 2000-х годов. В качестве референсов были выбраны
                  сериалы «Друзья» и «Теория большого взрыва». Была подобрана световая схема, прописаны раскадровки
                  и сделан аниматик
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Продакшн</h4>
                <p>
                  Суммарно на съемку было потрачено приблизительно 5 часов. В процессе съемок было много комбинаций
                  перестановок света и камеры, чтобы найти идеальный кадр
                </p>
              </div>
            </div>

            <div class="swiper-slide development-stage-swiper-slide">
              <div class="development-stage-swiper-slide__img">
                <img src="assets/images/stage-1.png" alt="stage">
              </div>

              <div class="development-stage-swiper-slide-inner">
                <h4>Постпродакшн</h4>
                <p>
                  Была произведена переозвучка ролика. Сначала поверх русской речи актёров, был написан текст
                  на английском языке, впоследствии уже переозвученный текст был переведён на русский, что добавило
                  в ролик атмосферу «той самой озвучки из детства». Цветовая палитра была выбрана приближённой
                  к монохрому. На изображение был нанесён искусственный шум от плёнки, чтобы сделать изображение более
                  старым и менее «чистым»
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="development-stage-timeline">
      <div class="development-stage-timeline__marker">01</div>
    </div>

    <div class="development-stage-pagination"></div>

  </div>

  <div class="import-drinks-concept yablo-concept">
    <div class="import-drinks-task-head import-drinks-project__head">
      <h4 class="import-drinks-task__title">Поиск концепции</h4>

      <div class="import-drinks-task__description">
        <p>
          Был проведён мозговой штурм по определению концепции ролика, его хронометража, стилистики и музыки. В итоге
          была выбрана стилистика ситкомов 90-х– 2000-х годов. В качестве референсов были выбраны сериалы «Друзья»
          и «Теория большого взрыва». Была подобрана световая схема, прописаны раскадровки и сделан аниматик
        </p>
      </div>
    </div>

    <div class="import-drinks-concept__wrapper">
      <div class="import-drinks-concept__container">
        <div class="import-drinks-concept__inner">
          <a href="./assets/images/yablo/yablo-concept-1.jpg" data-fancybox class="import-drinks-concept__img">
            <img src="./assets/images/yablo/yablo-concept-1.jpg" alt="concept">
          </a>
          <a href="./assets/images/yablo/yablo-concept-2.jpg" data-fancybox
            class="import-drinks-concept__img import-drinks-concept__img_masked">
            <img src="./assets/images/yablo/yablo-concept-2.jpg" alt="concept">
          </a>
        </div>
        <div class="import-drinks-concept__inner">
          <a href="./assets/images/yablo/yablo-concept-3.jpg" data-fancybox class="import-drinks-concept__img">
            <img src="./assets/images/yablo/yablo-concept-3.jpg" alt="concept">
          </a>
        </div>
      </div>
      <div class="import-drinks-concept__container">
        <div class="import-drinks-concept__inner">
          <a href="./assets/images/yablo/yablo-concept-4.jpg" data-fancybox class="import-drinks-concept__img">
            <img src="./assets/images/yablo/yablo-concept-4.jpg" alt="concept">
          </a>
          <a href="./assets/images/yablo/yablo-concept-5.jpg" data-fancybox class="import-drinks-concept__img">
            <img src="./assets/images/yablo/yablo-concept-5.jpg" alt="concept">
          </a>
        </div>
        <div class="import-drinks-concept__inner">
          <a href="./assets/images/yablo/yablo-concept-6.jpg" data-fancybox
            class="import-drinks-concept__img import-drinks-concept__img_circle">
            <img src="./assets/images/yablo/yablo-concept-6.jpg" alt="concept">
          </a>
          <a href="./assets/images/yablo/yablo-concept-7.jpg" data-fancybox class="import-drinks-concept__img">
            <img src="./assets/images/yablo/yablo-concept-7.jpg" alt="concept">
          </a>
        </div>
      </div>
    </div>

    <div class="swiper import-drinks-concept-swiper">
      <div class="swiper-wrapper import-drinks-concept-swiper-wrapper"></div>
    </div>
    <div class="import-drinks-concept-bullets"></div>
  </div>

  <div class="import-drinks-task">
    <div class="import-drinks-task-head">
      <h4 class="import-drinks-task__title">Что в итоге</h4>
    </div>

    <div class="import-drinks-task-inner">
      <div class="import-drinks-task-bg"></div>

      <a href="https://youtu.be/n_wX2oddf38" class="import-drinks-task-video" data-fancybox>
        <img src="./assets/images/yablo/yablo-result.jpg" alt="drinks">
        <svg>
          <use href="#play-icon_white"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="import-drinks-project">
    <div class="import-drinks-task-head import-drinks-project__head">
      <h4 class="import-drinks-task__title">Бэкстейдж</h4>
    </div>

    <div class="import-drinks-project__inner">
      <div class="import-drinks-project__bg">
        <img src="assets/images/import-drinks/project-line.svg" alt="line">
      </div>

      <div class="import-drinks-project__content">
        <a href="./assets/images/yablo/yablo-result.jpg" class="import-drinks-project__img" data-fancybox>
          <img src="./assets/images/yablo/yablo-backstage.jpg" alt="project-scheme">
        </a>
      </div>
    </div>
  </div>

  <div class="import-drinks-conclusion yablo-conclusion">
    <div class="import-drinks-conclusion__head">
      <h4 class="import-drinks-task__title import-drinks-conclusion__title">Заключение</h4>
      <p class="import-drinks-conclusion__subtitle">
        В конечном итоге получился ролик со стилистикой классических ситкомов
      </p>
      <p class="import-drinks-conclusion__description">
        Благодаря игре слов с нецензурной речью, рекламирует обновление продукта «Ябло… Теперь сухое…»
      </p>
    </div>

    <a href="#" class="import-drinks-conclusion__container">
      <div class="import-drinks-conclusion-bg">
        <div class="import-drinks-conclusion-bg__img">
          <img src="./assets/images/yablo/yablo-conclusion.jpg" alt="conclusion">
        </div>
      </div>
      <div class="import-drinks-conclusion-content">
        <p class="import-drinks-conclusion-content__text">Следующий кейс</p>
        <h3 class="import-drinks-conclusion-content__title">Промтехбизнес</h3>
      </div>
    </a>
  </div>

</section>